font{ font-size:12px;}
table{ border-color:#CCCCCC;}
table tr{ border-color:#CCCCCC;}
table td{ border-color:#CCCCCC;}
a:link, a:visited, a:active { color:#4b4b4b; text-decoration:none; }
a:hover{ color:#4b4b4b; text-decoration:underline; }
html,body{ font-size:12px; text-align:center; width:100%; color:#4b4b4b;}

/*---------------head-------------------------------------*/
.top{  height:111px; margin-bottom:5px; }
.topb{ width:910px; margin:0px auto; text-align:left; }
.toplogo{ float:left; width:190px; }
.nav{ float:left; width:710px;}
.time{ text-align:right; padding-top:3px; height:48px; overflow:hidden;}
.time .timet_top{ height:20px; line-height:20px;}
.time .timet_top span{ padding:0px 5px; *padding:0px 8px;}
.time .seo{ height:20px; line-height:20px; }
ul.navul li{ float:left; text-align:center; margin-right:2px; font-weight:bold; position:relative;}
ul.navul li a{ float:left; height:29px; width:84px; overflow:hidden;}
ul.navul li a span{ display:block; font-size:12px; line-height:32px; *line-height:34px; }
ul.navul li a:hover span{ cursor:pointer;}
div.nav_ul2{ position:absolute; top:33px; left:-50%; height:30px; overflow:hidden;  }
div.nav_ul2 div{ float:left; height:30px; line-height:30px; }
div.nav_ul2 div a{ float:left; font-weight:normal; font-size:13px;}
.nav ul li a.onnav{ height:29px; }
.tobnav{ padding-top:6px; clear:both; }
.tobnav ul li{ float:left; height:25px; line-height:25px; padding:0px 10px; font-size:13px;}
.headflash div.flash{ width:910px; margin:3px auto; overflow:hidden;}
 
/*----------------index-----------------------------------*/
.main{ margin-top:5px; width:910px; margin:0px auto; text-align:left; overflow:hidden; }
.main_obj{ width:910px; overflow:hidden; font-size:0px; padding-top:5px;}
.main div.flash{ float:left; width:705px; height:280px; overflow:hidden; margin-right:5px; }
.main_top_right{ float:left; width:200px; height:280px; overflow:hidden;}
.main_top_right div.title{ font-weight:bold; font-size:14px; height:30px; line-height:30px; }
.main_top_right div.title span{ padding-left:20px; }
.main_top_right .main_content{ padding:8px; padding-top:2px; }
.main_center{ padding-top:5px;}
.main_center div.md{ width:298px; float:left; overflow:hidden; }
.main_center div.cdiv2{ padding:0px 8px;}
div.md div.title{ height:32px; line-height:32px; overflow:hidden; }
div.md div.title div{ float:right; padding-right:10px; padding-top:4px;}
div.md div.title span{ display:block; padding-left:20px; font-weight:bold; font-size:14px; padding-top:4px; }
div.md div.main_content{ padding:5px; _width:286px; overflow:hidden;}
div.b{ height:15px; overflow:hidden; font-size:0px; }
div.b div{ width:15px; font-size:0px; height:15px; overflow:hidden;}

div.md div.main_content ul.index_newslist{ padding-left:13px;}
div.md div.main_content ul.index_newslist li{ height:22px; line-height:22px; overflow:hidden; padding-left:14px; }
div.md div.main_content ul.index_newslist li span{ float:right; padding:0px 6px; }

.main_bottom{  padding-top:5px; clear:both; *padding-top:3px; _padding-top:5px; }
.main_bottom div.md ul.index_newslist li{ padding-left:0px !important; }
.main_bottom div.bleft{ float:left; width:298px; overflow:hidden; padding-right:6px;}
.main_bottom div.bright{ float:left; width:606px; overflow:hidden;}
.main_bottom div.bright div.title{ height:32px; line-height:32px; overflow:hidden; }
.main_bottom div.bright div.main_content{ padding:5px; _width:594px; overflow:hidden;}
.main_bottom div.md ul.index_case{ _border:1px solid #FFFFFF;}
.main_bottom div.md ul.index_case li{ float:left; text-align:center; padding:6px;}
.main_bottom div.md ul.index_case li img{ padding:2px;}
.main_bottom div.md ul.index_case li span{ display:block; height:20px; line-height:20px; overflow:hidden;}
.indexlinks{ clear:both; padding-top:5px;}
.linkcontent{ border:1px solid #ededed; background:#FDFDFD; padding:5px;}
.linkcontent ul li{ display:inline; padding:0px 10px; }
.linkcontent ul li img{ width:88px; height:31px; border:1px solid #dedede;}

/*-----------------------footer---------------------------*/
.footer{ width:910px; margin:0px auto; padding-top:5px; }
.footnav{ text-align:center; height:30px; line-height:30px; width:100%;}
.footnav span{ padding:0px 5px; *padding:0px 8px;}
.foottext{ padding:5px 0px; text-align:center; line-height:18px;}

/*-------------------web---------------------------------------------*/
.web{ width:910px; margin:0px auto; text-align:left;}
.webleft{ width:180px; float:left; overflow:hidden; padding-bottom:10px; margin-top:1px; }
.web_left_title,.met_online{ height:32px; line-height:32px; overflow:hidden; }
.aq .web_left_title{ margin-bottom:4px;}
.web_left_title span{ font-size:14px; padding-left:22px; display:block; padding-top:3px; font-weight:bold; }
.aq .web_left_title span{ padding-left:18px;}
.aq ul{ padding-left:15px;}
.aq ul li{ height:20px; line-height:20px; overflow:hidden; padding-left:10px; width:140px; }
.webleft_content{ height:auto !important; height:220px; min-height:220px; _width:178px; }
.leftlist ul{ padding-left:15px; padding-top:5px;}
.leftlist ul li{ height:25px; line-height:25px; overflow:hidden; padding-left:16px; }
.leftlist li.li_class3{ padding-left:20px; }

.met_online{ font-size:14px; padding-left:22px; padding-top:3px; font-weight:bold; margin-top:5px;}
.webcontact{ padding:5px; line-height:20px; }

.memberul{ overflow:hidden; padding-left:15px;}
.memberul li{ height:25px; line-height:25px; overflow:hidden; padding-left:16px; overflow:hidden; }
.met_onlinelist{ line-height:20px; padding:5px; padding-left:10px; }
.met_onlinename{ display:block; height:20px; line-height:20px; }
.met_onlinename{ margin-bottom:5px;}

.webright{ width:715px; float:left; overflow:hidden; margin-left:12px; }
.web_right_title{ height:32px; line-height:32px; overflow:hidden; }
.web_right_title span{ font-size:14px; padding-left:22px; display:block; padding-top:3px; font-weight:bold; }
 

.webcontent{ padding:8px; overflow:hidden; _width:683px;}
.main_bottom_bgb{ height:15px; font-size:0px; overflow:hidden; }
.main_bottom_bgb div{ height:15px; width:10px; font-size:0px; overflow:hidden; }
.webcontent{ padding:10px 15px 15px 15px; line-height:20px; padding-bottom:30px; }
.web_bottom{ height:30px; line-height:30px; text-align:center; }

/*--------------news-------------------------------------------------------------*/
.news_list{ padding-left:10px; padding-top:10px;}
.news_list li{ height:25px; line-height:25px; padding-left:10px; }
.news_list li{ _height:10px; _line-height:19px; _padding-top:5px; }/*针对IE6、7在li中嵌入img标签出现的不兼容问题*/
.news_list li span.newstime{ float:right; padding-right:25px; }
.news_list li span.newstitle{ padding-left:5px; }

.webcontent h1{ font-size:14px; font-weight:bold; text-align:center; height:30px; line-height:30px; margin-top:8px; }
.hits{  text-align:right; height:25px; line-height:25px; padding-top:10px;}
.web_page{ line-height:20px; margin-top:5px;}

/*----------------product-----------------------------------------------------*/
.pro_content ul{ padding-left:3px; padding-top:15px;}
.pro_content ul li{ text-align:center; float:left; padding:0px 10px;}
.pro_content ul li span{ display:block; }
.pro_content ul li span.info_img{ text-align:center;}
.pro_content ul li span.info_img img{ padding:1px;}
.pro_content ul li span.info_title{ height:35px; line-height:35px; overflow:hidden; }
.pcontent{ padding-top:10px; line-height:18px; }

/*产品内页showproduct图片轮播*/
.product_list{ text-align:center; }
.smallimg{ margin-top:15px;}
.product_list ul{ text-align:left;} 
.product_list .info_para1{ margin-top:10px;}
.product_list .info_feedback{ text-align:left; height:32px; line-height:32px; display:block;}
.product_list .info_feedback a{ width:62px; height:26px; line-height:26px; overflow:hidden; display:block; margin-right:10px; *line-height:30px; padding-left:26px;}
.product_list .info_feedback a{background:url(../down.gif) no-repeat 0px 0px;}
.product_list .info_feedback a:link,.product_list .info_feedback a:visited,.product_list .info_feedback a:active{ color:#fff;}
/*--------------------------*/
 





/*____________下载模块______Download_________________________________________________*/
.download_list{ padding:10px 20px; padding:5px; margin-bottom:10px;}
.download_list_title{ margin:5px 0px;}
.download_list_para{ padding-left:5px;}
.download_list_title{ font-weight:bold; font-size:14px;}
.download_list_detail2{ float:right; margin-top:-10px;}
.download_list_detail2 a{ width:62px; height:26px; line-height:26px; overflow:hidden; display:block; margin-right:10px; *line-height:30px; padding-left:26px; }
.download_list_detail1 b{ font-weight:normal;}

.download_url{ margin:5px 0px; padding-left:5px;}
.download_url a{ display:block; width:62px; height:26px; line-height:26px; overflow:hidden; *line-height:30px; padding-left:26px;}


/*___________图片模块_______img_______________________________________________________________*/
.imgcontent .metinfo_slide{ margin-left:auto !important; margin-right:auto !important;}
.imgcontent .metbimg{ margin-left:auto; margin-right:auto;}

.img_list12 ul{ padding-top:10px;}
.img_list12 ul li{ text-align:center; float:left; padding:0px 10px;  }
.img_list12 ul li span.info_img{ display:block; }
.img_list12 ul li span.info_title{ display:block; text-align:center; height:30px; line-height:30px; overflow:hidden;}
.imgcontent{ text-align:center;}
.imgcontent ul li{ text-align:left;}

/*____________招聘中心_______job_____________________________________________________*/
.job_list{ padding:10px; }
.job_list_title{ margin:5px 0px; padding:10px 0px; }
.job_list_right a{ float:left; padding-left:27px; width:61px; height:26px; line-height:26px; margin-right:10px; display:block; overflow:hidden; *line-height:30px;}
.cv a{ padding-left:27px; width:61px; height:26px; line-height:26px; margin-right:10px; display:block; overflow:hidden; *line-height:30px; display:block; margin:0px auto;}
.job_list_detail{ margin-top:10px;}



/*_____________反馈模块____________________________________________________________*/
.feedback_table{ margin:0px auto; text-align:left; margin-top:20px; }
.feedback_table td.feedback_td1{ text-align:right; width:30%; height:25px; line-height:25px; padding-right:3px;}
.feedback_table td.feedback_input{ padding-left:3px;}
.feedback_table td.feedback_input input{ padding:2px;}
.feedback_submit{ text-align:left; padding-left:200px; height:30px; line-height:30px;}
.feedback_submit input{ *padding-top:5px; margin-right:10px;}
.checboxcss{ margin:2px 3px; position:relative; top:2px; }

/*___________高级搜索________________________________________________*/
.searchul ul li{ padding:5px; }
.search_title{ display:block;}
.search_updatetime{ display:block;}
.selist{ padding-bottom:10px; }
.selist ul{ padding-left:10px; }
.selist ul li{ padding-top:5px;}
.selist ul li select{ padding:2px; }
.selist ul li span.advsearch_searchword input{ padding:2px; }

/*______________友情链接__________________________________________________________________*/
.links_content{ padding:10px 20px;}
.index_link_img{padding:5px 20px; width:600px;}
.index_link_img ul{ padding-top:5px;}
.index_link_img ul li{ display:inline; padding:0px 15px; }
.index_link_img img{ width:80px; height:31px; }
.index_link_text{padding:5px 20px; width:600px;}
.index_link_text ul li{ display:inline; padding:0px 15px; }
.links_content{ padding:5px 0px 10px 10px; }

.addlink_title{ text-align:center; font-size:13px; }
.addlink_table{ margin:0px auto; text-align:left; width:100%; }
.addlink_table td.addlink_td1{ text-align:right; width:20%; height:25px; line-height:25px; padding-right:3px;}
.addlink_table td.addlink_input{ padding-left:3px;}
.addlink_table td.addlink_input input{ padding:2px;}
.addlink_submit{ text-align:left; padding-left:80px; height:30px; line-height:30px;}
.addlink_submit input{ *padding-top:5px; margin-right:10px;}

/*________________在线留言__________________________________________________________*/

.message_line{ padding-right:30px; height:30px; line-height:30px; }
.message_line a{ overflow:hidden; float:right; width:62px; height:26px; line-height:26px; padding-left:26px; text-align:left; *line-height:30px;}
div.linkm a{ width:79px;}

.mesmin{ width:650px; padding:10px 0px;}
.message_list{ padding:10px; width:650px; margin-bottom:10px;}
.message_list_line{ padding:3px;}
.message_list_line b{ padding-right:5px;}
.message_list_info{ padding:8px;}
.message_list_reinfo{ padding:3px;}
.message_title{ text-align:center; font-size:13px;}
.message_table{ margin:0px auto; text-align:left; }
.message_table td.message_td1{ text-align:right; width:20%; height:25px; line-height:25px; padding-right:3px;}
.message_table td.message_input{ padding-left:3px;}
.message_table td.message_input input{ padding:2px; margin-right:5px;}
.message_table td.message_text textarea{ margin-left:3px;}
.message_submint{ text-align:left; padding-left:135px; height:30px; line-height:30px; }
.message_submint input{ *padding-top:5px; margin-right:10px;}

/*------------------CV--------------------------------------*/
.table_cv{ text-align:left; margin:0px auto; }
.table_cv td.cv_text{ text-align:right; width:20%; height:25px; line-height:25px; padding-right:3px;}
.table_cv td.cv_input input{ padding:2px;}
.table_cv td.cv_input textarea{ margin:5px 0px;}
.table_cv td.cv_submit{ padding-left:3px; width:80%; }
.table_cv td.cv_submit input{ margin-right:15px;}


/*颜色风格----红色---*/
div.time{ color:#666666;}
div.time a{ color:#666666;}
ul.navul li a span{ color:#3b3b3b;}
ul.navul li a:hover{ text-decoration:none;}
ul.navul li a.onnav span{ color:#FFFFFF;}

.message_line a{ color:#FFFFFF !important;}
.message_line a:hover{ color:#FFFFFF; text-decoration:none;}

.job_list_right a{ color:#FFFFFF !important;}
.job_list_right a:hover{ color:#FFFFFF; text-decoration:none;}

.cv a{ color:#FFFFFF !important;}
.cv a:hover{ color:#FFFFFF; text-decoration:none;}

.download_list_detail2 a{ color:#FFFFFF !important;}
.download_list_detail2 a:hover{ color:#FFFFFF; text-decoration:none;}

.download_url a{ color:#FFFFFF !important;}
.download_url a:hover{ color:#FFFFFF; text-decoration:none; }

span.search_title  a{ color:#0096ff;}

div.top{background:url(../black/bg.gif) repeat-x left top;}
ul.navul li a{ background:url(../black/tabs.gif) no-repeat left -30px; }
.nav ul li a.onnav{ background:url(../black/tabs.gif) no-repeat left top !important;}
.main_top_right{ background:url(../bgs.gif) no-repeat left top;}
div.md div.title{ background:url(../title.jpg) no-repeat left top; }
div.b{ background:url(../b.jpg) no-repeat right top; }
div.b div{ background:url(../b.jpg) no-repeat left top; }
div.md div.main_content ul.index_newslist li{ background:url(../black/arr-new.gif) no-repeat left 7px; *background:url(../black/arr-new.gif) no-repeat left 6px;}
.main_bottom div.bright div.title{ background:url(../bright.jpg) no-repeat left top; }
.footnav{ background:#FDFDFD; }
.webleft{ background:url(../webtitle.jpg) no-repeat left top;}
.web_left_title,.met_online{ background:url(../webtitleline.gif) no-repeat left 30px;  }
.aq ul li{ background:url(../myli2.gif) no-repeat left 7px;}
.leftlist ul li{ background:url(../black/arr-new.gif) no-repeat left -35px; }
.memberul li{ background:url(../black/arr-new.gif) no-repeat left -36px; }
.web_right_title{ background:url(../rightt.jpg) no-repeat left top; }
.main_bottom_bgb{ background:url(../b.jpg) no-repeat right top; }
.main_bottom_bgb div{ background:url(../b.jpg) no-repeat left top;  }
.news_list li{ background:url(../arr-new.gif) no-repeat left 7px; *background:url(../arr-new.gif) no-repeat left 9px;}
.download_list_detail2 a{ background:url(../down.gif) no-repeat 0px 0px; }
.download_url a{ background:url(../down.gif) no-repeat 0px 0px; }
.job_list_right a{ background:url(../down1.gif) no-repeat 0px 0px;}
.cv a{ background:url(../down1.gif) no-repeat 0px 0px; }
.feedback_table{ background:#FFFFFF;}
div.nav_ul2 div a{ background:none; }
.main_bottom div.md ul.index_newslist li{ background:none !important;}
.leftlist li.li_class3{ background:none !important;}
.feedback_table td.feedback_input textarea{ background:#FFFFFF; }
.addlink_table{ background:#FFFFFF;}
.addlink_table td.addlink_input textarea{ background:#FFFFFF; }
.message_line a{ background:url(../down2.gif) no-repeat left top; }
div.linkm a{ background:url(../down3.gif) no-repeat left top; }
.message_table{ background:#FFFFFF;}
.message_table td.message_text textarea{ background:#FFFFFF !important; }
.table_cv{ background:#FFFFFF;}
.table_cv td.cv_input textarea{ background:#FFFFFF; }

div.md div.main_content,.main_bottom div.bright div.main_content,.webleft_content,.webcontent{ border-left:1px solid #ededed; border-right:1px solid #ededed; }

.main_bottom div.md ul.index_case li img{ border:1px solid #e0e0e0; }
.footnav{ border:1px solid #ededed; }
.met_onlinename{ border-bottom:1px dotted #AFCDCA; }
.pro_content ul li span.info_img img{ border:1px solid #e0e0e0; }
.download_list{ border-bottom:1px dashed #CCCCCC; }
.img_list12 ul li img{ border:1px solid #CCCCCC; }
.job_list{ border-bottom:1px solid #CCCCCC;}
.searchul ul li{ border-bottom:1px dashed #CCCCCC; }
.selist ul li select{ border:1px solid #CCCCCC; }
.selist ul li span.advsearch_searchword input{ border:1px solid #CCCCCC; }
.index_link_img{ border:1px dashed #CCCCCC; }
.index_link_img img{ border:1px solid #CCCCCC;}
.index_link_text{ border:1px dashed #CCCCCC; }
.links_content{ border-bottom:1px dotted #CCCCCC;}


/*表格边框*/
.feedback_table td.feedback_input input,.feedback_table td.feedback_input textarea{border:1px solid #CCCCCC; }
.addlink_table td.addlink_input input,.addlink_table td.addlink_input textarea{ border:1px solid #CCCCCC;}
.message_table td.message_input input,.message_table td.message_text textarea{ border:1px solid #cccccc; }
.table_cv td.cv_input input,.table_cv td.cv_input textarea{ border:1px solid #cccccc;}
.feedback_table,.addlink_table,.message_table{ border:none !important; }
.checboxcss{ border:none !important;}

/*留言排版*/
.mesmin{ border:1px dashed #CCCCCC; }       
.message_list{ border:2px solid #cde7e9; }
.message_list_line{ border:1px dashed #CCCCCC; }
.message_list_reinfo{ border:1px dashed #CCCCCC; }
/*------*/
