body {
     font-family:Arial, Helvetica, sans-serif;
	 font-size:12px; margin:0px auto; padding:0px; background-color:#191970; text-align:center; color: #333333;
}
ul{ list-style:none;}
font{ font-size:12px;}
td {
	 font-size:12px; color:#333333;
}

th {
	 font-size:12px; color: #333333
}
img{ border:0px;}
ul{padding:0px; margin:0px;}
table{border:0px; padding:0px; margin:0px;}
a{ color: #333333; text-decoration:none; }
h1{height:25px; font-size:16px; font-weight:bold; margin-top:5px; color:#000099;}
h2{display:inline; font-size:12px; font-weight:bold;}
h3{display:inline; font-size:12px; font-weight:bold;}
input{ border:1px solid #EBEBEB;}
.tj{ background-color:#EDEDED; color: #000066;border:0px; }
.bq{ background-color:#FFFFFA; color:#000033; font-weight:bold; border:0px;}
A:hover { COLOR:#FF6600}
.back1{ width:1000px; height:15px; background:url(templates/metinfo/images/back1.gif); margin-top:50px;}
.back2{ width:1000px; height:500px; background:url($img_url/back2.gif)}
/*头部开始*/
.headtop{width:100%; height:30px;}
.headtop1{width:1000px; height:15px; background:url(../back1.gif); margin:auto!important;}
.bodyback{width:1000px; height:auto; background:url(../back2.gif); margin:auto!important;overflow:auto;}
.head{height:80px; width:900px; margin:auto; display: block; overflow:hidden;}
.logo{width:200px; height:60px; float:left; margin-top:8px;}
.headright{height:75px; width:700px; float:right; text-align:right;}
.headright1{ height:18px; width:500px; float:right; margin-top:5px; padding-right:10px; line-height:15px; }
.headright2{ height:20px;  width:500px; float:right; margin-top:3px; color:#000066; font-size:12px;  line-height:20px; text-align:right; padding-right:10px; }
.headright2 a{ color:#000066;}
.nav{ height:30px;  width:680px; float:right; line-height:30px; padding-right:10px;}
.nav a{ margin-left:8px; margin-right:7px;}
/*头部结束*/

/*Flash开始*/
.flash{ width: auto; height: auto; overflow:hidden; margin:auto;}
/*Flash结束*/

/*页面开始*/
.web{width:890px; line-height:18px; margin:auto; height:auto; overflow:auto; }
.webleft{width:690px; float:left; overflow:hidden; }
.nav_x{ width:100%; font-size:13px; background:url(../nav1.gif) no-repeat 2px 8px; height:30px; font-weight:bold; text-align:left; line-height:30px; color:#000033; border-bottom:1px solid #999999; position:relative;}
.nav_x span{ padding-left:20px;}
.nav_x a{color:#000033;}
.nav_x img{margin-top:10px;}
.nav_x .listmore{ position:absolute; right:8px; bottom:-2px; font-weight:normal;}
.nav_x .listmore a{ color:#CCCCCC;}

.nav_x1{ width:100%; font-size:13px; background:url(../home.gif) no-repeat 2px 8px; height:30px; font-weight:bold; text-align:left; line-height:30px; color:#000033; border-bottom:1px solid #999999; position:relative;}
.nav_x1 span{ padding-left:20px;}
.content{width:100%; height:auto; text-align:left; line-height:18px; font-size:12px; margin-top:5px; margin-bottom:5px; overflow:hidden; overflow:inherit; }
.content a{ color:#000066;}
.content p{ margin:0px 0px 0px 5px;}
.webright{width:192px; float:right; height:auto; overflow:hidden;}
.navright{ width:192px; height:auto; overflow:auto; line-height:25px; text-align:left;}
.navright font a{color:#003366;}
.navright li { width:192px; height:25px; background-color:#EFEFEF; list-style:none; font-weight:bold;}
.navright .li_class2{ background:url(../class2.gif) no-repeat 5px 8px; width:163px; padding:0px 0px 0px 20px;  border-bottom:1px solid #FFFFFF;}
.navright .li_class2 a{color:#003366;}
.navright .li_class3{ background:url(../class3.gif) no-repeat 30px 8px; padding:0px 0px 0px 40px; width:100px; font-weight:normal;}
.navright .classnow{ background:url(../class3.gif) no-repeat 5px 8px; width:172px; padding:0px 0px 0px 20px; color:#CC0000; background-color:#E3E3E3; border-bottom:1px solid #FFFFFF;}
.navright .classnow a{color:#000099;}
/*页面结束*/

/*底部开始*/
.foot{width:890px;  height:auto;  margin:auto;}
.footnav{ width:890px; height:20px; border-bottom:1px solid #999999; padding-top:10px; margin-top:3px; }
.foottext{width:890px;padding-top:10px; padding-bottom:10px; line-height:20px;  height:auto;  margin:auto;}
.foot1{width:1000px; height:30px; background:url(../back3.gif); margin:auto;}
.foot2{width:100%; height:30px;}
/*底部结束*/

/*在线交流开始*/
.met_online{ width:100%; font-size:13px; height:30px; font-weight:bold; text-align:left; line-height:30px; color:#000033; border-bottom:1px solid #999999;}
.met_online{ padding-left:30px; background:url(../online.gif) no-repeat 7px 8px;}
.met_onlinelist{border-bottom:1px dashed #D3D3D3; line-height:25px; height:auto; width:100%;  float:left; text-align:left; }
.met_qq img{ margin:5px 0px 0px 0px;}
.met_msn img{ margin:5px 0px 0px 0px;}
.met_taobao img{ margin:5px 0px 0px 0px;}
.met_alibaba{border-bottom:1px dashed #D3D3D3; height:auto; line-height:32px; font-weight:bold; padding-left:10px; overflow:auto;}
.met_skype{border-bottom:1px dashed #D3D3D3; height:auto; line-height:32px; margin:2px 0px 2px 0px; font-weight:bold; padding-left:10px; overflow:auto;}
/*在线交流结束*/

/*产品展示开始*/
.product_list{ width:99%; float:left; margin-left:3px; height: auto; line-height:22px; border-bottom:1px dashed #666666; overflow:auto; padding-bottom:5px; }
.product_list .info_img{ overflow:hidden; width:100%; float:left; text-align:center;}
.product_list .info_img img{ border:0px; margin:auto;}
.product_list ul{ width:100%; height:auto; line-height:25px; margin:5px 0px 0px 0px; float:left; overflow:hidden;}
.product_list .info_feedback{ width:100%; height:25px; text-align:right; float:left; font-weight:bold; }
.product_list .info_feedback a{ color:#003366;}

.content h1{height:25px; line-height:25px; font-size:16px; font-weight:bold; text-align:center; border-bottom:1px dashed #666666; margin-top:5px; margin-bottom:2px;}
.hits{height:20px; text-align:right; padding:3px; margin-top:3px; border-top:1px dashed #666666; }
.hits span{color:#FF0000;}

.product1{ width:100%; height:auto; overflow:auto; line-height:26px; text-align:center;}
.product1 ul li{ width:98%; height:auto; margin:auto; text-align:left; overflow:hidden; border-bottom:1px dashed #D9D9D9; position:relative; padding:0px 0px 5px 10px;  list-style:none;  }
.product1 ul li a{color:#2F2F2F;}
.product1 ul li img{ margin:5px 0px 0px 0px;}
.product1 ul li .info_img{ width:auto; height:160px; overflow:hidden;  float:left; margin:5px 10px 5px 0px; _margin:2px 10px 5px 0px;}
.product1 ul li .info_img img{ _width:150px; max-width:150px; max-height:150px; border:1px solid #F3F3F3;}
.product1 ul li .info_class{ width:auto; height:auto; color:#000099; float:left;}
.product1 ul li .info_title{ width:510px;  font-weight:bold; float:left; margin:5px 0px 0px 0px;}
.product1 ul li .info_title a{ color:#006699;}
.product1 ul li .info_para1{ width:510px; color:#666666; float:left; text-align:left;}
.product1 ul li .info_para2{ width:510px; color:#666666; float:left; text-align:left;}
.product1 ul li .info_para3{ width:510px; float:left; text-align:left; color:#666666;}
.product1 ul li .info_para4{ width:510px; float:left; text-align:left; color:#CC0000; font-weight:bold;}
.product1 ul li .info_para4 b{color:#666666;}
.product1 ul li .info_updatetime{ width:160px; position:absolute; left:170px; bottom:2px; text-align:left;}
.product1 ul li .info_hits{ width:100px; position:absolute; left:420px; bottom: 2px; text-align:left;}
.product1 ul li .info_hits font{ font-size:12px; color:#FF6600;}
.product1 ul li .info_detail{ width:60px; position:absolute; text-align:center; right:80px; bottom:2px; font-weight:bold; color:#CC3300; background:none;}
.product1 ul li .info_detail a{color:#CC3300;}
.product1 ul li .info_feedback{ width:60px; position:absolute; text-align:center; right:5px; bottom:2px; font-weight:bold; color:#0000FF; background:none;}
.product1 ul li .info_feedback a{color:#0000FF;}
/*产品展示结束*/
/*反馈开始*/
.feedback{ width:100%; height: auto; overflow:auto; background-color:#CCCCCC; padding:1px;}
.feedback1{width:20%; float:left; text-align:right; margin:1px; background-color:#FFFFFF; height:auto; line-height:25px;}
.feedback2{width:70%; float:left; text-align:left; margin:1px; background-color:#FFFFFF; height:auto; line-height:25px;}
.feedback3{width:8%; float:left; text-align:left; margin:1px;  background-color:#FFFFFF; height:auto; line-height:25px; color:#990000;}
/*反馈结束*/
/*在线留言开始*/
.message_line{color:#006699; float:right; width:100px; font-weight:bold; line-height:25px;}
.message_line a{color: #006699;}
.message_list{ width:100%; height:auto; line-height:20px; overflow:auto; border-bottom:1px dashed #999999; margin-bottom:8px;}
.message_list_line{ width:100%; height:25px; line-height:25px; background-color:#EDEDED;}
.message_list_info{ width:100%; height:auto; margin-top:3px; overflow:auto;}
.message_list_reinfo{ width:100%; color:#003366; height:auto; margin-top:3px; overflow:auto;}
/*在线留言结束*/

/*下载模块开始*/
.download_list li{ width:100%; height:50px; line-height:25px; overflow:auto; border-bottom:1px dashed #999999;  margin:5px auto 5px auto; list-style:none; position:relative;}
.download_list .info_title{ height:25px; line-height:25px;  font-weight:bold; display:block; width:100%; background-color:#F2F2F2;}
.download_list .info_filesize{position:absolute; left:0px; bottom:0px;}
.download_list .info_hits{position:absolute; left:150px; bottom:0px;}
.download_list .info_updatetime{position:absolute; left:260px; bottom:0px;}
.download_list .info_detail{position:absolute; right:5px; bottom:0px;}
.download_list .info_detail a{color:#CC3300;}
.download_list .info_download{position:absolute; right:70px; bottom:0px;}
.download_list .info_download a{color:#000099;}
.download_list .listtop{ float:right; position:absolute; right:5px; top:5px;}
.download_list .listnews{ float:right; position:absolute; right:30px; top:5px;}
.download_list .listhot{ float:right; position:absolute; right:5px; top:5px;}
.download_list_para{ width:100%; height:auto; line-height:22px; float:left; overflow:auto; border-bottom:1px dashed #E6E6E6; position:relative;}
.download_list_para .info_download{ font-size:14px; line-height:40px; font-weight:bold; text-align:center; overflow:auto; position:absolute; right:20px; bottom:10px;}
.download_list_para .info_download a{ color: #CC0000;}
/*下载模块结束*/

/*图片模块开始*/
.img_list{ width:100%; height:auto;}
.img_list li{ width:200px; text-align:center; float:left; margin:15px; _margin:10px; overflow:hidden; list-style:none;}
.img_list li .info_img{ overflow:hidden; display:block;}
.img_list li .info_title{ width:200px; height:25px; display:block; line-height:25px; font-weight:bold;}
.img_content{ width:100%; float:left; margin-left:3px; height: auto; line-height:22px; border-bottom:1px dashed #666666; overflow:hidden; padding-bottom:5px; }
.img_content .info_img{ width:98%; height:auto; margin:5px; float:left; text-align:center;}
.img_content .info_img img{ border:0px;}
.img_content ul{ width:100%; height:auto; line-height:25px; margin:5px 0px 0px 0px; float:left; overflow:hidden;}
.img_content ul li{ width:auto; height:auto; margin:5px 10px 0px 0px; float:left; overflow:hidden;}
/*图片模块结束*/

/*新闻模块开始*/
.news_list{ width:100%; height:auto; overflow:auto; line-height:25px; text-align:center;}
.news_list ul .news_list_title{ color:#FF6600; background:none;}
.news_list ul li .info_class{ color:#000099; margin:0px 3px 0px 0px;}
.news_list ul li .info_class a{ color:#666666;}
.news_list ul li{ width:98%; height:auto; _height:25px; margin:auto; text-align:left; overflow:hidden; background:url(../list.gif) no-repeat 5px 8px; *background:url(../list.gif) no-repeat 5px 10px; _background:url(../list.gif) no-repeat 5px 7px; border-bottom:1px dashed #D9D9D9; position:relative; padding:0px 0px 0px 10px; }
.news_list ul li .info_updatetime{ position:absolute; right:5px; top:0px;}
.news_list ul li a{color:#2F2F2F;}
.news_list ul li .info_hits{ position:absolute; right:100px; top:0px; text-align:center; width:60px;  font-size:13px;}
.news_list ul li font{ font-size:12px;  color:#FF3300;}
.news_list ul li img{ margin:5px 0px 0px 0px;}
/*新闻模块结束*/


/*招聘模块开始*/
.job_list{ width:100%; height:25px; line-height:25px; border-bottom:1px dashed #D9D9D9;}
.job_list_img{ width:8px; margin-left:3px; float:left; padding-top:5px; position:relative; top:4px;}
.job_list_title{ width:530px; float:left;}
.job_list_title a{ color:#2F2F2F;}
.job_list_right{ width:120px; float:right;}
.job_list_right a{ color: #000099;}
.job_list_detail{ width:100%; height:auto; overflow:auto; line-height:25px; position:relative;}
.job_list_detail li{width:100%; height:auto; overflow:auto; line-height:25px;  }
.job_list_detail .info_cv{ position:absolute; right:20px; top:20px; text-align:center; width:80px; font-weight:bold; font-size:14px; display:block;}
.job_list_detail .info_cv a{color:#000099;}
/*招聘模块结束*

/*首页开始*/
.index_webleft{width:550px; float:left; height:auto; overflow:auto;}
.index_webright{width:335px; float:right; height:auto; overflow:auto; display:block; }
.index_webright ul{ text-align:left;}
.index_webright ul li{  line-height:24px; _height:10px; _line-height:15px; _padding:4px 0px; padding-left:4px; background:url(../list.gif) no-repeat 0px 8px; position:relative;}
.index_webright ul li span{ padding-left:5px;}
.index_webright ul li .info_updatetime{ position:absolute; right:5px; bottom:5px;}

.index_case{width:210px; float:left; height:auto; overflow:auto;}
.index_case ul{ text-align:left;}
.index_case ul li{  line-height:24px; _height:10px; _line-height:15px; _padding:4px 0px; padding-left:4px; background:url(../list.gif) no-repeat 0px 8px; position:relative;}
.index_case ul li span{ padding-left:5px;}

.index_webnews{width:335px; float:left; height:auto; overflow:auto; display:block; margin-left:5px; }
.index_webnews ul{ text-align:left;}
.index_webnews ul li{  line-height:24px; _height:10px; _line-height:15px; _padding:4px 0px; padding-left:4px; background:url(../list.gif) no-repeat 0px 8px; position:relative;}
.index_webnews ul li span{ padding-left:5px;}
.iindex_webnews ul li span{ padding-left:5px;}
.index_webnews ul li .info_updatetime{ position:absolute; right:5px; bottom:5px;}


.index_content{width:99%; height:auto;  text-align:left; padding:2px; line-height:18px; font-size:12px; margin-bottom:2px; overflow:auto; }
.index_content ul{ margin-top:15px;}
.index_content ul li{ float:left; text-align:center; width:210px; height:auto; margin:5px; _margin:4px;  overflow:hidden; }
.index_content ul li span.info_img{ display:block; margin-bottom:5px;}
.index_content ul li span.info_img img{ max-width:200px;}
.index_content a{ color:#000066;}
.index_news_list{ width:100%; height:22px; line-height:22px; text-align:left; margin-top:4px;}
.index_news_list img{ margin-left:3px; margin-right:3px; margin-top:3px;}
.index_product{ width:890px; height:auto; overflow:auto; margin-top:5px; text-align:left;}
.index_product_list{ width:180px; height:auto; overflow:auto; margin:10px; margin-left:15px; margin-right:15px; text-align:center; line-height:25px; float:left;}
.index_product_list img{width:180px;}
.index_link{width:99%; height:auto;  text-align:left; padding:3px; line-height:20px; font-size:12px; margin:0px; overflow:auto;}
.index_link_img{ width:100%; height:auto; overflow:auto;}
.index_link_img li{float:left; width:88px; height:31px; margin:5px;  overflow:hidden;}
.index_link_img li img{width:88px; height:31px; overflow:hidden;}
.index_link_text{ width:100%; height:auto; overflow:auto; margin-top:5px;}
.index_link_text li{ float:left; width:auto; margin:0px 5px 0px 5px;}
/*首页结束*/

/*搜索开始*/
.search_line{ width:1000px; height:30px; background-color:#FFFFFF; line-height:30px; text-align:right;}
.search_line input{ margin-top:3px;}
.search_line form{margin:0px; padding:0px;}
.searchgo{background-color:#003366 !important; filter:progid:DXImageTransform.Microsoft.Gradient 
(startColorStr='#003366', endColorStr='#3366CC', gradientType='0'); color:#FFFFFF; padding-top:2px;}
.search_list_title{ width:100%; height:25px; line-height:25px; }
.search_list_title a{ color:#000099;}
.search_list_img{ width:8px; margin-left:3px; float:left; padding-top:8px;}
.search_list{width:100%; height:auto; line-height:25px; overflow:auto;  }
.search_link{width:100%; height:auto; line-height:25px; overflow:auto; color:#666666; border-bottom:1px dashed #D9D9D9; margin-bottom:15px;}
.search_link a{color:#006600;  text-decoration:underline;}
.searchnavright{ width:182px; height:auto; overflow:auto; line-height:25px; text-align:left; padding-left:10px;}
.searchnavright font a{color: #666666;}
.search_input{width:99%; height:30px; text-align:left; margin-top:5px;}
.searchlist{ width:100%; height:auto; line-height:20px; text-align:center;}
.searchlist li{ width:98%; height:auto; overflow:auto; text-align:left; margin:5px auto 5px auto; list-style:none; border-bottom:1px dashed #E5E5E5;}
.searchlist li .search_title{ background:url(../list.gif) no-repeat 5px 8px; *background:url(../list.gif) no-repeat 5px 10px; _background:url(../list.gif) no-repeat 5px 7px; width:98%; padding-left:12px; height:25px; line-height:25px; float:left;}
.searchlist li .search_title a{ color:#000099;}
.searchlist li .search_content{ width:100%; height:auto; color:#8E8E8E; line-height:18px; float:left;}
.searchlist li .search_updatetime{ width:20%; height:auto; color:#767676; line-height:25px; float:left;}
.searchlist li .search_detail{width:50%; height:auto; line-height:25px; float:left; text-align:left;}
.searchlist li .search_detail a{color:#006600;  text-decoration:underline;}
/*搜索结束*/