<!--<?php
echo <<<EOT
-->
<div class="foot">
<div class="footnav"> |
<!--
EOT;
foreach($navfoot_list as $key=>$val){
echo <<<EOT
-->
<a href="$val[c_url]" $val[new_windows]>$val[c_name]</a> |
<!--
EOT;
}
echo <<<EOT
-->
</div>
<div class="foottext">
<!--
EOT;
if($met_c_footright!=""){
echo <<<EOT
-->
$met_c_footright
<!--
EOT;
}
if($met_c_footaddress!=""){
echo <<<EOT
-->
&nbsp;&nbsp;$met_c_footaddress
<!--
EOT;
}
if($met_c_foottel!=""){
echo <<<EOT
-->
&nbsp;&nbsp;$met_c_foottel
<!--
EOT;
}
if($met_c_footother!=""){
echo <<<EOT
-->
&nbsp;&nbsp;$met_c_footother
<!--
EOT;
}
echo <<<EOT
-->
<br />Powered by <a href="http://www.MetInfo.cn" target="_blank" title="企业网站管理系统"><b>MetInfo</b></a> $metcms_v &copy;2008-$m_now_year <a href="http://www.MetInfo.cn" target="_blank" title="企业网站建设">www.MetInfo.cn</a>
<!--
EOT;
if($met_c_foottext!=""){
echo <<<EOT
-->
<br />$met_c_foottext
<!--
EOT;
}
echo <<<EOT
-->

</div>
</div>

</div>
<div style="width:1000px; height:30px; background:url($img_url/back3.gif); margin:auto;"></div>
<div style="width:1000px; height:30px;"></div>
</body>
</html>

<!--
EOT;
?>-->