<!--<?php
$metlang=methtml_lang(' | ');
$mettopnav=methtml_topnav(1,'|');
echo <<<EOT
-->
{$methtml_head}
<body>
<div class="body">
<div class="top">
<div class="logo"><a href="$index_url"><img src="$met_logo" alt="$met_alt" /></a></div>
<div class="top_right">
<div class="top_right_home">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$methtml_sethome} | {$methtml_addfavorite} | {$metlang}
</div>
<div class="top_right_time">{$methtml_now}</div>

<div class="nav">
{$mettopnav}
</div>
</div>
</div>


<!--
EOT;
$met_online=methtml_online();
?>