<!--<?php
require_once template('head'); 
$metlinktext=methtm_link('text','com');
echo <<<EOT
-->
<div class="web">
<!--动画开始-->
<div class="index_img">
{$methtml_flash}
</div>
<!--产品列表开始-->
<div class="web_right">
<div class="nav_right">{$lang_productlist}</div>
<div class="product_list">
<div id="button">
<ul>
<!--
EOT;
$i=0;
foreach($nav_list2[$class_index[1][id]] as $key=>$val){
$i++;
echo <<<EOT
-->
<li><a href="$val[url]">$val[name]</a></li>
<!--
EOT;
if($i>=9)break;
}
echo <<<EOT
-->
</ul>
</div>
</div>
</div>
</div>
<!--产品列表结束-->
</div>

<div class="web">
<!--新闻中心开始-->
<div class="kown_left">
<div class="nav_left"><div class="nav_left1"><img src="$img_url/list1.gif" />{$lang_News}</div></div>
<div class="kown_text">
<!--
EOT;
$i=0;
foreach(methtml_getarray('2','all','time','') as $key=>$val){
$val[title]=utf8substr($val[title], 0, 14); 
$i++;
echo <<<EOT
-->
<li><a href="$val[url]" target="_blank">$val[title]</a> [$val[updatetime]] </li>
<!--
EOT;
if($i>=$index[news_no])break;
}
echo <<<EOT
-->
</div>
</div>
<!--新闻中心结束-->
<!--推荐产品开始-->
<div class="product_right">
<div class="nav_left"><div class="nav_left1"><img src="$img_url/list1.gif" />{$lang_Recommended}</div></div>
<!--
EOT;
$i=0;
foreach(methtml_getarray('','com','time','product') as $key=>$val){
$val[title]=utf8substr($val[title], 0, 12); 
$i++;
echo <<<EOT
-->
   <div class="product_display">
   <div class="product_img"><a href='$val[url]' target=_blank><img src="$val[imgurls]" /></a></div>
   <div class="product_title"><a href='$val[url]' target=_blank>$val[title]</a></div>
   </div>
<!--
EOT;
if($i>=$index[product_no])break;
}
echo <<<EOT
-->
	
</div>
<!--推荐产品结束-->
</div>

<!--
EOT;
if($index[link_ok]){
echo <<<EOT
-->
<div class="indexlink">
<b>{$lang_FriendlyLink}:</b>
{$metlinktext}
</div>

<!--
EOT;
}
echo <<<EOT
-->
$met_online
</div>
<!--
EOT;
require_once template('foot'); 
?>