<!--<?php
require_once template('head'); 
require_once template('flash'); 
echo <<<EOT
-->

<div class="web">
<!--
EOT;
require_once template('webleft'); 
echo <<<EOT
-->
<div class="content">
<!--
EOT;
foreach($news_list as $key=>$val){
echo <<<EOT
-->
<div class="newsline"><img src="$img_url/dot.gif" /><a href='$val[url]' target=_blank>$val[title]</a>[$val[updatetime]]&lt;{$lang_Hits}<span>$val[hits]</span>&gt;
</div>	
<!--
EOT;
}
echo <<<EOT
-->
	</div>
	
<div class="page">$page_list</div>
	
</div>
</div>

<!--
EOT;
require_once template('foot'); 
?>