<!--<?php
require_once template('head'); 
$methtml_searchlist=methtml_searchlist();
$metsearchadv=methtml_advsearch();
echo <<<EOT
-->

<div class="web">
<!--左边开始-->
<div class="web_left">
<div class="nav_right">$class1_info[name]</div>
<div class="product_list1">
<div id="button">
<div class="seachul">
$metsearchadv
</div>
</div>
</div>
<div class="contact_left">
$met_online
</div>
</div>
<!--左边结束-->

<div class="rightcontent">
<div class="nav_left"><img src="$img_url/list1.gif" />$class1_info[name]</div>
<div class="content">
$methtml_searchlist
</div>
$page_list
</div>
</div>
</div>

<!--
EOT;
require_once template('foot'); 
?>