<!--<?php
require_once template('head'); 
require_once template('flash'); 
echo <<<EOT
-->

<div class="web">
<!--
EOT;
require_once template('webleft'); 
echo <<<EOT
-->
<div class="content">
<h1>{$lang_Position}：$job[position]</h1>
<div class="job_list_detail">
<b>{$lang_PersonNumber}</b>:$job[count]<br />
<b>{$lang_WorkPlace}</b>:$job[place]<br />
<b>{$lang_Deal}</b>:$job[deal]<br />
<b>{$lang_AddDate}</b>:$job[addtime]<br />
<b>{$lang_Validity}</b>:$job[useful_life]<br />
</div>
<div class="content"><b>{$lang_JobDescription}</b>：<br />$job[content]</div>

</div>
</div>

</div>
<!--
EOT;
require_once template('foot'); 
?>