<!--<?php
require_once template('head'); 
require_once template('flash'); 
$methits=methtml_hits('img');
$met_img=methtml_showimg('all');
echo <<<EOT
-->

<div class="web">
<!--
EOT;
require_once template('webleft'); 
echo <<<EOT
-->
<h1>$img[title]</h1>
<div class="content">
<div class="product_list2">
{$met_img}
</div>
</div>
<div class="content">
<div class="content">$img[content]</div>

<div class="hits">$methits</div>

</div>
</div>
</div>
<!--
EOT;
require_once template('foot'); 
?>