<!--<?php
require_once template('head'); 
require_once template('flash'); 
$methits=methtml_hits('download');
echo <<<EOT
-->

<div class="web">
<!--
EOT;
require_once template('webleft'); 
echo <<<EOT
-->
<div class="content">
<h1>$download[title]</h1>
<div class="download_list">
<div class="download_list_para">
<b>{$lang_FileSize}</b>:$download[filesize]<br />
<!--
EOT;
foreach($download_para200 as $key=>$val1){
$para_no="".$val1[name];
echo <<<EOT
-->
<b>$val1[mark]</b>:$download[$para_no]<br />
<!--
EOT;
}
echo <<<EOT
-->
</div>
<div class="download_url"><a href="$download[downloadurl]" target="_blank">{$lang_Download}</a></div>
</div>
<div class="content">$download[content]</div>

<div class="hits">$methits</div>

</div>
</div>
</div>

<!--
EOT;
require_once template('foot'); 
?>