<!--<?php
echo <<<EOT
-->
{$methtml_head}
<link href="templates/met/css/style.css" rel="stylesheet" />
<body>
<div class="memberhead">
<div class="memberhead1">
<div class="memberheadlogo"><a href="$index_url" ><img src="$met_logo" alt="$met_alt" /></a></div>
<div class="memberheadtext"><a href="$index_url">{$lang_home}</a>-<a href="$addfeedback_url" target="_blank">{$lang_feedbackonline}</a>-<a href="$addmessage_url" target="_blank">{$lang_messageonline}</a>-<a href="$cv[url]" target="_blank">{$lang_cvtitle}</a>-<a href="#" style="color:#000099">{$class_info[name]}</a></div>
</div>
</div>
<!--
EOT;
?>