<!--<?php
require_once template('e_head'); 
require_once template('e_flash'); 
echo <<<EOT
-->

<div class="web">
<!--左边开始-->
<div class="web_left">
<!--
EOT;
require_once template('e_leftlist'); 
echo <<<EOT
-->
</div>
<div class="contact_left">

<!--
EOT;
require_once template('e_online'); 
echo <<<EOT
-->
</div>
</div>
<!--左边结束-->
<div class="rightcontent">
<div class="nav_left"><font>q</font>$nav_x[e_name]</div>
<div class="content">
<!--
EOT;
foreach($download_list as $key=>$val){
echo <<<EOT
-->
<div class="download_list">
<div class="download_list_title"><a href="$val[e_url]" target="_blank">$val[e_title]</a></div>
<div class="download_list_detail">
<div class="download_list_detail1"><b>File Size</b>：$val[filesize]KB&nbsp;&nbsp;&nbsp;&nbsp;<b>Hits</b>：$val[hits]&nbsp;&nbsp;&nbsp;&nbsp;<b>Update Time</b>：$val[updatetime] </div>
<div class="download_list_detail2"><a href="$val[downloadurl]" target="_blank">Download</a> | <a href="$val[e_url]" target="_blank">Detail</a></div>

</div>
</div>
<!--
EOT;
}
echo <<<EOT
-->
</div>
$e_page_list
</div>
</div>
</div>
<!--
EOT;
require_once template('e_foot'); 
?>