<!--<?php
require_once template('e_head'); 
require_once template('e_flash'); 
echo <<<EOT
-->

<div class="web">
<!--左边开始-->
<div class="web_left">
<div class="nav_right">Advanced Search</div>
<div class="product_list1">
<div class="searchnavright">
<script language = "JavaScript">
var onecount;
subcat = new Array();
<!--
EOT;
$j=0;
foreach($nav_list_2 as $key=>$val){ 
echo <<<EOT
-->       
subcat[$j] = new Array("$val[id]","$val[bigclass]","$val[e_name]");
<!--
EOT;
$j++;
}
echo <<<EOT
--> 
onecount=$j;

var onecount2;
subcat2 = new Array();
<!--
EOT;
$j=0;
foreach($nav_list_3 as $key=>$val){ 
echo <<<EOT
-->       
subcat2[$j] = new Array("$val[id]","$val[bigclass]","$val[e_name]");
<!--
EOT;
$j++;
}
echo <<<EOT
--> 
onecount2=$j;

function changelocation(locationid)
    {
    document.myform.class2.length = 1; 
    var locationid=locationid;
    var i;
    for (i=0;i < onecount; i++)
        {
            if (subcat[i][1] == locationid)
            { 
                document.myform.class2.options[document.myform.class2.length] = new Option(subcat[i][2], subcat[i][0]);
            }        
        }
    } 
function changelocation2(locationid)
    {
    document.myform.class3.length = 1; 
    var locationid=locationid;
    var i;
    for (i=0;i < onecount2; i++)
        {
            if (subcat2[i][1] == locationid)
            { 
                document.myform.class3.options[document.myform.class3.length] = new Option(subcat2[i][2], subcat2[i][0]);
            }        
        }
    } 
function select1(){
document.myform.e_searchword.value="";
}   

function Checksearch(){
if(document.myform.e_searchword.value=="Keywords"){
document.myform.e_searchword.value="";
}
}
</script>
<form method="Get" name="myform" onSubmit="return Checksearch();"  action="$searchurl" target="_self">       
<div class="search_input">       
<select name="class1" onChange="changelocation(document.myform.class1.options[document.myform.class1.selectedIndex].value)" size="1">
<option selected value="">All Big class</option>
<!--
EOT;
foreach($nav_search as $key=>$val){
echo <<<EOT
-->
<option value='$val[id]'>$val[e_name]</option>
<!--
EOT;
}
echo <<<EOT
-->
</select> 
</div>
<div class="search_input">         
<select name="class2" onChange="changelocation2(document.myform.class2.options[document.myform.class2.selectedIndex].value)" size="1">
<option selected value="">All Small class</option>
</select> 
</div>
<div class="search_input">         
<select name="class3" >
<option selected value="">All Third class</option>
</select> 
</div>
<div class="search_input"><select name="searchtype" size="1">
          <option value="0" selected>Title and Content</option>
          <option value="1">Title</option>
		  <option value="2">Content</option>
        </select> 
 </div>
<div class="search_input"><input id="e_searchword" style="margin:0px; padding:1px;" type="text" name="e_searchword"  size="12" value="Keywords" maxlength="50" onmousedown="select1()"> 
<input type="hidden" name="en" value="en" />
<input type="submit" class="searchgo" name="Submit"  value="Search">
</div>
</form>
</div></div>
<div class="contact_left">

<!--
EOT;
require_once template('e_online'); 
echo <<<EOT
-->
</div>
</div>
<!--左边结束-->

<div class="rightcontent">
<div class="nav_left"><img src="$img_url/list1.gif" /><a href='$index_e_url'>Home</a> > $nav_x[e_name]</div>
<div class="content">
<!--
EOT;
foreach($search_list as $key=>$val){
echo <<<EOT
-->
<div class="search_list_title">
<div class="search_list_img"><img src="$img_url/list.gif" /></div><div class="news_list_title"><a href="$val[e_url]" target="_blank">$val[e_title]</a></div>
</div>
<div class="search_list" >$val[e_content]</div>
<div class="search_link">$val[updatetime] <a href="$val[e_url]" target="_blank">Read Detail</a></div>
<!--
EOT;
}
echo <<<EOT
-->
</div>
$e_page_list
</div>
</div>
</div>

<!--
EOT;
require_once template('e_foot'); 
?>