<!--<?php
require_once template('head'); 
require_once template('flash'); 
echo <<<EOT
-->

<div class="web">
<!--左边开始-->
<div class="web_left">
<div class="nav_right">$class1_list[c_name]</div>
<div class="product_list1">
<div id="button">
<ul>
<!--
EOT;
$i=$class1_list[id];
foreach($nav_list2[$i] as $key=>$val){
echo <<<EOT
-->
<li><a href="$val[c_url]">$val[c_name]</a></li>
<!--
EOT;
$j=$val[id];
foreach($nav_list3[$j] as $key=>$val1){
echo <<<EOT
-->
<li style="padding-left:20px;"><a href="$val1[c_url]">--$val1[c_name]</a></li>
<!--
EOT;
}}
echo <<<EOT
-->

</ul>
</div>
</div>
<div class="contact_left">

<!--
EOT;
require_once template('online'); 
echo <<<EOT
-->
</div>
</div>
<!--左边结束-->

<div class="rightcontent">
<div class="nav_left"><font>q</font>$show[c_name]</div>
<div class="content">$show[c_content]</div>
</div>
</div>

<!--
EOT;
require_once template('foot'); 
?>