<!--<?php
if($met_flash_type==1&&$met_flash_ok==1){
echo <<<EOT
-->

<div class="web">
<div class="flash">

<script type="text/javascript">
<!--
var pic_width=1000
var pic_height=150
var text_height=0
var swfpath = '$img_url'+'/focus.swf'
var pics='$met_flash_img'
var links='$met_flashurl'
var texts=''
document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="'+ pic_width +'" height="'+ pic_height +'">');
document.write('<param name="allowScriptAccess" value="sameDomain"><param name="movie" value="'+swfpath+'"><param name="quality" value="high"><param name="bgcolor" value="#ffffff">');
document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
document.write('<param name="FlashVars" value="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+pic_width+'&borderheight='+pic_height+'&textheight='+text_height+'">');
document.write('<embed src="'+swfpath+'" wmode="opaque" FlashVars="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+pic_width+'&borderheight='+pic_height+'&textheight='+text_height+'" menu="false" bgcolor="#ffffff" quality="high" width="'+ pic_width +'" height="'+ pic_height +'" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />');document.write('</object>');
//-->
</script>
</div>
<!--
EOT;
}
if($met_flash_type==0&&$met_flash_ok==1){
echo <<<EOT
-->
<div class="web">
<div class="flash" style="background-image: url($met_flash_back); width:1000; height:150;">
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="1000" height="150">
            <param name="movie" value="$met_flash_url">
            <param name="quality" value="high">
            <param name="wmode" value="transparent" />
		 <embed src="$met_flash_url" width="$met_flash_x" height="$met_flash_y" quality="high" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent"></embed>
 </object>
 </div>
 </div>
 <!--
EOT;
}
?>