body {
	font-family: "宋体" ; font-size:12px; margin:0px auto; padding:0px; background-color:#F5F5F5; text-align:center; color: #333333;
}

td {
	font-family:"宋体"; font-size:12px; color:#333333;
}

th {
	font-family:"宋体"; font-size:12px; color: #333333
}
form{ margin:0px;}
ul{padding:0px; margin:0px;}
table{border:0px; padding:0px; margin:0px; font-size:12px;}
a{ color: #333333; text-decoration:none; }
h1{ width:100%; text-align:center; height:25px; border-bottom:1px dashed #666666; margin-top:5px; margin-bottom:2px; color:#000000; font-size:16px; font-weight:bold;}
h2{display:inline; font-size:12px; font-weight:bold;}
h3{display:inline; font-size:12px; font-weight:bold;}
.tj{ background-color: #990000; color: #ffffff; font-weight:bold; border:0px; padding-top:2px;}
.bq{ background-color:#FFFFFA; color:#000033; font-weight:bold; border:0px;}
A:hover { COLOR:#8B0000}
img{ border:0px;}

.head{height:102px; width:1000px; margin:0 auto; display: block; background-color:#FFFFFF;}
.logo{width:250px; height:85px; float:left; padding-top:15px; }
.headright{height:100px; width:750px; float:right; text-align:right; background-image:url(../images/logoright.gif);}
.headright1{ height:18px; width:480px; float:right; margin-top:2px; padding-right:20px; line-height:15px;}
.headright2{ height:18px; width:480px; float:right; line-height:20px; padding-right:20px; }

/*导航开始*/
.headnav{ height:25px; width:748px; float:right; margin-top:18px!important; margin-top:10px; line-height:25px;}
.menu { width:100%; position:relative; margin:0; font-size:12px; margin:50px 0;
CLEAR: both; MARGIN: 0px; color: #FFFFFF; HEIGHT: 1%}
.menu ul li a, .menu ul li a:visited {display:block; text-decoration:none; color:#FFFFFF; width:82px; height:20px; text-align:center;  line-height:20px; font-size:12px; overflow:hidden; float:left;}
.menu ul {padding:0; margin:0;list-style-type: none; }
.menu ul li {float:left; margin-right:1px; position:relative; background-color:#210E0E; }
.menu ul li ul {display: none; margin-top:-1px;}

/* specific to non IE browsers */
.menu ul li:hover a {color:#ff0000; background:none;}
.menu ul li:hover ul {display:block; position:absolute; top:21px; left:0; width:82px; background-color:#000;}
.menu ul li:hover ul li a.hide {background:#6a3; color:#fff;}
.menu ul li:hover ul li:hover a.hide {background:none; color:#fff;}
.menu ul li:hover ul li ul {display: none;}
.menu ul li:hover ul li a {display:block; background:none; color:#fff;}
.menu ul li:hover ul li a:hover {background:none; color:#ff0000; width:82px; background-color: #000;  }
.menu ul li:hover ul li:hover ul {display:block; position:absolute; left:95px; top:0;}
.menu ul li:hover ul li:hover ul.left {left:-95px;}
/*导航结束*/

/*Flash开始*/
.flash{ width:800px; height:220px; float:left;}
.flashright{ width:195px; height:218px; border:1px solid #D8D8D8; float:right;}
.right_nav{ width:100%; height:28px; border-bottom:1px solid #8B0000; color:#990000; font-size:13px; font-weight:bold; line-height:30px; text-align:left; margin-bottom:5px;}
.right_nav img{ margin-top:8px; margin-left:5px; margin-right:5px;}
.flashright_text{ width:175px; text-align:left; margin-left:5px; height:20px; line-height:20px;}
.flashright_text1{ width:137px; text-align:left; margin-left:38px; height:20px; line-height:20px;}
.qq1{width:175px; text-align:left; height:25px; line-height:25px; margin-left:5px;}
.alibaba1{height:32px; line-height:32px; font-weight:bold;  margin-left:5px;}
/*Flash结束*/

/*页面开始*/
.web{width:1000px; line-height:18px; margin:auto; height:auto; background-color:#FFFFFF; overflow:auto;}
.student{ width:1000px; height:28px; background-color:#210E0E; margin-top:2px;}
.student_img{ width:25px; height:20px; float:left; margin-top:5px; text-align:center;}
.student_title{ width:65px; height:28px; line-height:28px; font-weight:bold; font-size:13px; color:#FFFFFF; float:left;}
.student_text{ width:910px; height:28px; line-height:28px; float:left; text-align:left;}
.student_text a{ color: #FF0000;}
*html .student_text img{ margin-top:10px;}

.index_left{width:282px; height:395px; float:left;  margin-left:5px;}
.index_left1{ width:280px; height:195px;  border:1px solid #D8D8D8; line-height:20px; float:left; margin-top:3px;}
.index_middle{width:424px; height:395px;  border:1px solid #D8D8D8; line-height:20px; float:left; margin-top:3px;}
.index_right{ width:280px; height:195px; border:1px solid #D8D8D8; line-height:20px; float:left!important; margin-left:3px; float:right; margin-top:3px;}
.right_nav1{ width:190px; height:28px; color:#990000; font-size:13px; font-weight:bold; line-height:30px; text-align:left; float:left;}
.right_nav1 img{ margin-top:8px; margin-left:5px; margin-right:5px;}
.right_nav2{ width:40px; height:28px; line-height:30px; text-align:left; float:right;}
.right_nav2 img{ border:0px; margin-top:15px;}
.newslist{ width:100%; text-align:left; height:25px; line-height:25px;}
.newslist font{ font-size:12px; color:#FF0000;}
.newslist img{ margin-top:3px; margin-left:5px;}
.newslist1{ width:100%; text-align:left; height:25px; line-height:25px; border-bottom:1px dashed #D8D8D8;}
.newslist1 img{ margin-top:8px; margin-left:5px;}
.hits{height:20px; text-align:right; padding:3px; margin-top:3px; border-top:1px dashed #666666; }
.hits span{color:#FF0000;}
.product_list{width:99%; height:180px; line-height:20px; float:left; margin-top:3px; border-bottom:1px dashed #990000; }
.product_list_left{ width:425px; float:left; height:auto; overflow:auto;}
.product_list_img{width:160px; height:160px; float:left;  margin-left:5px; margin-right:5px; display:block;}
.product_list_img img{ width:160px; height:160px; display:block; border:0px;}
.product_list_text{ width:220px; height:140px; text-align:left; float:left;}
.product_list_title{ width:580px; height:25px; text-align:left; float:left; line-height:25px; margin-top:10px; font-weight:bold; display:block; }
.product_list_title1{ width:580px; height:20px; text-align:left; float:left; line-height:20px; font-weight:bold; display:block; }
.product_list_para{ width:350px; float:right; height:125px;}
.product_list_para font{ color:#990000; font-size:12px;}
.product_list_detail{width:350px; float:right; height:20px; color:#990000; text-align:right;}
.product_list_detail a{color:#990000;}
.index_product{ width:99%; height:180px; margin:auto; }
.index_product_img{ width:160px; height:160px; float:left;  margin-left:5px; margin-right:5px; display:block;}
.index_product_img img{ width:160px; height:160px; display:block;}
.index_product_text{ width:240px; height:140px; text-align:left; float:left;}
.index_product_title{ width:240px; height:25px; text-align:left; float:left; line-height:25px; margin-top:10px; font-weight:bold; display:block; }
.link{ width:100%; height:auto; line-height:25px; overflow:auto; text-align:left; margin-top:5px;}
.link img{ margin:5px 5px 0 5px;}
.nav{ width:100%; height:28px; line-height:25px; text-align:left; color:#990000; border-bottom:1px solid #990000;}
.nav img{ margin-top:5px;}
.nav a{color:#990000;}
.nav1{ width:100%; height:28px; line-height:28px; text-align:left; font-weight:bold;}
.clred{ color:#990000; }
.webleft{ width:800px; float:left; border:1px solid #D8D8D8; height:auto!important; height:400px; text-align:center; margin-top:3px; margin-bottom:3px; overflow:auto!important; overflow:visible;}
.content{ width:99%;; height:auto; overflow:auto; text-align:left; padding-top:5px;  margin:auto;}
.textline{ width:100%; height:20px; line-height:20px; color:#333333; text-align:center;}
.webright{ width:192px; float:right; height:auto; overflow:auto;  border:1px solid #D8D8D8; margin-top:3px;}
.nav_x{height:28px; line-height:25px; color:#990000; text-align:left; border-bottom:1px solid #990000; margin-top:3px; margin-bottom:3px; font-weight:bold;}
.navright{line-height:25px; text-align:left; padding-left:60px;}
/*页面结束*/

/*下载模块开始*/
.download_list{ width:100%; height:auto; overflow:auto; border-bottom:1px dashed #999999; margin-bottom:5px; margin-top:5px;}
.download_list_title{ height:25px; line-height:25px;  font-weight:bold;}
.download_list_detail{ height:25px; line-height:25px; background-color:#F2F2F2;}
.download_list_detail1{ width:70%; float:left; height:25px; line-height:25px;}
.download_list_detail2{ width:30%; float:right; height:25px; line-height:25px; text-align:right; color:#CC3300;}
.download_list_detail2 a{color:#CC3300;}
.download_list_para{ width:80%; height:auto; line-height:25px; float:left; overflow:auto;}
.download_url{ width:20%; height:auto; font-size:14px; line-height:40px; font-weight:bold; float:right; text-align:center; overflow:auto;}
.download_url a{ color: #CC0000;}
/*下载模块结束*/
/*图片模块开始*/
.img_list{ width:220px; height:auto; text-align:center; float:left; margin:15px; overflow:auto;}
.img_list_img{ width:200px;}
.img_list_title{ width:100%; height:25px; line-height:25px; font-weight:bold;}
.img_list_para{ width:500px; float:left; margin-top:15px; line-height:20px;}

/*图片模块结束*/
/*招聘模块开始*/
.job_list{ width:100%; height:25px; line-height:25px; border-bottom:1px dashed #D9D9D9;}
.job_list_img{ width:8px; margin-left:3px; float:left; padding-top:5px; margin-right:3px;}
.job_list_title{ width:650px; float:left;}
.job_list_title a{ color:#2F2F2F;}
.job_list_right{ width:100px; float:right;}
.job_list_right a{ color:#CC0000;}
.job_list_detail{ width:100%; height:auto; overflow:auto; line-height:25px;}
/*招聘模块结束*/

/*在线留言开始*/
.message_line{color: #CC0000; float:right; width:100px; font-weight:bold; line-height:25px;}
.message_line a{color: #CC0000;}
.message_list{ width:100%; height:auto; line-height:20px; overflow:auto; border-bottom:1px dashed #999999; margin-bottom:8px;}
.message_list_line{ width:100%; height:25px; line-height:25px; background-color:#EDEDED;}
.message_list_info{ width:100%; height:auto; margin-top:3px; overflow:auto;}
.message_list_reinfo{ width:100%; color:#990000; height:auto; margin-top:3px; overflow:auto;}
/*在线留言结束*
/*底部开始*/
.foot{ width:1000px; height:20px; border-top:1px solid #8B0000; background-color:#FFFFFF; padding-top:10px; padding-bottom:10px; margin:auto; margin-top:3px;}
/*底部结束*/

.qq{text-align:left; border-bottom:1px dashed #D3D3D3; height:30px; line-height:25px; font-weight:bold; padding-left:10px; overflow: auto;}
.qq img{ margin-top:5px;}
.alibaba{border-bottom:1px dashed #D3D3D3; height:38px; line-height:32px; font-weight:bold; padding-left:10px; overflow: auto;}
.alibaba img{ margin-top:3px;}
.floatonline{ width:130px; height:auto; overflow:auto;}
*html .floatonline{ width:128px; height:auto; overflow:auto;}
.scroll_title{width:100%; height:30px; line-height:30px; font-weight:bold; color:#FFFFFF; border-top:3px solid #8B0000;  background-color:#120105; }
.scroll_qq{text-align:left; border-bottom:1px dashed #D3D3D3; height:30px; line-height:25px; overflow: auto; width:100%; background-color:#FFFFFF;}
.scroll_qq img{ margin-top:5px;}
.scroll_alibaba{border-bottom:1px dashed #D3D3D3; height:40px; line-height:32px; font-weight:bold; width:100%; overflow: auto; background-color:#FFFFFF;}
.scroll_alibaba img{ margin-top:3px;}
.scroll_skype{border-bottom:1px dashed #D3D3D3; height:25px; line-height:20px; font-weight:bold; width:100%; overflow: auto; background-color:#FFFFFF;}
.scroll_skype img{ margin-top:3px;}
.scroll_close{ width:100%; height:20px; border-bottom:3px solid #8B0000;  background-color:#120105; color:#CCCCCC; line-height:20px;}
.scroll_close a{ color:#CCCCCC}

