<!--<?php
require_once template('head'); 
echo <<<EOT
-->
<div class="web">
<!--
EOT;
require_once template('webleft'); 
echo <<<EOT
-->
<!--
EOT;
foreach($download_list as $key=>$val){
echo <<<EOT
-->
<div class="download_list">
<div class="download_list_title"><a href="$val[url]" target="_blank">$val[title]</a></div>
<div class="download_list_detail">
<div class="download_list_detail2"><a href="$val[downloadurl]" onFocus="if(this.blur)this.blur();" target="_blank">{$lang_Download}</a></div>
<div class="download_list_detail1"><b>{$lang_FileSize}</b>：$val[filesize]KB&nbsp;&nbsp;&nbsp;&nbsp;<b>{$lang_Hits}</b>：$val[hits]&nbsp;&nbsp;&nbsp;&nbsp;<b>{$lang_UpdateTime}</b>：$val[updatetime] </div>

</div>
</div>
<!--
EOT;
}
echo <<<EOT
-->
<div class="web_bottom">$page_list</div>
</div>
       <div class="main_bottom_bgb"><div></div></div>
</div>
<div style=" clear:both;"></div>

</div>
<!--
EOT;
require_once template('foot'); 
?>