<!--<?php
$metfootnav=methtml_footnav('<span>|</span>');
echo <<<EOT
-->


<div class="footer">
            <div class="footnav">{$metfootnav}</div>
            <div class="foottext">
              {$methtml_foot}
<p style="font-family:arial;">Powered by&nbsp;<a href="http://www.MetInfo.cn" target="_blank" title="{$lang_Info1}"><b>MetInfo</b></a> $metcms_v &copy;&nbsp;2008-$m_now_year <a href="http://www.MetInfo.cn" target="_blank" title="{$lang_Info3}">www.MetInfo.cn</a></p>
            </div>
</div>

</div>
</body>
</html>

<!--
EOT;
?>-->