<!--<?php
$metlang=methtml_lang('<span>|</span>');
if($navurl == "../"){$asd="&gt;";}
$met_online=methtml_online();
if($class_list[$classnow][nav]==1 or $class_list[$classnow][nav]==3 or $classnow==10001){
    $navdown=$classnow;
  }else{
    $navdown=($class_list[$class1][nav]==1 or $class_list[$class1][nav]==3 )?$class1:'10001';
  }
echo <<<EOT
-->
{$methtml_head}
<link href="$img_url/css/reset.css" rel="stylesheet" type="text/css" />
<body>
<div>
      <div class="top">
	      <div class="topb">
            <div class="toplogo">
            <a href="$index_url"><img src="$met_logo" alt="$met_alt" style="margin-top:{$lang_logotop}px; margin-left:{$lang_logoleft}px;" /></a>
         </div>
	        <div class="nav">
	   <div class="time" id="heightme">
	       <div class="timet_top">{$methtml_now} &nbsp;&nbsp;&nbsp;&nbsp;
{$methtml_sethome}<span>|</span>{$methtml_addfavorite}<span>|</span>{$metlang}</div>
		   <div class="seo">$met_seo</div></div>
           <div>
            <ul class="navul">
<li><a href="$index_url" id="nav_10001"><span>{$lang_home}</span></a></li>
<!--
EOT;
$i=0;
foreach($nav_list as $key=>$val){
$i++;
$csswidth=$lang_navwidth*count($nav_list2[$val[id]]);
echo <<<EOT
-->
<li><a href="$val[url]" $val[new_windows] title="$val[name]" id="nav_$val[id]"><span>$val[name]</span></a>
<div class="nav_ul2" id="div_$val[id]" style="display:none; width:{$csswidth}px;">
<!--
EOT;
$k=0;
foreach($nav_list2[$val[id]] as $key=>$val2){
$k++;
echo <<<EOT
-->	 
		<div ><a href="$val2[url]" $val2[new_windows] title="$val2[name]" >$val2[name]</a></div>
<!--
EOT;
if($k>=8)break;
}
echo <<<EOT
-->
</div>
<div style="clear:both;"></div>
</li>
<!--
EOT;
if($i>=7)break;
}
echo <<<EOT
-->		
<div style="clear:both;"></div>
</ul>

<script>
  document.getElementById('nav_'+'$navdown').className="onnav";
      
<!--
EOT;
if($navdown!=10001){
echo <<<EOT
-->
			document.getElementById('div_'+'$navdown').style.display="block";
	
<!--
EOT;
}
echo <<<EOT
-->	
</script>
          </div>
	  </div>
<!--
EOT;
if($navdown == 10001){
echo <<<EOT
-->
		  <div class="tobnav">
<ul>
<li>$otherinfo[info1]</li>
</ul>
		  </div>
<!--
EOT;
}
echo <<<EOT
--> 
	 </div>
   </div>
<!--
EOT;
if($classnow != 10001){
echo <<<EOT
-->  
<div class="headflash">{$methtml_flash}</div>
<!--
EOT;
}
echo <<<EOT
--> 
<!--
EOT;
?>