<!--<?php
require_once template('head'); 
echo <<<EOT
-->
<div class="web">
<!--
EOT;
require_once template('webleft'); 
echo <<<EOT
-->
<ul class="news_list">
<!--
EOT;
foreach($news_list as $key=>$val){
echo <<<EOT
-->
<li><span class="newstime">$val[updatetime]</span><span class="newstitle"><a href="$val[url]" target="_blank">$val[title]</a></span>$val[top] $val[news] $val[hot]</li>
<!--
EOT;
}
echo <<<EOT
-->
</ul>
<div class="web_bottom">$page_list</div>
</div>
       <div class="main_bottom_bgb"><div></div></div>
</div>
<div style="clear:both;"></div>

</div>
<!--
EOT;
require_once template('foot'); 
?>