<!--<?php
require_once template('head'); 
$met_img=methtml_showimg('all');
$methits=methtml_hits('img');
$met_imgnext=methtml_prenextinfo();
echo <<<EOT
-->
<div class="web">
<!--
EOT;
require_once template('webleft'); 
echo <<<EOT
-->
<h1>$img[title]</h1>
  <div class="imgcontent">
{$met_img}
</div>
<div class="pcontent">$img[content]</div>
<div class="web_page">$met_imgnext</div>
<div class="hits">$methits</div>

</div>
<div class="main_bottom_bgb"><div></div></div>
</div>
<div style="clear:both;"></div>


</div>
<!--
EOT;
require_once template('foot'); 
?>