<!--<?php
require_once template('head'); 
$methits=methtml_hits('news');
$methtml_prenextinfo=methtml_prenextinfo();
echo <<<EOT
-->
<div class="web">
<!--
EOT;
require_once template('webleft'); 
echo <<<EOT
-->
<h1>$news[title]</h1>
<div class="news_content">$news[content]<div style="clear:both;"></div></div>
<div class="web_page">$methtml_prenextinfo</div>
<div class="hits">$methits</div>
</div>
<div class="main_bottom_bgb"><div></div></div>
</div>
<div style="clear:both;"></div>


</div>
<!--
EOT;
require_once template('foot'); 
?>