<!--<?php
echo <<<EOT
-->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="$css_url/metinfo_admin.css">
<title>网站基本信息设置</title>
</head>
<body>

<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr> 
    <td align="center" valign="top"><table width="95%" border="0" cellpadding="2" cellspacing="1" class="table_southidc">
        <form method="POST" name="myform" action="" target="_self">
		<input name="action" type="hidden" value="modify">
		<input name="met_en_lang" type="hidden" value="0">
		<input name="met_ch_lang" type="hidden" value="0">
		<input name="met_webhtm" type="hidden" value="0">
          <tr> 
            <td class="back_southidc" height="30" colspan="3" align="center">网站基本信息设置</td>
          </tr>
          <tr bgcolor="#ECF5FF"> 
            <td width="140" height="25"><font color="#FF0000">*</font>网站中文名称：</td>
            <td colspan="2"> <input name="met_c_webname" type="text" class="input" size="20" maxlength="200" value="$met_c_webname"></td>
          </tr> 
		  <tr bgcolor="#ECF5FF"> 
            <td width="140" height="25"><font color="#FF0000">*</font>网站英文名称：</td>
            <td colspan="2"> <input name="met_e_webname" type="text" class="input" size="20" maxlength="200" value="$met_e_webname"></td>
          </tr> 
		  <tr bgcolor="#ECF5FF"> 
            <td width="140" height="25"><font color="#FF0000">*</font>网站网址：</td>
            <td colspan="2"> <input name="met_weburl" type="text" class="input" size="20" maxlength="200" value="$met_weburl">系统检测到的地址：<font color="#FF0000">$localurl</font></td>
          </tr> 
		  <tr bgcolor="#ECF5FF"> 
            <td width="119" height="25">网站LOGO：</td>
            <td colspan="2"><input name="met_logo" type="text" class="input" size="30" maxlength="200" value="$met_logo"><iframe style="padding-top:0px;"ID="UploadFiles" src="../include/upload_photo.php?returnid=logo" frameborder=0 scrolling=no width="280" height="25"></iframe>
			</td>
          </tr>
		  <tr bgcolor="#ECF5FF"> 
            <td width="140" height="25">开启英文版本：</td>
            <td colspan="2"><input name="met_en_lang" type="checkbox" value="1" $met_en_lang1>选择后可以在后台添加英文内容，需要前台模板支持</td>
          </tr> 
		  <tr bgcolor="#ECF5FF"> 
            <td width="140" height="25">开启简繁体切换：</td>
            <td colspan="2"><input name="met_ch_lang" type="checkbox" value="1" $met_ch_lang1>选择后浏览者可以在简体中文和繁体中文之间进行切换，需要前台模板支持</td>
          </tr> 
		  <tr bgcolor="#ECF5FF"> 
            <td width="140" height="25">默认首页：</td>
            <td colspan="2"><input name="met_index_type" type="radio" value="0" $met_index_type1[0]>中文 <input name="met_index_type" type="radio" value="1" $met_index_type1[1]>英文</td>
          </tr> 
		  <tr bgcolor="#ECF5FF"> 
            <td width="140" height="25">生成静态页面：</td>
            <td colspan="2"><input name="met_webhtm" type="checkbox" value="1" $met_webhtm1>首页、内容页面静态化，<font color="#FF0000">首次开启请点击“静态页面生成”生成全部页面</font></td>
          </tr> 
		  <tr bgcolor="#ECF5FF"> 
            <td width="140" height="25"><font color="#FF0000">*</font>下载文件上传最大值：</td>
            <td colspan="2"> <input name="met_file_maxsize" type="text" class="input" size="3" maxlength="200" value="$met_file_maxsize">Mb</td>
          </tr> 
		  <tr bgcolor="#ECF5FF"> 
            <td width="140" height="25"><font color="#FF0000">*</font>允许上传的文件格式：</td>
            <td colspan="2"> <input name="met_file_format" type="text" class="input" size="30" maxlength="200" value="$met_file_format">多种格式请用“|”隔开</td>
          </tr> 
		  <tr bgcolor="#ECF5FF"> 
            <td height="25" colspan="2"><b>系统邮箱配置</b>（用于系统自动发生邮件，如反馈信息发送和回复、用户密码找回等）</td>
          </tr>  
		  <tr bgcolor="#ECF5FF"> 
            <td width="120" height="25">发件人姓名：</td>
            <td><input name="met_fd_fromname" type="text" class="input" size="30" maxlength="200" value="$met_fd_fromname">所显示的发件人姓名</td>
          </tr> 
		  <tr bgcolor="#ECF5FF"> 
            <td width="120" height="25">邮箱账号：</td>
            <td><input name="met_fd_usename" type="text" class="input" size="30" maxlength="200" value="$met_fd_usename">用于发送邮件的邮箱账号</td>
          </tr> 
		   <tr bgcolor="#ECF5FF"> 
            <td height="25" colspan="2" style="color:#CC0000">以下信息仅在Windows平台下有效，Linux平台可以为空</td>
          </tr> 
		  <tr bgcolor="#ECF5FF"> 
            <td width="120" height="25">邮件SMTP服务器：</td>
            <td><input name="met_fd_smtp" type="text" class="input" size="30" maxlength="200" value="$met_fd_smtp">如163邮箱为stmp.163.com</td>
          </tr> 
		  <tr bgcolor="#ECF5FF"> 
            <td width="120" height="25">邮箱密码：</td>
            <td><input name="met_fd_password" type="password" class="input" size="32" maxlength="200" value="$met_fd_password">用于发送邮件的邮箱密码</td>
          </tr> 
	      <tr> 
            <td height="30" colspan="3" align="center" bgcolor="#ECF5FF"> <input type="submit" name="Submit" value="提交" class="tj">
              　 
              <input type="reset" name="Submit" value="重置" class="tj"> </td>
          </tr>
        </form>
    </table></td>
  </tr>
</table>
</body>
</html>
<!--
EOT;
?>-->