.onlinebox {width: 160px; height: auto;overflow: hidden; background-color: #ffffff; -webkit-box-shadow: 0 5px 9px rgba(4, 0, 0, .17); box-shadow: 0 5px 9px rgba(4, 0, 0, .17); z-index: 999;}
.onlinebox,.onlinebox *{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.onlinebox-top { padding: 20px; line-height: 16px; height: 56px; background: #444; color: #ffffff; font-size: 18px; }
.onlinebox-close { font-size: 18px; color: #ffffff; cursor: pointer; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; float: right; position: relative; top: -2px; }
.onlinebox-close:hover { color: #fff; text-decoration: none; }
.onlinebox .list-group{margin-bottom: 0;padding-left: 0;}
.onlinebox .list-group-item {display: block;padding: 0;}
.onlinebox .list-group-item .fa { margin-right: 10px; font-size: 16px; width: 16px; height: 16px;float: left;}
.onlinebox .list-group-item .list-group-item-text span{width: 94px;display: table-cell;vertical-align: top;word-break:break-all;line-height: 16px;}
.onlinebox .list-group-item h4 { padding: .75rem 1.25rem 0 1.25rem; font-size: 14px;font-weight: 400;}
.onlinebox .list-group-item img { margin-right: 10px; font-size: 16px; width: 16px; height: 16px; position: relative; top: -2px; }
.onlinebox .met_qq .fa { color: #62a8ea; }
.onlinebox .met_facebook .fa { color: #4267b2; }
.onlinebox .met_skype .fa { color: #00AFF0; }
.onlinebox .list-group-item .list-group-item-text { padding: 5px 1.25rem; }
.onlinebox .list-group-item .list-group-item-text:hover { background: #f8f8f8; }
.onlinebox .list-group-item .list-group-item-text a { color: #76838f; }
.onlinebox .list-group-item .list-group-item-text a:hover { text-decoration: none; }
.onlinebox .online-tbox { border-top: 1px solid #eee; padding: .75rem 1.25rem; }
.onlinebox .online-tbox p{margin-bottom: 0;}
.onlinebox .onlinebox-min { float: right; margin-right: 15px; font-size: 18px; color: #ffffff; cursor: pointer; transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1); }
.onlinebox .onlinebox-top .fa-commenting { margin-right: 10px; }
.onlinebox .onlinebox-min:hover, .onlinebox .onlinebox-min:active, .onlinebox .onlinebox-min:focus { color: #fff; text-decoration: none; }
.onlinebox .onlinebox-center { height: auto; }
.onlinebox .onlinebox-open { display: none; }
.onlinebox.min { background: transparent; box-shadow: none; }
.onlinebox.min .onlinebox-center,
.onlinebox.min .onlinebox-bottom,
.onlinebox.min .onlinebox-top{ display: none; }
.onlinebox.min .onlinebox-open { display: block;height: 40px; background: #444;color: #fff;padding: 5px 10px; font-size: 18px;line-height: 30px; float: right;cursor: pointer;-webkit-box-shadow: 0 5px 9px rgba(4, 0, 0, .17); box-shadow: 0 5px 9px rgba(4, 0, 0, .17);}