@charset "utf-8";
/*后台公用样式*/
/* 下拉插件 */
.select2-container--default:not(.select2){z-index:1700}
.select2-container--default .select2-selection{font-family:"Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",Roboto,Arial,sans-serif}
/* 后台应用公用样式 */
.metadmin-haed{min-height:0}
.metadmin-haed-right .btn-default{background:none;border-color:transparent;color:#222}
.metadmin-haed-right .btn-default:hover{background:#e4eaec;border-color:#e4eaec}
.stat-list a{background:#e4eaec}
.metalert-wrapper{display:none;height:100%;position:fixed;left:0;top:0;z-index:1799}
.metalert-wrapper.bgshow{background:rgba(0,0,0,.5)}
.metalert-text{position:fixed;left:50%;top:50%;z-index:1799;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.metalert-wrapper .metalert-text{position: absolute;}
.metalert-text .close{position:absolute;right:5px;top:5px;font-size:30px;opacity:1}
.function_ency-content .list-group-item{border-color:#ddd}
.met-help-tutorials{position:fixed;left:10px;bottom:10px;z-index:10}
/* 功能区块 */
.metadmin-fmbx{border:1px solid  #ddd}
.metadmin-fmbx .metadmin-fmbx{border: none;}
.metadmin-fmbx>*,
.metadmin-fmbx .example-title,
.metadmin-fmbx dl{border-top:1px solid #ddd;margin:0}
.metadmin-fmbx>*:first-child,
.metadmin-fmbx .example-title:first-child,
.metadmin-fmbx dl:first-child{border-top:none}
.metadmin-fmbx .example-title{padding:10px;font-size:16px;font-weight:bold}
.metadmin-fmbx .alert.dark a{color:#f00}
.metadmin-fmbx dl{
	display:-webkit-box;
    display:-moz-box;
    display:box;
    display:-ms-flexbox}
.metadmin-fmbx dl dd,
.metadmin-fmbx dl dt{padding:10px}
.metadmin-fmbx dl dt{width:150px;font-weight:normal}
.metadmin-fmbx dl dd{
	margin-bottom:0;
	-webkit-box-flex:1.0;
    box-flex:1.0;
    -ms-flex:1;
}
.metadmin-fmbx dl .form-control,
.metadmin-fmbx dl .input-group{width:350px;float:left}
.metadmin-fmbx dl .input-group .form-control{width:100%}
.metadmin-fmbx dl .form-control-label{margin-bottom:0;padding:.429rem 0}
.metadmin-fmbx dl .form-group{margin-bottom:10px}
.metadmin-fmbx dl .form-group:last-child{margin-bottom:0}
.metadmin-fmbx dl .minicolors{float:left}
.metadmin-fmbx dl .checkbox-custom{margin-top:0;margin-bottom:0;padding-top:.429rem;padding-bottom:.429rem}
.metadmin-fmbx dl .radio-inline{padding-top: 5px;}
@media (max-width:767px){
    .metadmin-fmbx dl dt{width:30%;min-width: 100px;}
    .metadmin-fmbx dl .form-control,
    .metadmin-fmbx dl .input-group,
    .metadmin-fmbx dl .minicolors{width:100%;margin-right:0 !important}
}