@charset "UTF-8";
/* 文字 */
.dropdown-item,
.met_page li a,
.recommend .list-group a,
.sidebar-column li a,
.met-nav .navlist .nav-item a,
.met-footnav .list h4 a,
body,
.met-white-lightGallery .lg-toolbar .lg-icon:hover,
.met-white-lightGallery .lg-actions .lg-next:hover,
.met-white-lightGallery .lg-actions .lg-prev:hover,
.met-white-lightGallery .lg-outer .lg-toogle-thumb:hover,
.met-editor,
.met-editor table{color:#2a333c;}
.dropdown-item:hover,
.met_page li a:hover,
.recommend .list-group a:hover,
.sidebar-column li a:hover,
.met-nav .navlist .nav-item a:hover,
.met-footnav .list h4 a:hover,
a:hover,
.sidebar-piclist-ul li h4 a:hover,
.met-footnav .list ul li a:hover,
.met-column-nav-ul li a:hover,
.met-nav .navlist .nav-item a.nav-link:hover{color:#4E97D9;}
.sidebar-column li a.active,
.met-column-nav-ul li a.active{color:#4E97D9;}
.met-white-lightGallery .lg-sub-html,
.sidebar-piclist-ul li h4 a,
.paralist li,
.met-footnav .list ul li a,
.met-showproduct-head .product-intro p.description{color:#5e7387;}
.sidebar-column li i,
footer{color:#aaa;}
a,
.decorationnone,
.met_pager a,
.sidebar-piclist-ul li h4 a,
.met-footnav .list h4 a,
.met-footnav .list ul li a,
.met-position a,
.met-column-nav-ul li a{text-decoration:none;}
a:hover,
.decorationnone:active,
.met_pager a:active,
.sidebar-piclist-ul li h4 a:active,
.met-footnav .list h4 a:active,
.met-footnav .list ul li a:active,
.met-position a:active,
.met-column-nav-ul li a:active,
.decorationnone:focus,
.met_pager a:focus,
.sidebar-piclist-ul li h4 a:focus,
.met-footnav .list h4 a:focus,
.met-footnav .list ul li a:focus,
.met-position a:focus,
.met-column-nav-ul li a:focus,
.decorationnone:hover,
.met_pager a:hover,
.sidebar-piclist-ul li h4 a:hover,
.met-footnav .list h4 a:hover,
.met-footnav .list ul li a:hover,
.met-position a:hover,
.met-column-nav-ul li a:hover{text-decoration:none;}

/* 背景颜色 */
.bg-navhvbg{background:#f5f5f5;}
.met-page-body,
.bg-pagebg{background:#fff;}
.bg-pagebg1,
.met-white-lightGallery .lg-outer .lg-thumb-outer,
.met-white-lightGallery .lg-outer .lg-toogle-thumb,
.met-position.pattern-show{background:#f2f2f2;}
.met-page-content,
.met-editor,
.bg-pageeditbg{background:#fff;}
.bg-pageeditcolor{background:#5e7387;}
.bg-pagebgcr{background:#62a8ea;}

/* 透明度 */
.opacity1,
.slick-arrow:hover i,
.no-js .grid li,
.no-cssanimations .met-grid li,
.met-grid li.shown,
#met-imgs-slick .slick-dots li.slick-active{opacity:1;}
.opacity0,
.met-white-lightGallery .lg-toolbar.opacity0,
.met-grid li{opacity:0;}

/* 弹性布局 */
.flex,
.slick-track,
#met-imgs-slick .slick-dots{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}

/* 弹性布局垂直居中 */
.slick-track{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}

/* 页面布局 */
.met-page-body{padding:30px 0px;}
.met-page-content,
.met-editor{padding:30px;}
@media (max-width:767px){
    .met-page-body{padding:20px 0;}
    .met-page-content,
    .met-editor{padding:20px;}
}
@media (max-width:767px){
    .met-page-body{padding:15px;}
    .met-page-content,
    .met-editor{padding:15px;}
}
@media (max-width:479px){
    .met-page-body{padding:0px;}
}
.ulstyle{padding:0px;list-style:none;}

/* css3 */
.radius0,
.dropdown-menu,
.dropdown-menu .dropdown-item,
.met-white-lightGallery .lg-outer .lg-thumb-outer .lg-thumb-item,
.met-form .form-control,
.input-group-addon{
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    -o-border-radius:0px;
    border-radius:0px;
}
.dropdown-item,
.met-white-lightGallery .lg-toolbar.opacity0,
.met-nav .navlist .nav-item a{-webkit-transition:all .5s;transition:all .5s;}
.box-shadow-none{box-shadow:none;}
.box-shadow1{box-shadow:0 1px 1px rgba(0,0,0,0.05);}

/* 其他 */
.border-top1,
.met-showproduct-head .product-para{border-top:1px solid #f0f2f5;}
.border-bottom1,
.met-position,
.met-column-nav,
.met-showproduct-head .product-para,
.product-detail .met-editor .product-para{border-bottom:1px solid #f0f2f5;}
.flex-start{-webkit-justify-content:flex-start!important;-webkit-box-pack:start!important;-ms-flex-pack:start!important;justify-content:flex-start!important;}
.flex-center,
.met-column-nav-ul,
#met-imgs-slick .slick-dots{-webkit-justify-content:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;}
.flex-end{-webkit-justify-content:flex-end;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;}

/* 全局样式 */
html,
body{width:100%;max-width:100%;min-width:320px;}
body{height:auto;min-height:100%;overflow-x:hidden;word-wrap:break-word;}
b,
strong{font-weight:bold;}
a:focus{outline:none;}
h4,h5,h6{text-shadow: none;}

/* 其他 */
.overflow-visible{overflow:visible!important;}
.oya{overflow-y:auto!important;}
.h-10{height:10px;}
.h-20{height:20px;}
.h-100p{height:100%;}
.table td{outline:none;vertical-align: middle;}
.table td span.tag{font-weight:normal;}
.border-none{border: none;}
.scrollbar-beautify::-webkit-scrollbar{width:3px;}
.scrollbar-beautify::-webkit-scrollbar-track{background:transparent;}
.scrollbar-beautify::-webkit-scrollbar-thumb{background:rgba(0,0,0,0.2);border-radius:3px;}
.scrollbar-beautify::-webkit-scrollbar-thumb:hover{background:rgba(0,0,0,0.2);}
.scrollbar-beautify::-webkit-scrollbar-button{height:0;}
.text-shadow-none{text-shadow:none;}
.transition500{-webkit-transition:all .5s!important;transition:all .5s!important;}

/* 自定义animation-动画 */
.animation-slide-top10{-webkit-animation-name:slide-top10;animation-name:slide-top10;}
@-webkit-keyframes slide-top10{
    0%{opacity:0;-webkit-transform:translate3d(0,-10%,0);transform:translate3d(0,-10%,0);}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}
@keyframes slide-top10{
    0%{opacity:0;-webkit-transform:translate3d(0,-10%,0);transform:translate3d(0,-10%,0);}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}
.animation-slide-bottom10{-webkit-animation-name:slide-bottom10;animation-name:slide-bottom10;}
@-webkit-keyframes slide-bottom10{
    0%{opacity:0;-webkit-transform:translate3d(0,10%,0);transform:translate3d(0,10%,0);}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}
@keyframes slide-bottom10{
    0%{opacity:0;-webkit-transform:translate3d(0,10%,0);transform:translate3d(0,10%,0);}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}
.animation-slide-left10{-webkit-animation-name:slide-left10;animation-name:slide-left10;}
@-webkit-keyframes slide-left10{
    0%{opacity:0;-webkit-transform:translate3d(-10%,0,0);transform:translate3d(-10%,0,0);}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}
@keyframes slide-left10{
    0%{opacity:0;-webkit-transform:translate3d(-10%,0,0);transform:translate3d(-10%,0,0);}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}
.animation-slide-right10{-webkit-animation-name:slide-right10;animation-name:slide-right10;}
@-webkit-keyframes slide-right10{
    0%{opacity:0;-webkit-transform:translate3d(10%,0,0);transform:translate3d(10%,0,0);}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}
@keyframes slide-right10{
    0%{opacity:0;-webkit-transform:translate3d(10%,0,0);transform:translate3d(10%,0,0);}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}
.animation-slide-top50{-webkit-animation-name:slide-top50;animation-name:slide-top50;}
@-webkit-keyframes slide-top50{
    0%{opacity:0;-webkit-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0);}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}
@keyframes slide-top50{
    0%{opacity:0;-webkit-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0);}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}
.animation-slide-bottom50{-webkit-animation-name:slide-bottom50;animation-name:slide-bottom50;}
@-webkit-keyframes slide-bottom50{
    0%{opacity:0;-webkit-transform:translate3d(0,50%,0);transform:translate3d(0,50%,0);}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}
@keyframes slide-bottom50{
    0%{opacity:0;-webkit-transform:translate3d(0,50%,0);transform:translate3d(0,50%,0);}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}
.animation-slide-left50{-webkit-animation-name:slide-left50;animation-name:slide-left50;}
@-webkit-keyframes slide-left50{
    0%{opacity:0;-webkit-transform:translate3d(-50%,0,0);transform:translate3d(-50%,0,0);}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}
@keyframes slide-left50{
    0%{opacity:0;-webkit-transform:translate3d(-50%,0,0);transform:translate3d(-50%,0,0);}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}
.animation-slide-right50{-webkit-animation-name:slide-right50;animation-name:slide-right50;}
@-webkit-keyframes slide-right50{
    0%{opacity:0;-webkit-transform:translate3d(50%,0,0);transform:translate3d(50%,0,0);}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}
@keyframes slide-right50{
    0%{opacity:0;-webkit-transform:translate3d(50%,0,0);transform:translate3d(50%,0,0);}
    100%{opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}

/* 下拉菜单 */
.dropdown-item.active{color:#4E97D9!important;}
.dropdown-item:hover,
.dropdown-item.active{background:#f5f5f5!important;}
.dropdown-toggle::after{margin-top:-3px;}
.dropdown-submenu:hover .dropdown-menu{display:table;}
.dropdown-submenu.dropdown-item{padding:0!important;}
.dropdown-menu,
.dropdown-menu .dropdown-item{font-weight:normal;}
@media (max-width:1199px) {
    .dropdown-item{white-space:normal;}
}
@media (max-width:767px){
    .dropdown-menu.dropdown-menu-bullet:before,
    .dropdown-menu.dropdown-menu-bullet:after{display:none;}
}

/* 图片画廊皮肤 */
.met-white-lightGallery .lg-backdrop,
.met-white-lightGallery .lg-toolbar{background:#fff;}
.met-white-lightGallery .lg-actions .lg-icon{padding:10px 0;background:rgba(255,255,255,0.5);}
.met-white-lightGallery .lg-actions .lg-icon:before,
.met-white-lightGallery .lg-actions .lg-icon:after{content:'';}
.met-white-lightGallery .lg-actions .lg-icon i{font-size:40px;}
.met-white-lightGallery .lg-sub-html{background:rgba(255,255,255,0.7);}
.met-white-lightGallery .lg-toolbar.opacity0{-webkit-transform:translateY(-50px);-ms-transform:translateY(-50px);transform:translateY(-50px);}
.met-white-lightGallery .lg-outer{z-index:1602;background:#fff;}
.met-white-lightGallery .lg-outer.lg-pull-caption-up.lg-thumb-open .lg-sub-html{bottom:84px;}
.met-white-lightGallery .lg-outer .lg-thumb-outer{padding:0 10px;}
.met-white-lightGallery .lg-outer .lg-thumb-outer .lg-thumb-item{margin-bottom:0;}
.met-white-lightGallery .lg-outer .lg-thumb-outer .lg-thumb-item.active,
.met-white-lightGallery .lg-outer .lg-thumb-outer .lg-thumb-item:hover{border-color:#62a8ea;}

/* 表单 */
.form-group small.form-control-label{margin-left: 10px;}
.input-group-file .btn-file input[type=file]{width:100%;height:100%;}

/* swiper水平滚动导航 */
.swiper-navtab.swiper-container-horizontal .swiper-scrollbar{width:100%;height:3px;left:0;bottom:0;}
.swiper-navtab.swiper-container-horizontal .swiper-scrollbar-drag{background:rgba(0,0,0,0.2);}
.swiper-navtab .swiper-slide{width:auto;}

/* slick */
.slick-loading .slick-list{background:none;}
.slick-arrow{width:auto;height:auto;z-index:1;color:#fff!important;text-align:center;}
.slick-arrow:before,
.slick-arrow:after{display:none;}
.slick-arrow:hover{color:#4E97D9!important;}
.slick-arrow.slick-next{right:0;}
.slick-arrow.slick-prev{left:0;}
.slick-arrow i{font-size:40px;opacity:.5;}
.slick-slide{width:100%;}
.slick-slide:first-child{display:block;}
.slick-slide img[data-lazy]{width:auto!important;max-width:100%!important;}

/* 延迟加载背景图片 */
img.imgloading:not([src*=base64]),
img.slick-loading:not([src*=base64]){object-fit:scale-down;background:#fff;}
img + canvas{max-width:100%;}

/* 编辑器 */
.met-editor{width:100%;max-width:100%;font-size:18px;font-weight:300;line-height:1.8;}
.met-editor p{margin-bottom:.8em;}
.met-editor img{max-width:100%!important;vertical-align:top;}
.met-editor img[src]{height:auto!important;}
.met-editor .table-saw{overflow-x:auto;}
.met-editor .metvideobox,
.met-editor video,
.met-editor .metvideo,
.met-editor iframe,
.met-editor embed{max-width:100%!important;margin:auto;display:block;}
.met-editor .lg-item-box{display:inline-block;}
@media (max-width:767px){
    .met-editor{font-size:16px;}
}
@media (max-width:349px){
    .met-editor{font-size:14px;}
}

/* 内页侧栏 */
.leftsidebar{margin-left:0!important;margin-right:30px!important;}
@media (max-width:991px){
    .leftsidebar{margin-right:0px!important;}
}

/* 详情页参数列表 */
.paralist li{margin-bottom:0;}
@media (min-width:480px){
    .paralist li{padding-right: 3px;padding-bottom: 3px;}
}

/* 头部 */
/* 导航 */
.met-nav{min-height:60px;}
.met-nav .met-logo img{max-height:50px;}
.met-nav .met-logo,
.met-nav .navbar-toggler,
.met-nav .met-langlist{height:60px;}
.met-nav .navbar-toggler{width:auto;}
.met-nav .navbar-collapse{overflow-x:hidden;}
.met-nav .navbar-collapse.flex-navlist{width: 100%;padding: 0;}
.met-nav .navlist.flex{width:100%;margin-right:0!important;}
.met-nav .navlist.flex .nav-item{-webkit-box-flex:1;-webkit-flex:auto;-ms-flex:auto;flex:auto;margin:0!important;text-align:center;}
.met-nav .navlist.flex .nav-item .nav-link{height:50px;line-height:50px;padding:0;}
.met-nav .navlist.flex .nav-item > .dropdown-menu{top:50px;}
@media screen\0 {
    .met-nav .navlist.flex{text-align: center;}
    .met-nav .navlist.flex .nav-item{display: inline-block;float: none;}
    .met-nav .navlist.flex .nav-item .nav-link{padding: 0 20px;}
}
.met-nav .navlist .nav-item a.active{color:#4E97D9!important;}
.met-nav .navlist .nav-item a.nav-link,
.met-nav .navlist .nav-item a.nav-link:hover,
.met-nav .navlist .nav-item a.active{background:none;}
.met-nav .dropdown-submenu > .dropdown-item.dropdown-a:after{border-top:.286rem solid;border-right:.286rem solid transparent;border-left:.286rem solid transparent;}
.met-nav .dropdown-submenu .dropdown-menu.block{position:static;border-right:none;border-left:none;}
.met-nav .dropdown-submenu .dropdown-menu.block .dropdown-item{padding-left:35px;}
.met-nav .met-langlist .dropdown-menu{top: 43px;}
@media (max-width:991px) {
    .met-nav .navlist .nav-item{margin-left: 0 !important;}
}
@media (min-width:768px){
    /*.met-nav .navlist .nav-item:after{content:'';width:100%;height:5px;display:block;position:absolute;left:0;bottom:-5px;}/* 补充导航与下拉菜单之前空隙 */
    .met-nav .navlist .nav-item .nav-link{padding-top:0px;padding-bottom:0px;height:60px;line-height:60px;}
    .met-nav .navlist .nav-item > .dropdown-menu{top:60px;}
    .met-nav .navlist .nav-item > .dropdown-menu.dropdown-menu-bullet{top:67px;}
    .met-nav .met-head-user{height:60px;}
    .met-nav .met-langlist,
    .met-nav .met-head-user{margin-left: 15px;}
}
@media (max-width:767px){
    .met-nav .met-logo{margin-left:10px;}
    .met-nav .met-logo img{max-width:150px;}
    .met-nav .navbar-collapse{width:100%;}
    .met-nav .navbar-nav{margin:10px 0 !important;}
    .met-nav .met-langlist{margin-right:5px;}
    .met-nav .navlist .nav-item a.active{background:#f5f5f5;}
    .met-nav .dropdown-submenu .dropdown-menu .dropdown-item{padding-left:40px;}
}
.met-head-user-toggler i{position:relative;top:-5px;}
.met-head-user-toggler i:first-child,.met-head-user-toggler.active i{display: none;}
.met-head-user-toggler.active i:first-child{display: inline-block;}

/* 底部 */
/* 底部导航 */
.met-footnav .list h4 a{color:#777;}

/* footer */
footer{line-height:1.8;}
footer p{margin-bottom:0px;}

/* 多语言 */
.met-langlist .btn-lang .flag-icon{margin-right:3px;}
.met-langlist .dropdown-menu{min-width: 0;}
.met-langlist .dropdown-menu .dropdown-item{white-space: nowrap;}
@media (max-width:479px){
    .met-langlist .btn-lang{padding-left:5px;padding-right:5px;}
}

/* 返回顶部 */
.met-scroll-top{position:fixed;right:10px;bottom:10px;z-index:10;}

/* 面包屑 */
.met-position{background:#fff;}
.met-position.bordernone,
.met-position.pattern-show{border:none;}
.met-position.pattern-show .breadcrumb{padding:10px;}
.met-position .breadcrumb{padding:15px;}

/*社会化分享按钮*/
.met_tools_code{margin-top:30px;}
@media (max-width:767px){
    .met_tools_code{margin-top:10px;}
}
.met_tools_code .bdsharebuttonbox{display:inline-block;vertical-align:top;}
#bdshare_weixin_qrcode_dialog{box-sizing:content-box;}

/* 会员模块 */
/* 头部会员、登录注册 */
.met-head-user .dropdown i{color:#9e9e9e;}
.met-head-user .dropdown > a{background:#f5f5f5;}
.met-head-user .dropdown > a{padding-top:0px;padding-bottom:0px;height:40px;line-height:40px;}
.met-head-user .dropdown-menu-footer{line-height:35px;}
.met-head-user .dropdown-menu{top:45px;}
.met-head-user-column .avatar img{max-height: 30px;}
@media (min-width:768px){
    .met-head-user>li:nth-child(2){margin-left: 10px;}
}
@media (max-width:767px){
    .met-head-user>li{display:block;}
    .met-head-user>li:first-child{margin-bottom:10px;}
}

/*侧栏*/
.met-sidebar-nav .list-group-item a{color:#76838f;}
.met-sidebar-nav .list-group-item a:hover{color:#000;text-decoration:none;}
.met-sidebar-nav .list-group-item.active a{color:#62a8ea;}
/* 提示弹窗 */
.alertify-logs{bottom:auto!important;top:48%;z-index:1701!important;}
/* datatables表格插件 */
.dataTables_info{color: #777;}
@media (max-width:479px){
    .dataTables_info{float: none !important;text-align: left !important;}
    .dataTables_paginate{float: none !important;text-align: center !important;}
}
/* 框架样式重新定义 */
.tag{font-size: inherit;}
.modal-content{overflow:hidden;}
.page-content{ padding:30px 0px;}
.webui-popover{z-index: 1600;}
.pearl-title{white-space: normal;}
[class*=animation-]{
    -webkit-animation-fill-mode: none;
    -o-animation-fill-mode: none;
    animation-fill-mode: none;
}
@media (max-width: 991px) {
    .panel{margin-bottom: 20px;}
    .page-content{ padding:20px 0px;}
    .panel-body{ padding:20px;}
}
@media (max-width: 767px) {
    .panel,.well,.card-shadow{margin-bottom: 15px;}
    .page-content{ padding:15px 0px;}
    .well,.panel-body,.modal-body,.modal-header,.modal-footer{padding: 15px;}
    .modal-footer{padding-top: 0;}
}
@media screen\0 {
    select.form-control{padding-right: 15px;}
}