<!--<?php
require_once template('e_head'); 
echo <<<EOT
-->
<div class="web">
<div class="nav">&nbsp;<img height=17 src="$img_url/main.gif" width=18 />
You are being：<a href='$index_e_url'>Home</a> > $nav_x[e_name]</div>
<div class="webleft">
<div class="content">
<!--
EOT;
foreach($download_list as $key=>$val){
echo <<<EOT
-->
<div class="download_list">
<div class="download_list_title"><a href="$val[e_url]" target="_blank">$val[e_title]</a></div>
<div class="download_list_detail">
<div class="download_list_detail1"><b>File size</b>：$val[filesize]KB&nbsp;&nbsp;&nbsp;&nbsp;<b>Hits</b>：$val[hits]&nbsp;&nbsp;&nbsp;&nbsp;<b>Update Time</b>：$val[updatetime] </div>
<div class="download_list_detail2"><a href="$val[downloadurl]" target="_blank">Download</a> | <a href="$val[e_url]" target="_blank">Detail</a></div>

</div>
</div>
<!--
EOT;
}
echo <<<EOT
-->
</div>
$e_page_list
</div>

<div class="webright">
<div class="nav_x">&nbsp;<img src="$img_url/right.gif" />&nbsp;$class1_info[e_name]</div>
<div class="navright">$nav_e_list</div>
<!--
EOT;
require_once template('e_online'); 
echo <<<EOT
-->
</div>
</div>
<!--
EOT;
require_once template('e_foot'); 
?>