<!--<?php
require_once template('e_head'); 
echo <<<EOT
-->
 <div class="web">
<!--
EOT;
if($met_flash_type==0&&$met_flash_ok==1){
echo <<<EOT
-->
<div class="flash">
<script type="text/javascript">
var swf_width=$met_flash_x;
var swf_height=$met_flash_y;
var files='$met_e_flash_img'; //图片
var links='$met_flashurl';
var texts='';
var swfpath = '$img_url'+'/bcastr.swf'
var AutoPlayTime=6; //间隔时间：单位是秒

document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="'+ swf_width +'" height="'+ swf_height +'">');
document.write('<param name="movie" value='+swfpath+'><param name="quality" value="high">');
document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
document.write('<param name="FlashVars" value="bcastr_file='+files+'&bcastr_link='+links+'&bcastr_title='+texts+'&AutoPlayTime='+AutoPlayTime+'">');
document.write('<embed src='+swfpath+' wmode="opaque" FlashVars="bcastr_file='+files+'&bcastr_link='+links+'&bcastr_title='+texts+'&AutoPlayTime='+AutoPlayTime+'" menu="false" quality="high" width="'+ swf_width +'" height="'+ swf_height +'" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />'); document.write('</object>'); 

</script>
<!--
EOT;
}
if($met_flash_type==1&&$met_flash_ok==1){
$met_flash_x1=$met_flash_x-1;
$met_flash_xb=$met_flash_x1."px";
$met_flash_yb=$met_flash_y."px";
echo <<<EOT
-->
<div class="flash" style="background-image: url($met_flash_back); width:$met_flash_xb; height:$met_flash_yb;">
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="$met_flash_x" height="$met_flash_y">
            <param name="movie" value="$met_flash_url">
            <param name="quality" value="high">
            <param name="wmode" value="transparent" />
		 <embed src="$met_flash_url" width="$met_flash_x" height="$met_flash_y" quality="high" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent"></embed>
 </object>
 <!--
EOT;
}
echo <<<EOT
-->	 
</div>
<div class="flashright">
<div class="right_nav"><img src="$img_url/nav.gif" />Contact Us</div>
<!--
EOT;
if($otherinfo[e_info1]!=""){
echo <<<EOT
-->
<div class="flashright_text">Tel：$otherinfo[e_info1]</div>
<!--
EOT;
}
if($otherinfo[e_info2]!=""){
echo <<<EOT
-->
<div class="flashright_text1">$otherinfo[e_info2]</div>
<!--
EOT;
}
if($otherinfo[e_info3]!=""){
echo <<<EOT
-->
<div class="flashright_text">Fax：$otherinfo[e_info3]</div>
<!--
EOT;
}
if($otherinfo[e_info4]!=""){
echo <<<EOT
-->
<div class="flashright_text">Email：$otherinfo[e_info4]</div>
<!--
EOT;
}
if($otherinfo[e_info5]!=""){
echo <<<EOT
-->
<div class="flashright_text">Add：$otherinfo[e_info5]</div>
<!--
EOT;
}
foreach($online_list as $key=>$val){
echo <<<EOT
-->
<div class="qq1">
$val[e_name]&nbsp;
<!--
EOT;
if($val[qq]!=""){
echo <<<EOT
-->
<A href="tencent://message/?uin=$val[qq]&amp;Site=$met_e_webname&amp;Menu=yes" title='Online Communication'><img src='$img_url/qq.gif' border=0 /></a>&nbsp;
<!--
EOT;
}
if($val[msn]!=""){
echo <<<EOT
-->
<a href="msnim:chat?contact=$val[msn]" target="blank" ><img src="$img_url/msn.gif" border="0" ></a>&nbsp;
<!--
EOT;
}
if($val[taobao]!=""){
echo <<<EOT
-->
<a target="_blank" href="http://amos.im.alisoft.com/msg.aw?v=2&uid=navylin&site=cntaobao&s=2&charset=utf-8" ><img border="0" src="http://amos.im.alisoft.com/online.aw?v=2&uid=$val[taobao]&site=cntaobao&s=2&charset=utf-8" alt="wangwang" /></a>
<!--
EOT;
}
echo <<<EOT
-->
</div>
<!--
EOT;
}
foreach($alibaba_list as $key=>$val){
echo <<<EOT
-->
<div class="alibaba1">
<a target=_blank href=http://amos1.sh1.china.alibaba.com/msg.atc?v=1&uid=$val[alibaba]><img border=0 src=http://amos1.sh1.china.alibaba.com/online.atc?v=1&uid=$val[alibaba]&s=1 alt='$val[e_name]'></a>
</div>
<!--
EOT;
}
foreach($skype_list as $key=>$val){
echo <<<EOT
-->
<div class="alibaba">
<a href="callto://$val[skype]"><img src="http://goodies.skype.com/graphics/skypeme_btn_brownish.gif" border="0"></a></div>
<!--
EOT;
}
$affname=$class_index[1][e_name];
echo <<<EOT
-->

</div>
</div>

<div class="web">
<div class="student">
<div class="student_img"><img src="$img_url/bignav.gif" /></div>
<div class="student_title">$affname</div>

<div class="student_text">
<Marquee  align="center" behavior="scroll"  direction="left" height="20" width="100%" vspace="2" loop="-1" scrollamount="3" scrolldelay="50" onMouseOut="this.start()" onMouseOver="this.stop()">
<!--
EOT;
$i=0;
foreach($news_list as $key=>$val){
if($val[$class_index[1][classtype]]==$class_index[1][id]){
$i++;
echo <<<EOT
-->
<img src="$img_url/list.gif"  border="0">    
<A href="$val[e_url]" target=_blank title="$val[e_title]">$val[e_title]</a> &nbsp;&nbsp;
<!--
EOT;
if($i>=5)break;
}}
$news_name5=$class_index[6][e_name];
$news_e_url5=$class_index[6][e_url];
echo <<<EOT
-->		   
</marquee>
</div>

</div>
</div>

<div class="web">

<div class="index_middle">
<div class="right_nav"><div class="right_nav1"><img src="$img_url/nav.gif" />$news_name5</div><div class="right_nav2"><a href="$news_e_url5"><img src="$img_url/more.gif" /></a></div></div>
<!--
EOT;
$i=0;
foreach($product_list_com as $key=>$val){
if($val[$class_index[6][classtype]]==$class_index[6][id]){
$i++;
$val[e_title]=utf8substr($val[e_title], 0, 44); 
echo <<<EOT
-->
 <div class="index_product">
 <div class="index_product_img"><A href="$val[e_url]" target=_blank ><img src="$val[imgurls]"  border="0" alt="$val[e_title]"></A></div>
 <div class="index_product_title"><A href="$val[e_url]" target=_blank >$val[e_title]</A></div>
 <div class="index_product_text">$val[e_description]</div>
 </div>

<!--
EOT;
if($i>=$index[product_no])break;
}}
$news_name1=$class_index[2][e_name];
$news_e_url1=$class_index[2][e_url];
echo <<<EOT
-->	

</div>

<div class="index_left">
<div class="index_left1">
<div class="right_nav"><div class="right_nav1"><img src="$img_url/nav.gif" />$news_name1</div><div class="right_nav2"><a href="$news_e_url1"><img src="$img_url/more.gif" /></a></div></div>
<!--
EOT;
$i=0;
foreach($news_list_com as $key=>$val){
if($val[$class_index[2][classtype]]==$class_index[2][id]){
$i++;
$val[e_title]=utf8substr($val[e_title], 0, 44); 
echo <<<EOT
-->
 <div class="newslist"><img src="$img_url/list1.gif"  border="0"> 
 <A href="$val[e_url]" target=_blank title="$val[e_title]">$val[e_title]</a> &nbsp;&nbsp;
 </div>
<!--
EOT;
if($i>=$index[news_no])break;
}}
$news_name2=$class_index[3][e_name];
$news_e_url2=$class_index[3][e_url];
echo <<<EOT
-->	
</div>

<div class="index_left1">
<div class="right_nav"><div class="right_nav1"><img src="$img_url/nav.gif" />$news_name2</div><div class="right_nav2"><a href="$news_e_url2"><img src="$img_url/more.gif" /></a></div></div>
<!--
EOT;
$i=0;
foreach($news_list_com as $key=>$val){
if($val[$class_index[3][classtype]]==$class_index[3][id]){
$i++;
$val[e_title]=utf8substr($val[e_title], 0, 44); 
echo <<<EOT
-->
 <div class="newslist"><img src="$img_url/list1.gif"  border="0"> 
 <A href="$val[e_url]" target=_blank title="$val[e_title]">$val[e_title]</a> &nbsp;&nbsp;
 </div>
<!--
EOT;
if($i>=$index[news_no])break;
}}
$news_name3=$class_index[4][e_name];
$news_e_url3=$class_index[4][e_url];
echo <<<EOT
-->	
</div>

</div>

<div class="index_right">
<div class="right_nav"><div class="right_nav1"><img src="$img_url/nav.gif" />$news_name3</div><div class="right_nav2"><a href="$news_e_url3"><img src="$img_url/more.gif" /></a></div></div>
<!--
EOT;
$i=0;
foreach($news_list_com as $key=>$val){
if($val[$class_index[4][classtype]]==$class_index[4][id]){
$i++;
$val[e_title]=utf8substr($val[e_title], 0, 44); 
echo <<<EOT
-->
 <div class="newslist"><img src="$img_url/list1.gif"  border="0"> 
 <A href="$val[e_url]" target=_blank title="$val[e_title]">$val[e_title]</a> &nbsp;&nbsp;
 </div>
<!--
EOT;
if($i>=$index[product_no])break;
}}
$news_name4=$class_index[5][e_name];
$news_e_url4=$class_index[5][e_url];
echo <<<EOT
-->	

</div>

<div class="index_right">
<div class="right_nav"><div class="right_nav1"><img src="$img_url/nav.gif" />$news_name4</div><div class="right_nav2"><a href="$news_e_url4"><img src="$img_url/more.gif" /></a></div></div>
<!--
EOT;
$i=0;
foreach($news_list_com as $key=>$val){
if($val[$class_index[5][classtype]]==$class_index[5][id]){
$i++;
$val[e_title]=utf8substr($val[e_title], 0, 44); 
echo <<<EOT
-->
 <div class="newslist"><img src="$img_url/list1.gif"  border="0"> 
 <A href="$val[e_url]" target=_blank title="$val[e_title]">$val[e_title]</a> &nbsp;&nbsp;
 </div>
<!--
EOT;
if($i>=$index[news_no])break;
}}
$news_name4=$class_index[3][e_name];
$news_e_url4=$class_index[3][e_url];
echo <<<EOT
-->	

</div>

</div>
<!--
EOT;
if($index[link_ok]){
echo <<<EOT
-->
<div class="web">
<div class="link"><b>Friendly Link：</b>
<!--
EOT;
$i=0;
foreach($link_text_com as $key=>$val){
$i++;
echo <<<EOT
-->
<a href="$val[weburl]" target="_blank" title="$val[e_info]">$val[e_webname]</a>&nbsp;|
<!--
EOT;
if($i>=$index[link_text])break;
}
echo <<<EOT
-->
</div>
</div>
<!--
EOT;
}
echo <<<EOT
-->
<!--
EOT;
require_once template('e_foot'); 

?>