<!--<?php
require_once template('e_head'); 
echo <<<EOT
-->
<div class="web">
<div class="nav">&nbsp;<img height=17 src="$img_url/main.gif" width=18 />
 You are being：<a href='$index_e_url'>Home</a> > $nav_x[e_name]</div>
<div class="webleft">
<div class="content">
<!--
EOT;
foreach($product_list as $key=>$val){
echo <<<EOT
-->
 <div class="product_list">
 <div class="product_list_img"><A href="$val[e_url]" target=_blank ><img src="$val[imgurls]"  border="0" alt="$val[e_title]"></A></div>
 <div class="product_list_title"><A href="$val[e_url]" target=_blank >$val[e_title]</A></div>
 <div class="product_list_text">$val[e_description]</div>
<div class="product_list_para">
<!--
EOT;
foreach($product_para200 as $key=>$val1){
$para_no="e_".$val1[name];
echo <<<EOT
-->
<font>$val1[e_mark]:</font>$val[$para_no]<br />
<!--
EOT;
}
echo <<<EOT
-->
</div>
<div class="product_list_detail"><a href="$val[e_url]" target="_blank">Detail >></a></div>
</div>
<!--
EOT;
}
echo <<<EOT
-->
</div>
$e_page_list
</div>

<div class="webright">
<div class="nav_x">&nbsp;<img src="$img_url/right.gif" />&nbsp;$class1_info[e_name]</div>
<div class="navright">$nav_e_list</div>
<!--
EOT;
require_once template('e_online'); 
echo <<<EOT
-->
</div>
</div>
<!--
EOT;
require_once template('e_foot'); 
?>