<p><strong>模板介绍</strong>：<br />
  1、中英文双语<br />
  2、暗红黑色<br />
  3、适合文章模块较多的企业网站<br />
</p>
<p><strong>注意要点</strong>：<br />
  1、首页Flash尺寸800*220<br />
  2、请在后台添加最新公告栏目，并将栏目“首页标识”设置为1，“主导航条显示”选择“不显示”，所属模块选择“文章模块”。<br />
  3、首页中间上部栏目“首页标识”为2，所属模块选择“文章模块”，显示推荐文章。<br />
  4、首页中间下部栏目“首页标识”为3，所属模块选择“文章模块”，显示推荐文章。<br />
  5、首页右边上部栏目“首页标识”为4，所属模块选择“文章模块”，显示推荐文章。<br />
  6、首页右边下部栏目“首页标识”为5，所属模块选择“文章模块”，显示推荐文章。<br />
  7、首页左边产品栏目“首页标识”为6，所属模块选择“产品模块”，显示推荐产品，请在产品添加和编辑时输入“内容简短描述”，首页产品图片旁边调用此字段。<br />
  8、系统缩略图请设置为160*160。<br />
  9、首页设置中请将“文章栏目显示数”设置为6，“产品栏目显示数”设置为2。<br />
  10、系统首页没有使用在线交流飘动功能。<br />
  11、模板没有设置尾部导航条，因此栏目“尾部导航条”设置将不会改变前台显示；<br />
  12、网站底部信息只开启了“版权信息”，其他参数不需要设置；<br />
13、网站后台登陆地址为http://域名/admin;</p>
<p><br />
</p>
