<!--<?php
require_once template('head'); 
echo <<<EOT
-->
<div class="web">
<div class="nav">&nbsp;<img height=17 src="$img_url/main.gif" width=18 />
 您现在的位置：<a href='$index_c_url'>首页</a> > $nav_x[c_name]</div>
<div class="webleft">
<div class="content">
<h1>$img[c_title]</h1>
<div class="img_list"><a href="$img[imgurl]" target="_blank"><img src="$img[imgurls]" alt="查看大图" /></a></div>
<div class="img_list_para">
<!--
EOT;
foreach($img_para200 as $key=>$val1){
$para_no="c_".$val1[name];
echo <<<EOT
-->
<b>$val1[c_mark]</b>:$img[$para_no]<br />
<!--
EOT;
}
echo <<<EOT
-->
</div>
</div>
<div class="content">
<div class="content">$img[c_content]</div>

<div class="hits">点击数：<span><script language="javascript" src="../include/hits.php?type=img&id=$img[id]"></script></span>&nbsp; 更新时间:$img[updatetime]&nbsp;【<a href='javascript:window.print()'>打印此页</a>】&nbsp;【<a href="javascript:self.close()">关闭</a>】</div>

</div>
</div>

<div class="webright">
<div class="nav_x">&nbsp;<img src="$img_url/right.gif" />&nbsp;$class1_info[c_name]</div>
<div class="navright">$nav_c_list</div>
<!--
EOT;
require_once template('online'); 
echo <<<EOT
-->
</div>
</div>
<!--
EOT;
require_once template('foot'); 
?>