<!--<?php
echo <<<EOT
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="$show[e_description]">
<meta name="keywords" content="$show[e_keywords]">
<meta name="language" content="zh-CN">
<meta name="robots" content="all">
<meta name="GOOGLEBOT" content="all">
<meta name="author" content="$met_e_webname">
<meta name="copyright" content="Copyright 2008 -MetInfo">
<LINK href="$rooturl/favicon.ico" rel="shortcut icon">
<link rel="stylesheet" type="text/css" href="$css_url/e_metinfo.css">
<TITLE>$e_title_keywords--$met_e_webname</TITLE>
</head>
<body>
<div class="body">
<div class="top" style="background-image:url($img_url/top01.gif);">
<div class="logo"><a href="$index_e_url"><img src="$met_logo" alt="$met_e_alt" /></a></div>
<div class="top_right">
<div class="top_right_home"><a href="#" style="BEHAVIOR: url(#default#homepage)" onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('$met_weburl');return(false);" title="Set Homepage">Set Homepage</a> | <a href="javascript:window.external.AddFavorite('$met_weburl', '$met_e_webname')" target="_self" title="Add Favorite">Add Favorite</a> 
<!--
EOT;
if($met_en_lang==1){
echo <<<EOT
-->
| <a href="$index_c_url">Chinese</a>
<!--
EOT;
}
echo <<<EOT
-->
</div>
<div class="top_right_time">
<script language="JavaScript">
today=new Date();
function initArray(){
this.length=initArray.arguments.length
for(var i=0;i<this.length;i++)
this[i+1]=initArray.arguments[i]  }
var d=new initArray(
" Sunday",
" Monday",
" Tuesday",
" Wednesday",
" Thursday",
" Friday",
" Saturday");
document.write(
"",
today.getFullYear(),"-",
today.getMonth()+1,"-",
today.getDate(),"",
d[today.getDay()+1],
"" ); 
</script></div>

<div class="nav">
<a href="$navurl?en=en">Home</a>|
<!--
EOT;
foreach($nav_list as $key=>$val){
echo <<<EOT
--><a href="$val[e_url]" $val[new_windows] title="$val[e_name]">$val[e_name]</a>|<!--
EOT;
}
echo <<<EOT
-->

</div>
</div>
</div>


<!--
EOT;
?>