<!--<?php
require_once template('e_head'); 
require_once template('e_flash'); 
echo <<<EOT
-->

<div class="web">
<!--左边开始-->
<div class="web_left">
<div class="contact_left">

<!--
EOT;
require_once template('e_online'); 
echo <<<EOT
-->
</div>
</div>
<!--左边结束-->
<div class="rightcontent">
<div class="nav_left"><font>q</font>$nav_x[e_name]</div>
<div class="content">
<h1>Position：$job[e_position]</h1>
<div class="job_list_detail">
<b>Person Number</b>:$job[count]<br />
<b>Work Place</b>:$job[e_place]<br />
<b>Deal</b>:$job[e_deal]<br />
<b>Add Date</b>:$job[addtime]<br />
<b>Period of Validity</b>:$job[useful_life]<br />
</div>
<div class="content"><b>Job Description</b>：<br />$job[e_content]</div>

</div>
</div>

</div>
<!--
EOT;
require_once template('e_foot'); 
?>