<!--<?php
echo <<<EOT
-->
<div class='footright'>
|
<!--
EOT;
foreach($navfoot_list as $key=>$val){
echo <<<EOT
-->
<a href="$val[c_url]" $val[new_windows]>$val[c_name]</a> |
<!--
EOT;
}
echo <<<EOT
-->
<br />
<font style="font:12px;">
<!--
EOT;
if($met_c_footright!=""){
echo <<<EOT
-->
$met_c_footright<br />
<!--
EOT;
}
if($met_c_footaddress!=""){
echo <<<EOT
-->
$met_c_footaddress<br />
<!--
EOT;
}
if($met_c_foottel!=""){
echo <<<EOT
-->
$met_c_foottel<br />
<!--
EOT;
}
if($met_c_footother!=""){
echo <<<EOT
-->
$met_c_footother<br />
<!--
EOT;
}
echo <<<EOT
-->
Powered by <a href="http://www.MetInfo.cn" target="_blank" title="企业网站管理系统"><b>MetInfo</b></a> $metcms_v &copy;2008-$m_now_year <a href="http://www.MetInfo.cn" target="_blank" title="企业网站建设">www.MetInfo.cn</a>
<!--
EOT;
if($met_c_foottext!=""){
echo <<<EOT
-->
<br />$met_c_foottext
<!--
EOT;
}
echo <<<EOT
-->
</font></div>
</div>
</body></html>
<!--
EOT;
?>-->