<style type="text/css">
<!--
.STYLE1 {color: #990000}
.STYLE2 {font-size: 12px}
.STYLE3 {font-size: 14px}
.STYLE4 {font-size: 14}
-->
</style>
<p><span class="STYLE2"><span class="STYLE3"><span class="STYLE4"><strong>模板介绍：</strong><br />
  1、中英文双语<br />
  2、草绿大气<br />
  3、通用型企业网站模板<br />
</span></span></span></p>
<p class="STYLE4"><strong>注意要点：</strong><br />
  1、首页Flash尺寸798*300<br />
  <span class="STYLE1">2、请将产品导航需要显示列表的一级栏目首页标识设置为1（如将产品中心栏目首页标识设置为1），不可轻易改变，否则前台无法读取产品列表数据<br />
  3、请将左边文章列表的栏目首页标识设置为2（如将新闻中心栏目首页标识设置为2），不可轻易改变，否则前台无法读取文章列表数据</span><br />
  4、系统缩略图设置为145*130<br />
  5、首页友情链接不支持图片链接<br />
  6、二级页面Flash尺寸1000*150，设置为后台Flash管理中的方向设置，即当后台设置为图片轮播,则读取Flash动画。<br />
</p>
<p class="STYLE4"><strong>安装方法：</strong><br />
  1、将此文件中的所有文件上传到templates文件夹中，并放置于自定义的新文件夹中，如metred。<br />
  2、将文件夹中的config.inc.php文件覆盖安装程序根目录下的config文件中的config.inc.php文件。<br />
  3、在管理后台的“网站界面风格”中点击“管理模板”，添加此新模板后，并在“网站界面风格”选择新增的模板即可。<br />
  4、添加完毕后，请按照注意要点设置相关参数。<br />
</p>
<p><span class="STYLE4">本模板为metinfo企业网站管理系统专用配套模板，请先安装metinfo企业网站管理系统，下载地址：http://www.metinfo.cn</span><br />
</p>
