body {
	font-family:Arial, Helvetica, sans-serif ; font-size:12px; margin:0px auto; padding:0px; background-color:#FFFFCC; filter:progid:DXImageTransform.Microsoft.Gradient 
(startColorStr='#FFCC99', endColorStr='#FFFFCC', gradientType='0'); text-align:center; color:#000000;
}
ul{padding:0px; margin:0px;}
table{border:0px; padding:0px; margin:0px; font-size:12px;}
a{ color: #040404; text-decoration:none; }
input{ border:1px solid #CCCCCC;}
img{ border:0px;}
.bq{ background-color:#FFFFFA; color:#000033; font-weight:bold; border:0px;}
A:hover { COLOR:#000099}
/*头部开始*/
.top{ height:87px; width:1000px;  margin:auto; margin-top:3px; border-bottom:1px solid #FFFFFF ; }
.logo{ height:75px; width:280px; float:left;}
.top_right{ width:700px; height:87px; float:right;}
.top_right_home{ float:right; width:600px; height:20px; margin-top:10px; margin-right:8px; text-align:right; line-height:20px; color: #EFEFEF;}
.top_right_home font{ font-size:12px; font-family:Webdings; margin:0px;}
.top_right_home a{ color: #EFEFEF;}
.top_right_time{ float:right; width:600px; height:20px; margin-top:5px; margin-right:8px; text-align:right; line-height:20px; color:#EFEFEF;}
.nav{ width:700px; height:25px; line-height:25px; float:right; text-align:right; margin-top:5px; font-size:12px; color: #FFFFFF ;}
.nav a{ margin-left:6px; margin-right:6px; color: #FFFFFF ; font-weight:bold; font-size:12px;}
/*Flash开始*/
.banner{width:1000px; height:120px;  padding:0px; margin:0px auto; text-align:center;  border-bottom:3px solid #414141;}
.lineleft{background-image:url(../Images/cont_01.gif); width:23px; margin:0px; padding:0px;}
.linex{background-image:url(../Images/cont_03.gif); height:13px;}
.lineright{background-image:url(../Images/cont_02.gif); width:23px;}
.flash{width:auto; height:auto; float:left;}
/*Flash结束*/

/*页面开始*/
.body{background-color:#FFCC99!important; filter:progid:DXImageTransform.Microsoft.Gradient 
(startColorStr='#FFCC99', endColorStr='#ffffff', gradientType='0'); width:1000px; height:auto; overflow:auto; margin:auto; }
.web{width:1000px; line-height:18px; margin:auto; height:auto; overflow:auto;}
/*flash开始*/
.index_img{width:798px; height:300px; float:left; margin:0px; padding:0px;}
.index_img img{ border:0px;}
/*flash结束*/
/*产品列表开始*/
.web_left{ width:200px; float:left; height:auto; overflow:auto;  }
.web_right{ width:200px; float:right; height:auto; overflow:auto;  }
.nav_right{ width:200px; height:28px; line-height:28px;font-size:14px; font-weight:bold; background-color:#D44820; filter:progid:DXImageTransform.Microsoft.Gradient 
(startColorStr='#CE6A50', endColorStr='#D44820', gradientType='0'); }
.nav_right font{ font-size:14px; font-family:Webdings; margin:0px; color: #FF9900; padding-right:10px;}
.product_list{ height:272px; width:100%; background-color:#C92206; filter:progid:DXImageTransform.Microsoft.Gradient 
(startColorStr='#F6A190', endColorStr='#C92206', gradientType='1'); overflow: auto;}
.product_list1{ height:auto; width:100%; background-color:#C92206; filter:progid:DXImageTransform.Microsoft.Gradient 
(startColorStr='#F6A190', endColorStr='#C92206', gradientType='1'); overflow: auto;}
#button {

width: 200px!important;
width: 168px;

padding: 0 0 1em 0;

margin-bottom: 1em;

font-family:Arial, Helvetica, sans-serif;
font-size:13px;
color: #333;
 margin:auto;


}



#button ul {

list-style: none;

margin: 0;

padding: 0;

border: none;

}



#button li {

border-bottom: 1px solid #D4F389;

margin: 0;

}



#button li a {

display: block;

padding: 5px 5px 5px 0.5em;

border-left: 10px solid #F6A190;

border-right: 10px solid #C92206;

background-color: #CC3300 ;

color: #FFFFFF;

text-decoration: none;

width: 100%;

}



html>body #button li a {

width: auto;

}



#button li a:hover {

border-left: 10px solid #F2E368;

border-right: 10px solid #E9B018;

background-color: #EE8F28;

color: #000066;

}
/*产品列表结束*/
/*最新动态开始*/
.kown_left{ width:280px; float:left; height:auto; overflow:auto; background-color:#FFCC99; filter:progid:DXImageTransform.Microsoft.Gradient 
(startColorStr='#FFCC99', endColorStr='#ffffff', gradientType='0'); }
.nav_left{ width:100%; height:28px; line-height:28px; text-align:left; font-size:14px; font-weight:bold; background-color:#D44820; filter:progid:DXImageTransform.Microsoft.Gradient 
(startColorStr='#CE6A50', endColorStr='#D44820', gradientType='0'); }
.nav_left img{margin-left:10px; margin-right:3px;}
*html .nav_left img{margin-left:10px; margin-right:3px; margin-top:10px;}
.nav_left1{width:60%; float:left;}
.nav_more{ font-size:12px; font-family:Arial, Helvetica, sans-serif; float:right; width:60px; text-align:left;}
.nav_more a{ color: #F2F2F2;}
.kown_text{width:100%; height:400px; overflow:auto; text-align:left; line-height:25px; }
.kown_text li{ margin-left:15px;}
/*最新动态结束*/
/*推荐产品开始*/
.product_right{ width:718px; float:right; height:428px; background-color:#FFCC99!important; filter:progid:DXImageTransform.Microsoft.Gradient 
(startColorStr='#FFCC99', endColorStr='#ffffff', gradientType='0');  overflow:auto;}
.product_display{ width:160px; height:180px; margin:7px!important; margin-top:12px; float:left; text-align:center;}
.product_img{width:150px; height:150px;}
.product_img img{width:145px; height:130px;}
.product_title{height:25px; line-height:25px; margin-top:5px;}
/*推荐产品结束*/
/*友情开始*/
.indexlink{ width:994px; line-height:25px; background-color:#FFFFFF; margin:auto!important; margin-top:2px; text-align:left; padding:3px;}
.indexlink img{ width:88px; height:31px; }
/*友情结束*/
/*底部开始*/
.footright{width:1000px; background-color:#D44820 !important;  filter:progid:DXImageTransform.Microsoft.Gradient 
(startColorStr='#CE6A50', endColorStr='#D44820', gradientType='0'); height:auto; padding-top:10px; padding-bottom:10px; line-height:20px; margin:auto; margin-top:2px; }
.footright a{ color:#000000}
/*底部结束*/
/*内容页开始*/
.content{width:99%; text-align:left; padding:3px; line-height:18px; font-size:13px; margin:0px; overflow:auto; }
/*联系我们列表开始*/
.contact_left{background-color:#FFCC99!important; filter:progid:DXImageTransform.Microsoft.Gradient 
(startColorStr='#FFCC99', endColorStr='#ffffff', gradientType='0'); height:auto; overflow:auto; margin:0px; }
.contact_text{ width:90%; padding-left:15px; padding-top:5px; height:20px; line-height:20px; text-align:left;}
.contact_text1{ width:30%; padding-top:5px; height:24px; line-height:24px; float:left; text-align:left;}
.contact_text2{ width:50%; padding-left:5px; padding-top:5px; height:24px; line-height:24px; float:left; text-align:left;}
/*联系我们列表结束*/
.rightcontent{width:798px; float:right; height:auto !important;; height:348px; overflow:auto !important;; overflow: visible; background-color:#FFCC99; filter:progid:DXImageTransform.Microsoft.Gradient 
(startColorStr='#FFCC99', endColorStr='#ffffff', gradientType='0'); }
.product_display1{ width:180px; height:180px; margin:7px; margin-top:12px; float:left; text-align:center;}
/*分页开始*/
.page{ width:100%; text-align:center;  height:30px; padding-top:5px; }
.page form{margin:0px;}
.tj{width:50px; background-color:#D44820;  filter:progid:DXImageTransform.Microsoft.Gradient 
(startColorStr='#CE6A50', endColorStr='#D44820', gradientType='0'); color:#ffffff; font-weight:600; border:0px;}
/*分页结束*/

/*页面结束*/



/*产品展示开始*/
.productimg{ width:99%; height:auto; text-align:center; line-height:20px; margin:5px; margin-bottom:0px; overflow:auto;}
.productinfo{width:99%; height:20px; text-align:center; line-height:20px;  overflow:auto;line-height:20px;}
.productfeed{width:20%; float:right; text-align:center; line-height:20px;height:125px; border-bottom:1px solid #CCCCCC; margin-bottom:5px; overflow:auto;}
.productline{ width:360px; padding-left:3px; line-height:20px; float:left; }
.productline1{font-weight:bold; font-size:12px; width:60px; text-align:right; float:left;}
/*产品展示结束*/

/*内容页开始*/
.title{height:25px; border-bottom:1px dashed #999999; color:#000066; font-size:16px; font-weight:bold; padding-top:10px;}
h1{height:25px; border-bottom:1px dashed #999999; color:#000066; font-size:16px; font-weight:bold;}
.hits{height:20px; text-align:right; padding:3px; margin-top:5px; border-top:1px dashed #999999;}
.hits span{color:#FF0000;}
.newsline{height:18px; border-bottom:1px dashed #999999; padding:2px; padding-top:6px; color:#999999;}
.newsline1{height:18px; padding:2px; padding-top:6px; color:#999999;}
.newsline span{color:#FF0000;}
.newslm{color:#999999;}
/*内容页结束*/

/*下载模块开始*/
.download_list{ width:100%; height:auto; overflow:auto; border-bottom:1px dashed #999999; margin-bottom:5px; margin-top:5px;}
.download_list_title{ height:25px; line-height:25px;  font-weight:bold;}
.download_list_detail{ height:25px; line-height:25px; background-color: #FFFF99;}
.download_list_detail1{ width:70%; float:left; height:25px; line-height:25px;}
.download_list_detail2{ width:30%; float:right; height:25px; line-height:25px; text-align:right; color: #FF6600;}
.download_list_detail2 a{color: #FF6600;}
.download_list_para{ width:80%; height:auto; line-height:25px; float:left; overflow:auto;}
.download_url{ width:20%; height:auto; font-size:14px; line-height:40px; font-weight:bold; float:right; text-align:center; overflow:auto;}
.download_url a{ color: #000099;}
/*下载模块结束*/
/*产品展示开始*/
.product_list2{ width:99%; float:left; margin-left:3px; height: auto; line-height:22px; border-bottom:1px dashed #666666; overflow:auto; padding-bottom:5px;}
.product_list_img{ width:200px; height:auto; margin:5px; float:left; text-align:center;}
.product_list_img img{ border:0px;}
.product_list_title{width:460px; height:25px; font-weight:bold; float:right; text-align:left;}
.product_list_para{width:460px; height:auto; float:right; text-align:left; overflow:auto;}
.product_list_detail{ width:460px; height:25px; float:right; text-align:right; color:#990000;}
.product_list_detail a{color:#000099;}
.content h1{height:25px; line-height:25px; font-size:16px; font-weight:bold; text-align:center; border-bottom:1px dashed #666666; margin-top:5px; margin-bottom:2px;}
.hits{height:20px; text-align:right; padding:3px; margin-top:3px; border-top:1px dashed #666666; }
.hits span{color:#FF0000;}
/*产品展示结束*/
/*图片模块开始*/
.img_list{ width:200px; height:auto; text-align:center; float:left; margin:10px; overflow:auto;}

.img_list_img{ width:180px;}
.img_list_title{ width:100%; height:25px; line-height:25px; font-weight:bold;}
.img_list_para{ width:460px; float:left; margin-top:15px; line-height:20px;}

/*图片模块结束*/
/*招聘模块开始*/
.job_list{ width:100%; height:25px; line-height:25px; border-bottom:1px dashed #D9D9D9;}
.job_list_img{ width:8px; margin-left:3px; float:left; padding-top:5px;}
.job_list_title{ width:650px; float:left;}
.job_list_title a{ color:#2F2F2F;}
.job_list_right{ width:70px; float:right;}
.job_list_right a{ color: #000099;}
.job_list_detail{ width:100%; height:auto; overflow:auto; line-height:25px;}
/*招聘模块结束*/
/*反馈开始*/
.feedback{ width:100%; height: auto; overflow:auto; background-color:#CCCCCC; padding:1px;}
.feedback1{width:20%; float:left; text-align:right; margin:1px; background-color:#FFFFFF; height:auto; line-height:25px;}
.feedback2{width:70%; float:left; text-align:left; margin:1px; background-color:#FFFFFF; height:auto; line-height:25px;}
.feedback3{width:8%; float:left; text-align:left; margin:1px;  background-color:#FFFFFF; height:auto; line-height:25px; color:#990000;}
/*反馈结束*/
/*在线留言开始*/
.message_line{color: #000066; float:right; width:100px; font-weight:bold; line-height:25px;}
.message_line a{color: #000066;}
.message_list{ width:100%; height:auto; line-height:20px; overflow:auto; border-bottom:1px dashed #999999; margin-bottom:8px;}
.message_list_line{ width:100%; height:25px; line-height:25px; background-color: #FFFFCC;}
.message_list_info{ width:100%; height:auto; margin-top:3px; overflow:auto;}
.message_list_reinfo{ width:100%; color:#000066; height:auto; margin-top:3px; overflow:auto;}
/*在线留言结束*/
.nav_x{width:200px; height:28px; line-height:28px;font-size:14px; font-weight:bold; background-color:#D44820; filter:progid:DXImageTransform.Microsoft.Gradient 
(startColorStr='#CE6A50', endColorStr='#D44820',gradientType='0');}
.qq{text-align:left; border-bottom:1px dashed #D3D3D3; height:30px; line-height:25px; font-weight:bold; padding-left:10px; overflow: auto;}
.qq img{ margin-top:5px;}
.alibaba{border-bottom:1px dashed #D3D3D3; height:38px; line-height:32px; font-weight:bold; padding-left:10px; overflow: auto;}
.alibaba img{ margin-top:3px;}
.floatonline{ width:130px; height:auto; overflow:auto;}
*html .floatonline{ width:128px; height:auto; overflow:auto;}
.scroll_title{width:100%; height:25px; line-height:25px; font-weight:bold; color: #000000; background-color:#D44820 !important; filter:progid:DXImageTransform.Microsoft.Gradient 
(startColorStr='#CE6A50', endColorStr='#D44820', gradientType='0');}
.scroll_qq{text-align:left; border-bottom:1px dashed #D3D3D3; height:30px; line-height:25px; overflow: auto; width:100%; background-color:#FFFFFF;}
.scroll_qq img{ margin-top:5px;}
.scroll_alibaba{border-bottom:1px dashed #D3D3D3; height:40px; line-height:32px; font-weight:bold; width:100%; overflow: auto; background-color:#FFFFFF;}
.scroll_alibaba img{ margin-top:3px;}
.scroll_skype{border-bottom:1px dashed #D3D3D3; height:25px; line-height:20px; font-weight:bold; width:100%; overflow: auto; background-color:#FFFFFF;}
.scroll_skype img{ margin-top:3px;}
.scroll_close{ width:100%; height:20px; background-color:#D44820 !important; filter:progid:DXImageTransform.Microsoft.Gradient 
(startColorStr='#CE6A50', endColorStr='#D44820', gradientType='0'); color: #990000; line-height:20px;}
.scroll_close a{ color: #FFFFCC}

.index_link{width:99%; height:auto;  text-align:left; padding:3px; line-height:20px; font-size:12px; margin:0px; overflow:auto;}
.index_link_img{ width:100%; height:auto; overflow:auto;}
.index_link_img img{ width:88px; height:31px; float:left; margin:5px;}
.index_link_text{ width:100%; height:auto; overflow:auto; margin-top:5px;}
.index_link_text a{ margin-left:5px; margin-right:5px;}

/*搜索开始*/
.search_line{ width:1000px; height:30px; background-color:#FFFFFF; line-height:30px; text-align:right;}
.search_line input{ margin-top:3px;}
.search_line form{margin:0px; padding:0px;}
.searchgo{background-color:#FFFFCC !important; filter:progid:DXImageTransform.Microsoft.Gradient 
(startColorStr='#FFFFCC', endColorStr='#FFFFFF', gradientType='0'); color:#333333; padding-top:2px;}
.search_list_title{ width:100%; height:25px; line-height:25px; }
.search_list_title a{ color:#000099;}
.search_list_img{ width:8px; margin-left:3px; float:left; padding-top:8px;}
.search_list{width:100%; height:auto; line-height:25px; overflow:auto;  }
.search_link{width:100%; height:auto; line-height:25px; overflow:auto; color:#666666; border-bottom:1px dashed #D9D9D9; margin-bottom:15px;}
.search_link a{color:#006600;  text-decoration:underline;}
.searchnavright{ width:182px; height:auto; overflow:auto; line-height:25px; text-align:left; padding-left:10px;}
.searchnavright font a{color: #666666;}
.search_input{width:99%; height:30px; text-align:left; margin-top:5px;}
/*搜索结束*/
