<!--<?php
echo <<<EOT
-->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="$css_url/metinfo_admin.css">
<title>编辑反馈信息</title>
<script type="text/javascript" src="../language/zh_cn.js"></script>
<script type="text/javascript" src="../include/metinfo.js"></script>
</head>
<body>

<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr> 
    <td align="center" valign="top"><table width="95%" border="0" cellpadding="2" cellspacing="1" class="table_southidc">
        <form  method="POST" name="myform"  action="editor.php?action=editor" target="_self">
		<input name="id" type="hidden" value="$id">
          <tr> 
            <td class="back_southidc" height="30" colspan="3" align="center">反馈信息编辑</td>
          </tr>
          <tr bgcolor="#ECF5FF"> 
            <td width="120" height="25"><b>感兴趣产品:</b></td>
            <td colspan="2">$feedback_list[fdtitle]</td>
          </tr> 

<!--
EOT;
foreach($feedback_para as $key=>$val){
echo <<<EOT
-->
         <tr bgcolor="#ECF5FF"> 
            <td width="119" height="25"><b>$val[c_name]:</b></td>
            <td colspan="2">$val[content]</td>
          </tr>
<!--
EOT;
}
echo <<<EOT
-->
		  <tr bgcolor="#ECF5FF"> 
            <td width="119" height="25"><b>反馈提交时间：</b></td>
            <td colspan="2">$feedback_list[addtime]</td>
          </tr>
		  <tr bgcolor="#ECF5FF"> 
            <td width="20%" height="25"><b>来源页面地址：</b>
			</td>
            <td width="80%" >$feedback_list[fromurl]</td>
			</tr> 
			 <tr bgcolor="#ECF5FF"> 
            <td width="20%" height="25"><b>来源IP地址：</b>
			</td>
            <td width="80%" >$feedback_list[ip]</td>
			</tr> 
			 <tr bgcolor="#ECF5FF"> 
            <td width="20%" height="25"><b>编辑记录：</b></td>
            <td width="80%" >
<!--
EOT;
echo "-->";
$oFCKeditor = new FCKeditor('useinfo'); 
$oFCKeditor->BasePath = '../../fckeditor/';
$oFCKeditor->Value = $feedback_list[useinfo];
$oFCKeditor->Width = '100%';   
$oFCKeditor->Height = '300';
$oFCKeditor->Create();
echo <<<EOT
</td></tr>
		  
		  <tr> 
            <td height="30" colspan="3" align="center" bgcolor="#ECF5FF"> <input type="submit" name="Submit" value="提交" class="tj">
              　 
              <input type="reset" name="Submit" value="重置" class="tj"> </td>
          </tr>
        </form>
    </table></td>
  </tr>
</table>
</body>
</html>
<!--
EOT;
?>-->