<!--<?php
echo <<<EOT
-->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="$css_url/metinfo_admin.css">
<title>MetInfo企业网站管理系统</title>
</head>
<BODY>
<table cellspacing="0" cellpadding="0" width="180" align="center">
	<tr>
    <td class="menu_title1" height="25"><a target="_blank" href="../">前台首页</a>&nbsp;|&nbsp;<a  href="site/sysadmin.php" target="main">后台首页</a>&nbsp;|&nbsp;<a target="_top" href="login/login_out.php">&nbsp;退出&nbsp;</a></td>
	</tr>
	<tr>
</table>
<script>
var he=document.body.clientHeight-105
document.write("<div id=tt style=height:"+he+";overflow:hidden>")
</script>
<table width="180" align="center" cellpadding="0" cellspacing="0" class="tablemain">
<!--系统配置开始-->	
	<tr>
    <td id="imgmenu10000" class="menu_title" onMouseOver="this.className='menu_title2';" onClick="showsubmenu(10000)" onMouseOut="this.className='menu_title';" style="cursor:hand" background=$img_url/menudown.gif height="25"> 
      <span>基本配置</span></td>
	</tr>

	<tr>
		<td id="submenu10000" style="DISPLAY: none">
		<div class="sec_menu" style="WIDTH: 158px">			
        <table cellspacing="3" cellpadding="0" width="130" align="center">
<!--
EOT;
if($metinfo_admin_pop=="metinfo" || $admin_pop1001=="metinfo"){
echo <<<EOT
-->
          <tr> 
            <td><a target="main" href="admin/">管理员管理</a></td>
          </tr>
<!--
EOT;
}
else{
echo <<<EOT
-->
      <tr> 
            <td><a target="main" href="admin/editor_pass.php?id=$admin_list[id]">个人资料</a></td>
          </tr>
<!--
EOT;
}
if($metinfo_admin_pop=="metinfo" || $admin_pop1002=="metinfo"){
echo <<<EOT
-->
		  <tr> 
            <td><a target="main" href="set/basic.php">基本信息</a></td>
          </tr>
<!--
EOT;
}
if($metinfo_admin_pop=="metinfo" || $admin_pop1003=="metinfo"){
echo <<<EOT
-->
		  <tr> 
            <td><a target="main" href="set/skin.php">界面风格</a></td>
          </tr>
<!--
EOT;
}
if($metinfo_admin_pop=="metinfo" || $admin_pop1004=="metinfo"){
echo <<<EOT
-->
		  <tr> 
            <td><a target="main" href="set/img.php">图片配置</a></td>
          </tr>
 <!--
EOT;
}
if($metinfo_admin_pop=="metinfo" || $admin_pop1005=="metinfo"){
echo <<<EOT
-->         
		  <tr> 
            <td><a target="main" href="column/">栏目配置</a></td>
          </tr>
<!--
EOT;
}
if($metinfo_admin_pop=="metinfo" || $admin_pop1006=="metinfo"){
echo <<<EOT
-->         <tr> 
            <td><a target="main" href="set/index_set.php">首页配置</a></td>
          </tr>
 <!--
EOT;
}
if($metinfo_admin_pop=="metinfo" || $admin_pop1007=="metinfo"){
echo <<<EOT
--> 
		    <tr> 
            <td><a target="main" href="set/seo.php">优化推广</a></td>
          </tr>
 <!--
EOT;
}
if($metinfo_admin_pop=="metinfo" || $admin_pop1008=="metinfo"){
echo <<<EOT
--> 
		   <tr> 
            <td><a target="main" href="set/foot.php">底部信息</a></td>
          </tr>
 <!--
EOT;
}
if($metinfo_admin_pop=="metinfo" || $admin_pop1009=="metinfo"){
echo <<<EOT
--> 
		   <tr> 
            <td><a target="main" href="set/flash.php">flash管理</a></td>
          </tr>
 <!--
EOT;
}
if($metinfo_admin_pop=="metinfo" || $admin_pop1010=="metinfo"){
echo <<<EOT
--> 
		   <tr> 
            <td><a target="main" href="set/strcontent.php">热门标签</a></td>
          </tr>
 <!--
EOT;
}
if($metinfo_admin_pop=="metinfo" || $admin_pop1011=="metinfo"){
echo <<<EOT
--> 
		  <tr> 
            <td><a target="main" href="online/">在线交流</a></td>
          </tr>
 <!--
EOT;
}
if($metinfo_admin_pop=="metinfo" || $admin_pop1019=="metinfo"){
echo <<<EOT
--> 
		  <tr> 
            <td><a target="main" href="set/other_info.php">备用字段</a></td>
          </tr>
 <!--
EOT;
}
if($metinfo_admin_pop=="metinfo" || $admin_pop1012=="metinfo"){
echo <<<EOT
--> 
		  <tr> 
            <td><a target="main" href="set/htm.php">静态页面生成</a></td>
          </tr>
<!--
EOT;
}
if($metinfo_admin_pop=="metinfo" || $admin_pop1013=="metinfo"){
echo <<<EOT
--> 
           <tr> 
            <td><a target="main" href="parameter/parameter.php?type=3">产品模块参数</a></td>
          </tr>
 <!--
EOT;
}
if($metinfo_admin_pop=="metinfo" || $admin_pop1013=="metinfo"){
echo <<<EOT
--> 
		  <tr> 
            <td><a target="main" href="parameter/parameter.php?type=4">下载模块参数</a></td>
          </tr>
 <!--
EOT;
}
if($metinfo_admin_pop=="metinfo" || $admin_pop1014=="metinfo"){
echo <<<EOT
--> 
		  <tr> 
           <td><a target="main" href="parameter/parameter.php?type=5">图片模块参数</a></td>
          </tr>
 <!--
EOT;
}
if($metinfo_admin_pop=="metinfo" || $admin_pop1015=="metinfo"){
echo <<<EOT
--> 
           <tr> 
            <td><a target="main" href="set/database.php">数据库备份</a></td>
          </tr>
 <!--
EOT;
}
echo <<<EOT
-->
          <tr> 
            <td><a target="main" href="set/info.php">模板设置导航</a></td>
          </tr> 
		  <tr> 
            <td><a target="main" href="set/authcode.php">商业授权</a></td>
          </tr> 
		  <tr> 
            <td><a target="_blank" href="http://bbs.metinfo.cn/">技术支持</a></td>
          </tr> 
        </table>
		</div>
		<br>		</td>
	</tr>
<!--系统配置结束-->	
<!--简介模型开始-->
<!--
EOT;
foreach($list1 as $key=>$val)
{
$admin_pop="admin_pop".$val[id];
if($metinfo_admin_pop=="metinfo" || $$admin_pop=="metinfo"){
echo <<<EOT
-->	
	<tr>
		
    <td id="imgmenu$val[id]" class="menu_title" onMouseOver="this.className='menu_title2';" onClick="showsubmenu($val[id])" onMouseOut="this.className='menu_title';" style="cursor:hand" background="$img_url/menudown.gif" height="25"> 
      <span>$val[c_name]</span></td>
	</tr>
	<tr>
		<td id="submenu$val[id]" style="DISPLAY: none">
		<div class="sec_menu" style="WIDTH: 158px">
			
        <table cellspacing="3" cellpadding="0" width="130" align="center">
		<tr> 
            <td><a target="main" href="about/about.php?id=$val[id]">$val[c_name]</a></td>
        </tr>
<!--
EOT;
foreach($list11 as $key=>$val1)
{
if($val1[bigclass]==$val[id]){
echo <<<EOT
-->         
            <tr> 
            <td><a target="main" href="about/about.php?id=$val1[id]">$val1[c_name]</a></td>
          </tr>
<!--
EOT;
foreach($list12 as $key=>$val2){
if($val2[bigclass]==$val1[id]){
echo <<<EOT
-->
          <tr> 
            <td>&nbsp;&nbsp;-<a target="main" href="about/about.php?id=$val2[id]">$val2[c_name]</a></td>
          </tr>
<!--
EOT;
}}		
}
}
echo <<<EOT
-->
        </table>
		</div>
		<br>		</td>
	</tr>
<!--
EOT;
}}
echo <<<EOT
-->	
<!--简介模型结束-->

<!--文章模型开始-->
<!--
EOT;
foreach($list2 as $key=>$val)
{
$admin_pop="admin_pop".$val[id];
if($metinfo_admin_pop=="metinfo" || $$admin_pop=="metinfo"){
echo <<<EOT
-->	
	<tr>
		
    <td id="imgmenu$val[id]" class="menu_title" onMouseOver="this.className='menu_title2';" onClick="showsubmenu($val[id])" onMouseOut="this.className='menu_title';" style="cursor:hand" background="$img_url/menudown.gif" height="25"> 
      <span>$val[c_name]</span></td>
	</tr>
	<tr>
		<td id="submenu$val[id]" style="DISPLAY: none">
		<div class="sec_menu" style="WIDTH: 158px">
			
        <table cellspacing="3" cellpadding="0" width="130" align="center">
		<tr> 
            <td><a target="main" href="article/add.php?class1=$val[id]">添加$val[c_name]</a></td>
        </tr>
        
            <tr> 
            <td><a target="main" href="article/index.php?class1=$val[id]">管理$val[c_name]</a></td>
          </tr>
        </table>
		</div>
		<br>		</td>
	</tr>
<!--
EOT;
}}
echo <<<EOT
-->	
<!--文章模型结束-->
<!--产品模型开始-->
<!--
EOT;
foreach($list3 as $key=>$val)
{
$admin_pop="admin_pop".$val[id];
if($metinfo_admin_pop=="metinfo" || $$admin_pop=="metinfo"){
echo <<<EOT
-->	
	<tr>
		
    <td id="imgmenu$val[id]" class="menu_title" onMouseOver="this.className='menu_title2';" onClick="showsubmenu($val[id])" onMouseOut="this.className='menu_title';" style="cursor:hand" background="$img_url/menudown.gif" height="25"> 
      <span>$val[c_name]</span></td>
	</tr>
	<tr>
		<td id="submenu$val[id]" style="DISPLAY: none">
		<div class="sec_menu" style="WIDTH: 158px">
			
        <table cellspacing="3" cellpadding="0" width="130" align="center">
		<tr> 
            <td><a target="main" href="product/add.php?class1=$val[id]">添加$val[c_name]</a></td>
        </tr>
        
            <tr> 
            <td><a target="main" href="product/index.php?class1=$val[id]">管理$val[c_name]</a></td>
          </tr>
        </table>
		</div>
		<br>		</td>
	</tr>
<!--
EOT;
}}
echo <<<EOT
-->	
<!--产品模型结束-->

<!--下载模型开始-->
<!--
EOT;
foreach($list4 as $key=>$val)
{
$admin_pop="admin_pop".$val[id];
if($metinfo_admin_pop=="metinfo" || $$admin_pop=="metinfo"){
echo <<<EOT
-->	
	<tr>
		
    <td id="imgmenu$val[id]" class="menu_title" onMouseOver="this.className='menu_title2';" onClick="showsubmenu($val[id])" onMouseOut="this.className='menu_title';" style="cursor:hand" background="$img_url/menudown.gif" height="25"> 
      <span>$val[c_name]</span></td>
	</tr>
	<tr>
		<td id="submenu$val[id]" style="DISPLAY: none">
		<div class="sec_menu" style="WIDTH: 158px">
			
        <table cellspacing="3" cellpadding="0" width="130" align="center">
		<tr> 
            <td><a target="main" href="download/add.php?class1=$val[id]">添加$val[c_name]</a></td>
        </tr>
        
            <tr> 
            <td><a target="main" href="download/index.php?class1=$val[id]">管理$val[c_name]</a></td>
          </tr>
        </table>
		</div>
		<br>		</td>
	</tr>
<!--
EOT;
}}
echo <<<EOT
-->	
<!--下载模型结束-->
<!--图片模型开始-->
<!--
EOT;
foreach($list5 as $key=>$val)
{
$admin_pop="admin_pop".$val[id];
if($metinfo_admin_pop=="metinfo" || $$admin_pop=="metinfo"){
echo <<<EOT
-->	
	<tr>
		
    <td id="imgmenu$val[id]" class="menu_title" onMouseOver="this.className='menu_title2';" onClick="showsubmenu($val[id])" onMouseOut="this.className='menu_title';" style="cursor:hand" background="$img_url/menudown.gif" height="25"> 
      <span>$val[c_name]</span></td>
	</tr>
	<tr>
		<td id="submenu$val[id]" style="DISPLAY: none">
		<div class="sec_menu" style="WIDTH: 158px">
			
        <table cellspacing="3" cellpadding="0" width="130" align="center">
		<tr> 
            <td><a target="main" href="img/add.php?class1=$val[id]">添加$val[c_name]</a></td>
        </tr>
        
            <tr> 
            <td><a target="main" href="img/index.php?class1=$val[id]">管理$val[c_name]</a></td>
          </tr>
        </table>
		</div>
		<br>		</td>
	</tr>
<!--
EOT;
}}
echo <<<EOT
-->	
<!--图片模型结束-->

<!--招聘模型开始-->
<!--
EOT;
foreach($list6 as $key=>$val)
{
$admin_pop="admin_pop".$val[id];
if($metinfo_admin_pop=="metinfo" || $$admin_pop=="metinfo"){
echo <<<EOT
-->	
	<tr>
		
    <td id="imgmenu$val[id]" class="menu_title" onMouseOver="this.className='menu_title2';" onClick="showsubmenu($val[id])" onMouseOut="this.className='menu_title';" style="cursor:hand" background="$img_url/menudown.gif" height="25"> 
      <span>$val[c_name]</span></td>
	</tr>
	<tr>
		<td id="submenu$val[id]" style="DISPLAY: none">
		<div class="sec_menu" style="WIDTH: 158px">
			
        <table cellspacing="3" cellpadding="0" width="130" align="center">
		<tr> 
            <td><a target="main" href="job/add.php?class1=$val[id]">添加$val[c_name]</a></td>
        </tr>
        
            <tr> 
            <td><a target="main" href="job/index.php?class1=$val[id]">管理$val[c_name]</a></td>
          </tr>
        </table>
		</div>
		<br>		</td>
	</tr>
<!--
EOT;
}}
echo <<<EOT
-->	
<!--招聘模型结束-->

<!--留言系统开始-->
<!--
EOT;
foreach($list7 as $key=>$val)
{
$admin_pop="admin_pop".$val[id];
if($metinfo_admin_pop=="metinfo" || $$admin_pop=="metinfo"){
echo <<<EOT
-->	
	<tr>
		
    <td id="imgmenu$val[id]" class="menu_title" onMouseOver="this.className='menu_title2';" onClick="showsubmenu($val[id])" onMouseOut="this.className='menu_title';" style="cursor:hand" background="$img_url/menudown.gif" height="25"> 
      <span>$val[c_name]</span></td>
	</tr>
	<tr>
		<td id="submenu$val[id]" style="DISPLAY: none">
		<div class="sec_menu" style="WIDTH: 158px">
			
        <table cellspacing="3" cellpadding="0" width="130" align="center">
		<tr> 
            <td><a target="main" href="message/inc.php">$val[c_name]配置</a></td>
        </tr>
        
            <tr> 
            <td><a target="main" href="message/index.php">留言信息管理</a></td>
          </tr>
        </table>
		</div>
		<br>		</td>
	</tr>
<!--
EOT;
}}
echo <<<EOT
-->	
<!--留言系统结束-->

<!--反馈系统开始-->
<!--
EOT;
if($metinfo_admin_pop=="metinfo" || $admin_pop1017=="metinfo"){
echo <<<EOT
-->	
	<tr>
		
    <td id="imgmenu9999" class="menu_title" onMouseOver="this.className='menu_title2';" onClick="showsubmenu(9999)" onMouseOut="this.className='menu_title';" style="cursor:hand" background="$img_url/menudown.gif" height="25"> 
      <span>反馈系统</span></td>
	</tr>
	<tr>
		<td id="submenu9999" style="DISPLAY: none">
		<div class="sec_menu" style="WIDTH: 158px">
			
        <table cellspacing="3" cellpadding="0" width="130" align="center">
		<tr> 
            <td><a target="main" href="feedback/inc.php">反馈系统设置</a></td>
        </tr>
            <tr> 
            <td><a target="main" href="feedback/parameter.php">反馈列表字段设置</a></td>
          </tr>
		<tr> 
            <td><a target="main" href="feedback/index.php">反馈信息管理</a></td>
        </tr>
        </table>
		</div>
		<br>		</td>
	</tr>
<!--
EOT;
}
echo <<<EOT
-->	
<!--反馈系统结束-->

<!--友情链接开始-->
<!--
EOT;
if($metinfo_admin_pop=="metinfo" || $admin_pop1018=="metinfo"){
echo <<<EOT
-->	
	<tr>
		
    <td id="imgmenu9998" class="menu_title" onMouseOver="this.className='menu_title2';" onClick="showsubmenu(9998)" onMouseOut="this.className='menu_title';" style="cursor:hand" background="$img_url/menudown.gif" height="25"> 
      <span>友情链接</span></td>
	</tr>
	<tr>
		<td id="submenu9998" style="DISPLAY: none">
		<div class="sec_menu" style="WIDTH: 158px">
			
        <table cellspacing="3" cellpadding="0" width="130" align="center">
		<tr> 
            <td><a target="main" href="link/index.php">友情链接管理</a></td>
        </tr>
            <tr> 
            <td><a target="main" href="link/add.php">添加友情链接</a></td>
          </tr>
        </table>
		</div>
		<br>		</td>
	</tr>
<!--
EOT;
}
echo <<<EOT
-->	
<!--友情链接结束-->

 <tr><td height="1" bgcolor="#003366"></td></tr>
	<tr>
	  <td >		<div class="sec_menu" style="WIDTH: 158px">
			<table width="100%" height="60" align="center" cellpadding="0" cellspacing="3">
				<tr>
            <td height="20" align="center"><b>版权所有: <a href="http://www.metinfo.cn/" target="_blank">米拓信息</a>&nbsp;&nbsp;&nbsp;&nbsp;<br>
                企业网站管理系统V$metcms_v</b></td>
          </tr>
		  </table>
	     
		</div>	  </td>
</table>
<script>

function showsubmenu(sid)
{
whichEl = eval("submenu" + sid);
imgmenu = eval("imgmenu" + sid);
if (whichEl.style.display == "none")
{
eval("submenu" + sid + ".style.display=\"\";");
imgmenu.background="$img_url/menuup.gif";
}
else
{
eval("submenu" + sid + ".style.display=\"none\";");
imgmenu.background="$img_url/menudown.gif";
}
}

top.document.title="MetInfo企业网站管理系统"; 
</script>
</BODY></HTML>

<!--
EOT;
?>
-->
