<!--<?php
echo <<<EOT
-->
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn">
<head>
<title>MetInfo企业网站管理系统后台登录</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="Content-Language" content="zh-cn"/>
<meta name="author" content="www.metinfo.cn"/>
<meta name="copyright" content="www.metinfo.cn"/>
<meta name="keywords" content="MetInfo企业网站管理系统"/>
<meta name="description" content="MetInfo企业网站管理系统，适合企业建站的免费开源系统"/>
<meta content="MetInfo企业网站管理系统，适合企业建站的免费开源系统"/>
<link rel="stylesheet" type="text/css" href="$css_url/metinfo_admin.css">
</head>
<script type="text/javascript">
function check_main_login()
{
	var m=document.main_login;
	if(m.login_name.value.length=="")
	{
		alert("请输入帐号");
		m.login_name.focus();
		return false;
	}
	if(m.login_pass.value.length=="")
	{
		alert("请输入密码");
		m.login_pass.focus();
		return false;
	}
}
function pressCaptcha(obj)//字母变大写
  {
    obj.value = obj.value.toUpperCase();
  }
</script>
<body>
<div class="login">
<div class="login_title">MetInfo企业网站管理系统</div>
<div class="login_img">
<a href="http://www.metinfo.cn"  target="_blank" title="MetInfo企业网站管理系统" ><img src="$img_url/logosmall.gif"></a><br><br>
<span><a href="http://www.metinfo.cn"  target="_blank" title="营销型网站建设" >MetInfo Co.,Ltd</a> </span>
</div>
<div class="login_right">
<div class="login_log">管理员登陆</div>
<form method="post" action="login_check.php" name="main_login" onSubmit="javascript: return check_main_login()">
<input type="hidden" name="action" value="login"/>
<div class="login_text">管理员帐号：<input type="text" name="login_name" value="$check_name" $disabled size="20"/></div>
<div class="login_text">管理员密码：<input type="password" name="login_pass"  size="21"/></div>
<div class="login_text">输入验证码：<input name="code" onKeyUp="pressCaptcha(this)" type="text" class="inp" id="code" size="6" maxlength="8" style="width:50px" />
<img align="absbottom" src="../include/ajax.php?action=code"  onclick=this.src="../include/ajax.php?action=code&"+Math.random() style="cursor: pointer;" title="看不清？点击更换验证码。"/></div>
<div class="login_text" style="text-align:center;">
<a href="../admin/getpassword.php" style="color:#FFFFFF">忘记密码？</a><input   type="submit" name="Submit" value=" 确&nbsp;认 "  style="width:45px;">&nbsp;<input name="reset" type="reset"  id="reset" value=" 清&nbsp;除 "  style="width:45px;"></div>
</div>
</form>
</div>

</body>
</html>
<!--
EOT;
?>-->