<!--<?php
echo <<<EOT
-->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="$css_url/metinfo_admin.css">
<title>模板管理</title>
<script type="text/javascript" src="../language/zh_cn.js"></script>
<script type="text/javascript" src="../include/metinfo.js"></script>
</head>
<body>
<br>
<!--
EOT;
if($action=="modify"){
echo <<<EOT
-->
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr> 
    <td align="center" valign="top"><table width="95%" border="0" cellpadding="2" cellspacing="1" class="table_southidc">
          <tr> 
            <td class="back_southidc" height="30" align="center">模板管理</td>
          </tr>
          <tr>
            <td height="20" align="left" >
			  <form method="POST" name="myform"  action="skin_manager.php?action=editor&id=$id" onSubmit="return CheckForm_skin();" target="_self">
			  <b>修改模板：</b>
			    名称:
			    <input name="skin_name" type="text" size="16" value="$skin_m[skin_name]">
			     文件夹名称:
  <input name="skin_file" type="text" size="10"  value="$skin_m[skin_file]">
  描述:
  <input name="skin_info" type="text" size="30"  value="$skin_m[skin_info]">
  <input type="submit" name="Submit2" value="修改" class="tj">  
	        </form></td>
          </tr>
		   
    </table></td>
  </tr>
</table>
</body>
</html>
<!--
EOT;
}
else{
echo <<<EOT
-->
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr> 
    <td align="center" valign="top"><table width="95%" border="0" cellpadding="2" cellspacing="1" class="table_southidc">
          <tr> 
            <td class="back_southidc" height="30" align="center">模板管理</td>
          </tr>
          <tr>
            <td height="20" align="left" >
			  <form method="POST" name="myform"  action="skin_manager.php?action=add" onSubmit="return CheckForm_skin();" target="_self">
			  <b>添加新模板：</b>
			    名称:
			    <input name="skin_name" type="text" size="16">
			     文件夹名称:
  <input name="skin_file" type="text" size="10">
  描述:
  <input name="skin_info" type="text" size="30">
  <input type="submit" name="Submit2" value="添加" class="tj">  
	        </form></td>
          </tr>
          <tr> 
            <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#003366" class="border" style="word-break:break-all">
              <tr class="back_southidc2">
                <td width="5%" height="25" align="center">选中</td>
                <td width="5%" height="25" align="center">序号</td>
                <td width="20%" align="center" >名称</td>
                <td width="10%" align="center" >文件夹名</td>
                <td width="50%" align="center" >描述</td>
				<td width="10%" align="center" >操作</td>
              </tr>
			  <form name="del" method="Post" action="skin_manager.php?action=delete" onSubmit="return ConfirmDelall();">
<!--
EOT;
foreach ($skin_list as $key=>$val){
echo <<<EOT
-->          
              <tr class="tdbg">
              <td height="22" align="center" class="left1"><input name='id' type='checkbox' onClick="unselectall()" id="id" value='$val[id]' class="xz"></td>
                <td align="center" bgcolor="#ECF5FF">$val[id]</td>
                <td  bgcolor="#ECF5FF" align="center">$val[skin_name]</a></td>
                <td  bgcolor="#ECF5FF" align="center">$val[skin_file]</td>
                <td align="center" bgcolor="#ECF5FF">$val[skin_info]</td>
				<td align="center" bgcolor="#ECF5FF" ><a href="skin_manager.php?id=$val[id]&action=modify" >编辑</a> | <a href="skin_manager.php?id=$val[id]&action=delete" onClick="return ConfirmDel();" >删除</a></td>
              </tr>
<!--
EOT;
}
echo <<<EOT
-->
       
            </table></td>
          </tr> 
		   
   	   <tr> 
            <td height="20" align="left" bgcolor="#ECF5FF"><input name="chkAll" class="xz" type="checkbox" id="chkAll" onclick=CheckAll(this.form) value="checkbox">
              选中本页显示的所有模板 <input name="submit" type='submit' value='删除选定的条目'> 
              <input name="action_type" type="hidden" id="action_type" value="del">
			  <input name="allid" type="hidden" id="allid" value=""></form></td>
          </tr>
   	   <tr>
   	     <td height="0" align="center" bgcolor="#ECF5FF">$page_list</td>
        </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
<!--
EOT;
}
?>-->