<!--<?php
echo <<<EOT
-->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="$css_url/metinfo_admin.css">
<title>系统信息及管理员登陆</title>
</head>
<body>
<table cellpadding="2" cellspacing="1" border="0" width="95%" align="center" class="table_southidc">
  <tr> 
    <td class="back_southidc" colspan="2" height="25" align="center"><b>系统信息</b></td>
  </tr>
  <tr class="tr_southidc1" height="30"><td width=15% ><b>未读信息：</b></td><td>反馈信息：<font class="t6">$feedback</font>条&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在线留言：<font class="t6">$message</font>条&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;友情链接：<font class="t6">$link</font>条</td></tr>
  <tr class="tr_southidc1" height="30"><td ><b>用户信息：</b></td><td>用户名：<font class="t4">$metinfo_admin_name</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IP：<font class="t4">$m_user_ip</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;登陆次数:<font class="t4">$admin_login</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;登陆时间：<font class="t4">$admin_modify_date</font></td></tr>
  <tr class="tr_southidc1" height="30"><td ><b>系统信息：</b></td><td>Mysql版本： 
      <font class="t4">$mysql1</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;jmail组件支持：
       $jmail&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;服务器：<font class="t4">$SERVER_SIGNATURE1</font></td></tr>
  <tr class="tr_southidc1" height="30"><td ><b>技术支持：</b></td><td>交流论坛：<a href="http://bbs.metinfo.cn" target="_blank">bbs.metinfo.cn</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;QQ：426507856 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;技术email：support@metinfo.cn</td></tr>
   <tr class="tr_southidc1" height="30"><td ><b>产品购买：</b></td><td>官方网站：<a href="http://www.metinfo.cn" target="_blank">www.metinfo.cn</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;QQ：426507856 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;email：sales@metinfo.cn</td></tr>
  <tr class="tr_southidc1" height="30"><td ><b>使用说明：</b></td><td><p><br>
        第一步、在基本配置中进行设置基本信息、界面风格、图片配置等； <br>
        第二步、在基本配置中添加栏目；<br>
		第三步、在基本配置中进行优化推广、底部信息、热门标签、在线交流等设置；<br>
		第四步、在基本配置中设置产品、下载及图片参数；<br>
		第五步、添加简介、新闻、产品、下载等信息；<br></p>
      </td>
  </tr>
  <tr class="tr_southidc1" height="25"><td ><b>使用协议：</b></td><td><p><br>
        1、个人学习或研究,可以免费使用本程序。如果是商业用途，请自觉购买商业版，否则我们会追究法律责任； <br>
        2、非商业版，在使用之时，请务必在网站底部保留 Powered by MetInfo的字样和链接，只有经过官方授权才可去除；<br>
        3、免费使用本程序，在使用过程中，出现任何不可预料的后果，官方不承担任何责任；<br>
      4、开发本系统花费了官方大量的精力，官方保留对系统的所有产权；</p>
      </td>
  </tr>
</table>
</body>
</html>
<!--
EOT;
?>-->