<!--<?php
require_once template('e_head'); 
require_once template('e_flash'); 
echo <<<EOT
-->
<div class="web">
<!--左边开始-->
<div class="web_left">
<!--
EOT;
require_once template('e_leftlist'); 
echo <<<EOT
-->
</div>
<div class="contact_left">

<!--
EOT;
require_once template('e_online'); 
echo <<<EOT
-->
</div>
</div>
<!--左边结束-->
<div class="rightcontent">
<div class="nav_left"><img src="$img_url/list1.gif" />$nav_x[e_name]</div>
<h1>$news[e_title]</h1>
<div class="content">$news[e_content]</div>
<div class="hits">Hits：<span><script language="javascript" src="../include/hits.php?type=news&id=$news[id]"></script></span>&nbsp; Update Time:$news[updatetime]&nbsp;【<a href='javascript:window.print()'>Printing</a>】&nbsp;【<a href="javascript:self.close()">Close</a>】</div>
<div class="nav_left"><img src="$img_url/list1.gif" />Correlation Article</div>
<div class="content">
<!--
EOT;
$i=0;
foreach($news_list as $key=>$val){
$i=$i+1;
echo <<<EOT
-->
<div class="newsline1">
	<img src="$img_url/dot.gif" />
<a href='$val[e_url]' target=_blank>$val[e_title]</a>($val[updatetime])
	</div>	
<!--
EOT;
if($i>=8)break;
}
echo <<<EOT
-->
</div>
</div>
</div>
<!--
EOT;
require_once template('e_foot'); 
?>