<!--<?php
require_once template('head'); 
echo <<<EOT
-->
$fdjs
<div class="web">
<!--
EOT;
require_once template('webleft'); 
echo <<<EOT
-->
<div class="webcontent">
<table width="90%" cellpadding="2" cellspacing="1" align="center" color="#7f5e06" class="table_feed">
<tr><td width="20%" height="25" align="center" colspan="3" class="form_title"><b>{$lang_Info4}</b></td></tr>
<tr>
<td width="20%" height="25" align="right" class="form_text">{$lang_OurWebName}</td>
<td width="70%" class="form_input">$met_linkname</td>
<td style="color:#990000"></td>
</tr>
<tr>
<td width="20%" height="25" align="right" class="form_text">{$lang_OurWebUrl}</td>
<td width="70%" class="form_input">$met_weburl</td>
<td style="color:#990000"></td>
</tr>
<tr>
<td width="20%" height="25" align="right" class="form_text">{$lang_OurWebLOGO}</td>
<td width="70%" class="form_input"><img src="$met_logo" /></td>
<td style="color:#990000"></td>
</tr>
<tr>
<td width="20%" height="25" align="right" class="form_text">{$lang_OurWebKeywords}</td>
<td width="70%" class="form_input">$title_keywords</td>
<td style="color:#990000"></td>
</tr>
<form method="POST" name="myform" onSubmit="return Checklink();" action="addlink.php?action=add" target="_self">
<tr>
<td width="20%" height="25" align="right" class="form_text">{$lang_YourWebName}</td>
<td width="70%" class="form_input"><input name="webname" type="text" size="30" /></td>
<td style="color:#990000">*</td>
</tr>
<tr>
<td width="20%" height="25" align="right" class="form_text">{$lang_YourWebUrl}</td>
<td width="70%" class="form_input"><input name="weburl" type="text" size="30" value="http://" /></td>
<td style="color:#990000">*</td>
</tr>
<tr>
<td width="20%" height="25" align="right" class="form_text">{$lang_LinkType}</td>
<td width="70%"  class="form_input"><input name="link_type" type="radio" value="0"  checked="checked"/>{$lang_TextLink}  <input name="link_type" type="radio" value="1" />{$lang_PictureLink}</td>
<td  style="color:#990000">*</td>
</tr>
<tr>
<td width="20%" height="25" align="right"  class="form_text">{$lang_YourWebLOGO}</td>
<td width="70%"  class="form_input"><input name="weblogo" type="text" size="30" value="http://"/></td>
<td  style="color:#990000"></td>
</tr>
<tr>
<td width="20%" height="25" align="right"  class="form_text">{$lang_YourWebKeywords}</td>
<td width="70%"  class="form_input"><input name="info" type="text" size="30" /></td>
<td  style="color:#990000"></td>
</tr>
<tr>
<td width="20%" height="25" align="right"  class="form_text">{$lang_Contact}</td>
<td width="70%"  class="form_input"><textarea name="contact" cols="50" rows="6"></textarea></td>
<td  style="color:#990000"></td>
</tr>
<tr>
<td class="form_text"></td>
<td colspan="3"  align="left" class="bottom_input">
<input name="lang" type="hidden" value="$lang" />
<input type="submit" name="Submit" value="{$lang_Submit}" style="*padding-top:6px;" class="tj">
<input type="reset" name="Submit" value="{$lang_Reset}" style="*padding-top:6px;" class="tj"></td></tr>
</table>
</form>
</div>
</div>
<div style="clear:both;"></div>

</div>
<!--
EOT;
require_once template('foot'); 
?>