<!--<?php
$navdown="nav_".$class1_info[id];
require_once template('head'); 
echo <<<EOT
-->
<div class="web">
<!--
EOT;
require_once template('webleft'); 
echo <<<EOT
-->
<div class="webcontent">
<!--
EOT;
foreach($job_list as $key=>$val){
echo <<<EOT
-->
<div class="job_list">
<div class="job_list_title">
{$lang_Position}：<a href="$val[url]" target="_blank"><b>$val[position]</b></a>&nbsp;&nbsp;&nbsp;&nbsp;
{$lang_PersonNumber}：$val[count]&nbsp;&nbsp;
{$lang_WorkPlace}：$val[place]&nbsp;&nbsp;
{$lang_AddDate}：$val[addtime]&nbsp;&nbsp;
<div class="job_list_right"><a href="$val[url]"  onFocus="if(this.blur)this.blur();" target="_blank">{$lang_Detail}</a><a href="$val[cv]" onFocus="if(this.blur)this.blur();">{$lang_cv}</a></div>
</div>


</div>
<!--
EOT;
}
echo <<<EOT
-->
</div>
<div class="web_bottom">$page_list</div>
</div>
<div style="clear:both;"></div>

</div>
<!--
EOT;
require_once template('foot'); 
?>