<!--<?php
require_once template('head'); 
$metlinkimg=methtm_link('img','all','0','100','1');
$metlinktext=methtm_link('text','all','0','100','1');
echo <<<EOT
-->
<div class="web">
<!--
EOT;
require_once template('webleft'); 
echo <<<EOT
-->
<div class="webcontent">
      
<div class="message_line"><a href="$addlink_url">{$lang_ApplyLink}&gt;&gt;</a></div>
</div>
<div class="pcontent">
<div class="index_link_img">
<b>{$lang_PictureLink}：</b><br />
$metlinkimg
</div>
<br />
<div class="index_link_text">
<b>{$lang_TextLink}：</b><br />
$metlinktext
</div>
</div>
</div>
<div style="clear:both;"></div>
	
</div>
<!--
EOT;
require_once template('foot'); 
?>