<!--<?php
require_once template('head'); 
echo <<<EOT
-->
<div class="web">
<!--
EOT;
require_once template('webleft'); 
echo <<<EOT
-->
<div class="webcontent">
      
<div class="message_line"><a href="$addlink_url">{$lang_ApplyLink}&gt;&gt;</a></div>
</div>
<div class="pcontent">
<div class="index_link_img">
<b>{$lang_PictureLink}：</b><br />
<!--
EOT;
foreach($link_img as $key=>$val){
echo <<<EOT
-->
<a href="$val[weburl]" target="_blank"><img src="$val[weblogo]" alt="$val[webname]" /></a>
<!--
EOT;
}
echo <<<EOT
-->
</div>
<br />
<div class="index_link_text">
<b>{$lang_TextLink}：</b><br />
<!--
EOT;
foreach($link_text as $key=>$val){
echo <<<EOT
-->
<a href="$val[weburl]" target="_blank" title="$val[info]">$val[webname]</a>
<!--
EOT;
}
echo <<<EOT
-->
</div>
</div>
</div>
<div style="clear:both;"></div>
	
</div>
<!--
EOT;
require_once template('foot'); 
?>