<!--<?php
# 文件名称
require_once template('head'); 
echo <<<EOT
-->
<div class="web">
<div class="webleft">
        <div class="webtitle"><span>{$lang_memberIndex1}</span></div>
		<div class="webnav">
   <ul>
   <li><a target="main" onfocus="if(this.blur)this.blur();" href="basic.php?lang=$lang">{$lang_memberIndex3}</a></li>
   <li><a target="main" onfocus="if(this.blur)this.blur();" href="editor.php?lang=$lang">{$lang_memberIndex4}</a></li>
   <li><a target="main" onfocus="if(this.blur)this.blur();" href="feedback.php?lang=$lang">{$lang_memberIndex5}</a></li>
   <li><a target="main" onfocus="if(this.blur)this.blur();" href="message.php?lang=$lang">{$lang_memberIndex6}</a></li>
   <li><a target="main" onfocus="if(this.blur)this.blur();" href="cv.php?lang=$lang">{$lang_memberIndex7}</a></li>
   <li><a href="login_out.php?lang=$lang">{$lang_memberIndex10}</a></li>
   </ul>
		</div>
</div>

<div class="webright">

<div class="webcontent">
<iframe frameborder="0" width="100%" height="500" id="main" name="main" src="register_include.php?lang=$lang" scrolling="yes" class="iframe_main" ></iframe></div>
</div>


</div>
<div style="clear:both;"></div>
</div>

<!--
EOT;
require_once template('foot'); 
?>