<!--<?php
$webnav=methtml_classlist('1');
echo <<<EOT
-->
   <div class="webleft">
<!--
EOT;
if(count($nav_list2[$class1]) !=0){
echo <<<EOT
-->
        <div class="webtitle"><span>$class1_info[name]</span></div>
        <div class="webnav">
$webnav
        </div>
<!--
EOT;
}
echo <<<EOT
-->
		<div class="webtitle"><span>{$lang_Column1}</span></div>
		<div class="webnav">
<ul>
<!--
EOT;
foreach(methtml_getarray('','com','time',$lang_way) as $key=>$val){
echo <<<EOT
-->
<li><a href="$val[url]" target="_blank" title="$val[title]">$val[title]</a></li>
<!--
EOT;
}
echo <<<EOT
-->
</ul>
     </div>
		$met_online
   </div>
   <div class="webright">
   <div class="web_title"><span>{$class_list[$classnow][name]}</span></div>


<!--
EOT;
?>
