<!--<?php
require_once template('header'); 
echo <<<EOT
-->
<div class="body">
<div class="head">
<div class="logo"><img src="images/logosmall.gif" width="40" /></div>
<div class="headtext">MetInfo企业网站管理系统安装</div>
<div class="headright">第六步：完成安装</div>
</div>
<div class="content">
<br>
<h2>恭喜！</h2><h3>您已经成功安装了MetInfo企业网站管理系统！</h3>
<br>
<br>
<p>
基于安全考虑，您需要设置<strong>config/config_db.php</strong>文件的权限，系统安装后默认设为只读。</p>
<p>
请删除或改名<strong>/install</strong>目录，以防止再次安装而覆盖数据。</p>

<div class="center">
<a class="btn2" href="../" target="_blank">点击这里转到网站前台</a>&nbsp;&nbsp;&nbsp;
<a class="btn2" href="../admin/">点击这里打开管理页面</a>
<br/><br />
</div>
</div>
</div>
<!--
EOT;
require_once template('footer'); 
?>-->