<?php require_once('templates/header.htm'); ?>
<body>
<div class="body">
<div class="head">
<div class="logo"><img src="images/logosmall.gif" width="40" /></div>
<div class="headtext">MetInfo企业网站管理系统安装</div>
<div class="headright">第一步：阅读使用协议</div>
</div>
<div class="content">
<br>
  <p>软件名称：MetInfo企业网站管理系统<br>
    软件版本：V1.0<br>
    开发语言：PHP+Mysql<br>
    版权所有：MetInfo Co.,Ltd<br>
    官方网址：http://www.MetInfo.cn<br>
    演示地址：http://www.MetInfo.cn<br>
    适用范围：企业网站建设、个人网站建设、政府单位网站建设等</p>
  <p>&nbsp;&nbsp;&nbsp;&nbsp;MetInfo企业网站管理系统采用PHP+Mysql架构，全站内置了SEO搜索引擎优化机制，拥有企业网站常用的模块功能（企业简介模块、新闻模块、产品模块、下载模块、图片模块、招聘模块、在线留言、反馈系统、在线交流、友情链接）。强大灵活的后台管理功能、静态页面生成功能、个性化模块添加功能等可为企业打造出大气漂亮且具有营销力的精品网站。</p>
  <p><b>功能介绍：</b><br />
    1、全站页面SEO信息设置，如关键词、页面描述等；<br />
    2、首页、内容页面静态生成功能；<br />
    3、三级栏目添加功能；<br />
    4、缩略图自动生成、图片文字水印自动添加功能；<br />
    5、直接根据后台栏目设置管理员权限功能；<br />
    6、热门标签设置功能；<br />
    7、模块参数后台设置功能；<br />
    8、数据库备份和恢复功能；<br />
    9、前台模板与程序分开，模板后台添加和切换功能；<br />
    10、中英文内容添加和首页切换功能；</p>
  <p><b>使用协议：</b><br />
    1、个人学习或研究,可以免费使用本程序。如果是商业用途，请自觉购买商业版，否则我们会追究法律责任； <br />
    2、非商业版，在使用之时，请务必在网站底部保留 Powered by <a href="http://www.metinfo.cn" target="_blank">MetInfo</a> 的字样和链接，只有经过官方授权才可去除；<br />
    3、免费使用本程序，在使用过程中，出现任何不可预料的后果，官方不承担任何责任；<br />
    4、开发本系统花费了官方大量的精力，官方保留对系统的所有产权；</p>
  <p>官方网站： <a href="http://www.metinfo.cn" target="_blank">http://www.metinfo.cn</a>    购买咨询： 电话：0731-3271060  QQ：426507856 MSN:navyok@hotmail.com<br />
</p>
<form name="myform" method="post" action="index.php?action=inspect" style="text-align:center;"><input type="submit" name="submit" class="btn2" value="我已仔细阅读以上协议并同意安装" /></form> 
</div>
</div>
<?php require_once('templates/footer.htm');?>