<!--<?php
require_once template('e_head'); 
require_once template('e_flash'); 
echo <<<EOT
-->
<div class="web">
<!--左边开始-->
<div class="web_left">
<div class="contact_left">

<!--
EOT;
require_once template('e_online'); 
echo <<<EOT
-->
</div>
</div>
<!--左边结束-->
<div class="rightcontent">
<div class="nav_left"><font>q</font>$navtitle</div>
<div class="content">
<div class="message_line" style="width:150px;"><a href="message.php?en=en">Refer Leave Word>></a></div>
<!--
EOT;
foreach($message_list as $key=>$val){
echo <<<EOT
-->
<div class="message_list">
<div class="message_list_line">[NO$val[id]]：<b>$val[name]</b> Refered at $val[addtime]</div>
<div class="message_list_info"><b>Content:</b>:$val[info]</div>
<div class="message_list_reinfo"><b>Administrators Reversion</b>:$val[useinfo]</div>
</div>

<!--
EOT;
}
echo <<<EOT
-->
</div>
$e_page_list
</div>


</div>
</div>
<!--
EOT;
require_once template('e_foot'); 
?>