.v52fmbx{ margin:0px; color:#000;border-top:0px solid #ddd;border-left:1px solid #ddd;border-right:1px solid #ddd;border-bottom:0px solid #ddd;}
/**/
.v52fmbx_dlbox{ background:#fff;}
.v52fmbx_dlbox dl:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.v52fmbx_dlbox dl{zoom:1}
.v52fmbx_dlbox dl{ margin:0px 0px;}
.v52fmbx_mo dl{ border-bottom:0;}
.v52fmbx dl:after{display:block;clear:both;content:"";visibility:hidden;height:0;}
.v52fmbx dl{ width:100%; zoom:1;  background:#fff;}
.v52fmbx dl{ border-top:1px solid #ddd; margin:0px 0px; display:-webkit-box; display:-moz-box; display:box; display:-ms-flexbox; position:relative; padding:5px 0px; }

.v52fmbx dl dt{ margin:15px 15px 10px 15px; width:105px; color:#333; text-align:left; font-weight:normal; overflow:hidden; line-height:1.2;}
.v52fmbx dl dd{ color:#aaa; -moz-box-flex:1.0; -webkit-box-flex:1.0; box-flex:1.0; -ms-flex:1; padding:2px 0px 0px 15px; margin:10px 0px; }
.v52fmbx dl dd label input{ position:relative; top:1px; margin-right:3px;}

.v52fmbx dl dd .fbox{ color:#aaa; color:#656565;}
.v52fmbx dl dd .tips{ color:#aaa;}
.v52fmbx dl dd .tips:hover{ color:#f00;}
.v52fmbx dl dd.labelinline label{ display:inline; }
.v52fmbx dl dt.addimgdt{ padding:10px 5px 10px;}
.v52fmbx dl dt.addimgdt p{ height:30px; line-height:30px; margin-bottom:8px;}
.v52fmbx dl.noborder{ border-bottom:0;}
.v52fmbx label{
	font-weight: normal;
	height: 28px;
	line-height: 28px;
	margin: 0px;
	display: block;
	color: #333;
	margin-right:15px;
}
.v52fmbx a {
	color:#23b7e5;
	text-decoration:none;
}
.formerror{ margin-top:6px; height:20px; line-height:20px;}
.formerror .fa-times{ color:#fff; border-radius:3px; padding:1px 2px; font-size:16px; margin-right:5px; background:red; }
.formerror .fa-check{ color:#fff; border-radius:3px; padding:2px; font-size:14px; margin-right:5px; background:#10aa00; }
.formerrorbox{ border:2px solid #f00!important; }

.v52fmbx dl dd.ftype_description{ color:#fff; padding:8px; margin:0px 5px; background:#6c6fbf; }
/**/
.v52fmbx_hr{ margin:0px 0px 2px 0px; padding:2px 0px; color:#666; font-weight:normal;}
.v52fmbx_hr .hr_right{ float:right;}
.v52fmbx_submit{ border-bottom:1px solid #ddd;border-top:1px solid #ddd;padding:5px 5px 5px 10px;}
/**/
.v52fmbx_hidebox{ background:#fff; padding:10px;}
.v52fmbx_hidebox a{ margin-left:10px;}
.v52fmbx_detabes dl{ padding:0px 0px;}
.v52fmbx_detabes dl input.submit{ height:35px; line-height:27px; padding:0px 20px;}

.v52fmbx_tbmax{ margin:0px 5px; background:#fff; }
.v52fmbx_tbmaxother{margin:0 0px; }
.v52fmbx_tbmaxmt{ margin-top:0px;}
.v52fmbx_tbbox{ margin:5px 5px; padding:5px 0px;}
.v52fmbx_inline dl dd label{ display:inline;}

.v52show{ display:block!important;}
/*content*/
.v52fmbx_dlbox_content{ margin:10px 0px;}

.list_font12{ font-size:12px;}


.v52fmbx_skined select option.c0{ color:red;}
.v52fmbx_skined select option.c1{ color:#000;}
.v52fmbx_skined select option.c2{ color:blue;}
.v52fmbx_skined select option.c3{ color:green;}

.displayimg_del{ position:absolute; right:0px; top:0px; color:#f00; text-decoration:none;}
.job_cv_img{ position:absolute; right:0px; top:0px; background:#fff;}
.job_cv_img img{ padding:3px; border:1px solid #ccc; }
.list-text input.text{ width:90%;}
.columntables input.text{ width:80%;}

/*yingyong*/
.v52_dlapplist{ background:#fff; margin:5px; padding:5px;}
.v52_dlapplist dl{ float:left; text-align:center; padding:10px 0px;}
.v52_dlapplist dl dd p{ padding:5px 0px 0px; line-height:1.5;}
.v52_dlapplist dl dd a{ color:#666; text-decoration:none; display:block;}
.v52_dlapplist dl dd a:hover{ color:#08c;}

.metsliding{ 
	border-top:1px solid #ddd;
	margin: 0px 0px 0px;
	padding: 0px 5px 0px 15px;
	font-weight: bold;
	color: #333;
	font-size: 14px;
	background: #f7f7f7;
	height: 38px;
	line-height: 38px;
}
.xtips{ color:#999;}
.on_dlbox span.tips{ color:red!important;}
.blockname{ color:#f00;}
.stat_list_right{ float:right; height:35px; line-height:35px; margin-right:15px;}
.stat_list_right a{ color:#25b10a; text-decoration:none;}
div.page_list{ text-align:center;}

/**/
.returnover{ position:absolute; margin:0px; z-index:999;}
.returnover{ font-size:16px; text-align:center; padding:10px 40px; background:#1e71b1; color:#fff; border-radius:3px; box-shadow:0 1px 2px #999; }


.skedtype{ overflow:auto; padding-bottom:10px; zoom:1; z-index:999999; }
.skedtype div{ float:left; margin-top:5px; }
.skedtype span{ display:inline; float:left; padding:0px 15px; text-align:center; height:28px; line-height:28px; color:#fff; background:#999; cursor:pointer;}
.skedtype div:first-child span{ border-top-left-radius:3px; border-bottom-left-radius:3px; }
.skedtype div:last-child span{ border-top-right-radius:3px; border-bottom-right-radius:3px; }
.skedtype span.on,.skedtype span.ond{ background:#666;}
.flagselect{ 
	height:28px;
	line-height:28px;
	background:#f1f1f1;
	border:1px solid #c3c3c3;
	background-image: linear-gradient(to bottom,#f9f9f9 0,#f0f0f0 100%);
	float:left;
	padding:0px 15px;
	text-align:center;
	cursor:pointer;
	position:relative;
}
.flagselect a{ color:#333; text-decoration:none; }

/*颜色选择器*/
.colorpickerbox{
	float:left;
	position: relative;
	bottom:4px;
	left:5px;
	width: 36px;
	height: 36px;
	background: url(../colorpicker/images/select2.png);
	overflow:hidden;
}
.colorpickerbox div{ 
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: url(../colorpicker/images/select2.png) center;
}
.float_input{ float:left;}
/*添加按钮*/
.addmenu{ 
}

/*表格右上角查询或筛选功能*/
.formright {
	float:right;
	position:relative; 
	bottom:3px;
}
.formright span{ margin-right:5px;}
.formright .submitmi{ 	
	background: #23b7e5;
	border: 0 none;
	height: 30px;
	line-height: 26px;
	margin-top:4px;
	margin-left:-5px;
	vertical-align: middle;
	padding: 0px 35px;
	color: #fff;
	cursor: pointer;
	border-radius: 2px;
	padding-left:10px;
	padding-right:10px;
}
.formright input.text{ border:1px solid #ccc; height:30px; line-height:16px;margin-top:4px;vertical-align: middle;}
.formright label{ margin-left:5px;}
.formright form {
	display:inline;
	padding-left:10px;
	font-weight:normal;
}
.formleft{ float:left;}
.submitmi{ 	
	background: #23b7e5;
	border: 0 none;
	height: 30px;
	line-height: 26px;
	margin-top:1px;
	vertical-align: middle;
	padding: 0px 35px;
	color: #fff;
	cursor: pointer;
	border-radius: 2px;
	padding-left:10px;
	padding-right:10px;
}
.formleft a{
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}
.formleft a:hover {
	text-decoration:none;
}
form[name='delform']{
	padding-left:0px !important;
}
.met_map_buttn{
	height:28px;
	line-height:28px;
	white-space:nowrap;
	background:#f1f1f1;
	border:1px solid #c3c3c3;
	background-image: linear-gradient(to bottom,#f9f9f9 0,#f0f0f0 100%);
	color:#333;
	float:left;
	padding:0px 15px;
	text-align:center;
	cursor:pointer;
	border-radius:3px;
	margin-left:10px;
}
.input_float_left input.text{ float:left;}

.kuaijiedaohang .admin_poplistdiv label{ cursor:pointer; padding:5px 10px; white-space:nowrap;}
.kuaijiedaohang .admin_poplistdiv label.ons,.kuaijiedaohang .admin_poplistdiv label.hoverons{ background:#1e71b1; color:#fff; border-radius: 3px; }
.kuaijiedaohang .adpopcnkdiv{ overflow:auto; _zoom:1;}
.kuaijiedaohang .adpopcnkdiv label{ float:left; padding:3px 10px;}

/*简短输入框*/
.popover-content{overflow: hidden;}
.ftype_input .fbox{float:left;margin-right:10px;}
.ftype_input .tips{float:left;padding-top:5px;}
.ftype_input .fbox input{width:350px;height:35px;line-height:35px\9;padding:2px 5px;border:1px solid #dcdfe0;background-color:#fff;color:#333;outline:0;border-radius:2px;	/*
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	-webkit-transition: .05s border-color ease-in-out;
	transition: .05s border-color ease-in-out;
	*/}
.ftype_input .fbox input::-webkit-input-placeholder{padding-top:2px;}
.placeholder-ie{position:relative;}
.placeholder-ie label{position:absolute;left:8px;top:7px;cursor:text;color:#999;}
.placeholder-ie input{}

/*文本输入框*/
.ftype_textarea .tips{display:block;}
.ftype_textarea textarea{width:350px;line-height:1.5;height:100px;padding:7px 5px;border:1px solid #dcdfe0;background-color:#fff;color:#333;outline:0;}

/*编辑器*/
.ftype_ckeditor .fbox{min-height:196px;width:100%;}

/*.ftype_ckeditor textarea{ display:none; }*/
.ftype_ckeditor textarea{height:0px;width:0px;}
.ftype_ckeditor .tips{display:block;margin-top:5px;margin-left:5px;}

/*下拉菜单*/
.ftype_select .tips,.ftype_select-linkage .tips{display:block;margin-top:5px;}
select{line-height:31px;height:31px;vertical-align:middle;background-color:#fff;outline:0;border:1px solid #ccc;padding:4px;color:#333;}

/*单选*/
.ftype_radio .fbox label{font-weight:normal;height:28px;line-height:28px;margin:0px;display:block;color:#333;}
.ftype_radio .fbox input[type='radio']{border-radius:100%;bottom:3px;height:15px;position:relative;vertical-align:middle;width:15px;margin:0px;position:relative;top:-1px;margin-right:6px;}
.ftype_radio .formerror{margin-top:0px;}

/*多选*/
.ftype_checkbox .fbox input[type='checkbox']{border-radius:100%;bottom:3px;height:15px;position:relative;vertical-align:middle;width:15px;margin:0px;}
.ftype_checkbox .fbox label{font-weight:normal;height:28px;line-height:28px;margin:0px;display:block;color:#333;}
.ftype_checkbox .fbox input{position:relative;top:-1px;margin-right:6px!important;}
.ftype_checkbox .formerror{margin-top:0px;}
.ftype_transverse .fbox label{display:inline;margin-right:15px;}

/*时间选择器*/
.ftype_day  .fbox{margin-right:10px;}
.ftype_day  .fbox input{width:200px;color:#000;border:1px solid #ccc;padding:2px 8px;vertical-align:middle;height:28px;line-height:28px\9;position:relative;left:-2px;top:0px;}
.ftype_day  .fbox input.time_mm{width:140px;}
.ftype_day  .fbox{float:left;}
.ftype_day  .tips{float:left;padding-top:5px;}

/*滑块*/
.ftype_range .fbox{height:42px;line-height:42px;position:relative;top:-5px;}
.ftype_range .fbox .range-slider{float:left;width:300px;margin-top:12px;}
.ftype_range .fbox input{background:#fff;color:#000;border:1px solid #999;padding:0px 5px;height:22px;line-height:22px;width:50px;margin:0px 3px 0px 20px;border-radius:3px;}
.ftype_range .formerror{margin-top:0px;}

/*颜色选择器*/
.ftype_color .fbox input{background:#fff;color:#000;border:1px solid #ccc;padding:3px 3px 2px 35px;height:35px;line-height:35px;width:105px;}
.ftype_color .tips{margin-top:5px;display:block;}
.ftype_color .formerror{margin-top:0px;}

/*标签增加器*/
.ftype_tags  .tips{display:block;padding-top:5px;}
.ftype_tags .tags_box{width:360px;border:1px solid #ccc;position:relative;padding:0px;}
.ftype_tags .tags_box ul{padding:0px;overflow:hidden;zoom:1;}
.ftype_tags .tags_box ul li{float:left;cursor:default;position:relative;}
.ftype_tags .tags_box ul li.tags_list{border:1px solid #ccc;display:block;background:#eee;padding:2px 18px;padding-right:25px;margin:7px 0px 0px 7px;border-radius:3px;}
.ftype_tags .tags_box ul li.tags_list a{position:absolute;right:7px;top:8px;width:7px;height:7px;background:url(../images/tbl_close.gif) no-repeat left top;overflow:hidden;}
.ftype_tags .tags_box ul li.tags_tj{white-space:nowrap;height:28px;margin:7px;line-height:28px;}
.ftype_tags .tags_box ul li.tags_tj label{position:absolute;left:0px;top:0px;height:28px;line-height:28px;color:#999;display:none;}
.ftype_tags .tags_box ul li.tags_tj span{float:left;cursor:pointer;width:28px;height:28px;background:#ccc url(../images/Ico_add.png) no-repeat center center;color:#36C;display:block;border-radius:3px;}
.ftype_tags .tags_box ul li.tags_tj span:hover{background-color:#999;}
.ftype_tags .tags_box ul li.tags_tj input{border:0!important;padding:2px 0px;height:25px;margin-left:5px;outline:0;position:relative;background:none;}
.ftype_tags .tags_box ul li.tags_list:hover{border:1px solid #ccc;background:#ddd;}
.ftype_tags .tags_box ul li.tags_list a:hover{background-position:left -7px;}
.ftype_tags .tags_box span.tips{position:absolute;left:370px;top:0px;height:28px;line-height:28px;white-space:nowrap;}
/* 颜色选择组件 */
.ftype_color .fbox input {
    background: #fff;
    color: #000;
    border: 1px solid #ccc;
    padding: 3px 3px 2px 35px;
    height: 35px;
    line-height: 35px;
    width: 105px;
}
/*上传组件*/
.ftype_upload .fbox{position:relative;}
.ftype_upload .fbox input.text{display:none;}
.ftype_upload .fbox input.text{background:#fff;color:#000;border:1px solid #ccc;padding:2px 8px;vertical-align:middle;height:32px;line-height:32px;width:220px;}
.ftype_upload .fbox input.text{padding:2px 5px;border:1px solid #dcdfe0;background-color:#fff;color:#333;outline:0;-webkit-transition:.05s border-color ease-in-out;transition:.05s border-color ease-in-out;}
.ftype_upload .tips{display:block;padding-top:5px;}
.ftype_upload .app-image-list li{float:left;margin-right:10px;margin-bottom: 5px;}
.ftype_upload .app-image-list li.sort{border:1px solid #ddd;position:relative;margin-bottom:10px;}
.ftype_upload .app-image-list li.sort img{max-height:80px;max-width:100%}
.ftype_upload .app-image-list li.sort span.close{position:absolute;right:-8px;top:-8px;width:18px;height:18px;line-height:18px;text-align:center;background:#666;border-radius:9px;font-size:16px;color:#fff;font-weight:normal;opacity:0.8;}
.ftype_upload .app-image-list li.sort:hover span.close{display:block!important;}
.ftype_upload .app-image-list li button{border-radius:0;}
.ftype_upload .app-image-list li.upnow div{width:100%!important;height:34px!important;}
.ftype_upload .app-image-list li.upnow div.webuploader-pick{width:auto!important;height:auto!important;}
#upimglist li{float:left;position:relative;width:100px;height:100px;background-size:contain;background-repeat:no-repeat;background-position:50% 50%;background-color:#d7d7d7;margin:5px;cursor:pointer;opacity:0;}
#UploadModal .modal-body{height:500px;overflow:hidden;}
#UploadModal .modal-body li .check{border:2px solid #09F;position:absolute;left:0px;top:0px;width:100%;height:100%;}
#UploadModal .modal-body li .check:after{position:absolute;display:block;content:' ';right:0px;bottom:0px;border:14px solid #09f;border-left-color:transparent;border-top-color:transparent;}
#UploadModal .modal-body li .check i{position:absolute;right:0px;bottom:0px;color:#fff;z-index:2;}
#UploadModal .modal-body li .widget-image-meta{position:absolute;bottom:0px;left:0px;height:20px;line-height:20px;background:#000;opacity:0.5;color:#fff;width:100%;font-size:12px;text-align:center;}
#UploadModal .modal-header h4{float:left;margin-top:8px;padding-right:20px;border-right:2px solid #ddd;}
#UploadModal .modal-header #filePicker div{height:35px!important;width:100%!important;}
#UploadModal .modal-header #filePicker{margin-left:20px;float:left;height:35px;width:auto!important;overflow:hidden;}
.webuploader-container{position:relative;}
.webuploader-element-invisible{position:absolute!important;clip:rect(1px 1px 1px 1px); /* IE6, IE7 */clip:rect(1px,1px,1px,1px);}
.webuploader-pick-disable{opacity:0.6;pointer-events:none;}

/*上传按钮*/
.metuplaodify{overflow:hidden;position:absolute;left:0px;top:0px;height:34px;width:200px;}
input[type="file"]{cursor:pointer;}
.metuplaodify form{float:left;}
.file_uploadfrom{position:absolute;left:-120px;top:0px;height:34px;overflow:hidden;}
.file_uploadfrom input{height:34px;}
.metuplaodify .upbutn{height:32px;line-height:32px;white-space:nowrap;background:#eee;color:#333;float:left;padding:0px 12px;text-align:center;border:1px solid #dcdfe0;border-left:0;}
.metuplaodify .upbutn{text-decoration:none;}
.metuplaodify .upbutn_hover{background:#e9e9e9;}
.metuplaodify .upbutn_active{background:#ddd;}
.metuplaodify  .uptips{float:left;white-space:nowrap;height:32px;line-height:32px;color:#333;text-align:left;margin-left:5px;}