<!--<?php
require_once template('e_head'); 
echo <<<EOT
-->
$fdjs
<div class="web">
<div class="webleft">
<div class="nav_x">&nbsp;<a href='$index_e_url'>Home</a> > $navtitle </div>
<div class="content">
<table width="90%" cellpadding="2" cellspacing="1" bgcolor="#CCCCCC" align="center">
<tr><td width="20%" height="25" align="left" bgcolor="#FFFFFF" colspan="3"><b>Please link our web before applying, thanks!</b></td></tr>
<tr>
<td width="20%" height="25" align="right" bgcolor="#FFFFFF">Our Web Name</td>
<td width="70%" bgcolor="#FFFFFF">$met_e_linkname</td>
<td bgcolor="#FFFFFF" style="color:#990000"></td>
</tr>
<tr>
<td width="20%" height="25" align="right" bgcolor="#FFFFFF">Our Web Url</td>
<td width="70%" bgcolor="#FFFFFF">$met_weburl</td>
<td bgcolor="#FFFFFF" style="color:#990000"></td>
</tr>
<tr>
<td width="20%" height="25" align="right" bgcolor="#FFFFFF">Our Web LOGO</td>
<td width="70%" bgcolor="#FFFFFF"><img src="$met_logo" /></td>
<td bgcolor="#FFFFFF" style="color:#990000"></td>
</tr>
<tr>
<td width="20%" height="25" align="right" bgcolor="#FFFFFF">Our Web Keywords</td>
<td width="70%" bgcolor="#FFFFFF">$title_keywords</td>
<td bgcolor="#FFFFFF" style="color:#990000"></td>
</tr>
</table>

<form method="POST" name="myform" onSubmit="return Checklink();" action="addlink.php?action=add&en=en" target="_self">
<table width="90%" cellpadding="2" cellspacing="1" bgcolor="#CCCCCC" align="center">
<tr>
<td width="20%" height="25" align="right" bgcolor="#FFFFFF">Your Web Name</td>
<td width="70%" bgcolor="#FFFFFF"><input name="e_webname" type="text" size="30" /></td>
<td bgcolor="#FFFFFF" style="color:#990000">*</td>
</tr>
<tr>
<td width="20%" height="25" align="right" bgcolor="#FFFFFF">Your Web Url</td>
<td width="70%" bgcolor="#FFFFFF"><input name="weburl" type="text" size="30" value="http://" /></td>
<td bgcolor="#FFFFFF" style="color:#990000">*</td>
</tr>
<tr>
<td width="20%" height="25" align="right" bgcolor="#FFFFFF">Link Type</td>
<td width="70%" bgcolor="#FFFFFF"><input name="link_type" type="radio" value="0"  checked="checked"/>Text Link  <input name="link_type" type="radio" value="1" />Picture Link</td>
<td bgcolor="#FFFFFF" style="color:#990000">*</td>
</tr>
<tr>
<td width="20%" height="25" align="right" bgcolor="#FFFFFF">Your Web LOGO</td>
<td width="70%" bgcolor="#FFFFFF"><input name="weblogo" type="text" size="30" value="http://"/></td>
<td bgcolor="#FFFFFF" style="color:#990000"></td>
</tr>
<tr>
<td width="20%" height="25" align="right" bgcolor="#FFFFFF">Your Web Keywords</td>
<td width="70%" bgcolor="#FFFFFF"><input name="e_info" type="text" size="30" /></td>
<td bgcolor="#FFFFFF" style="color:#990000"></td>
</tr>
<tr>
<td width="20%" height="25" align="right" bgcolor="#FFFFFF">The way of Contact</td>
<td width="70%" bgcolor="#FFFFFF"><textarea name="contact" cols="50" rows="6"></textarea></td>
<td bgcolor="#FFFFFF" style="color:#990000"></td>
</tr>
<tr><td colspan="3" bgcolor="#FFFFFF" align="center">
<input type="submit" name="Submit" value="Referring" class="tj">
<input type="reset" name="Submit" value="Rewrite" class="tj"></td></tr>
</table>
</form>
</div>
</div>
<div class="webright">
<!--
EOT;
require_once template('e_online'); 
echo <<<EOT
-->
</div>
</div>
<!--
EOT;
require_once template('e_foot'); 
?>