<!--<?php
require_once template('head'); 
echo <<<EOT
-->
$fdjs
<div class="web">
<div class="webleft">
<div class="nav_x">&nbsp;<a href='$index_c_url'>首页</a> > $navtitle </div>
<div class="content">
<div class="message_line"><a href="index.php">查看留言>></a></div>
</div>
<div class="content">
<form method="POST" name="myform" onSubmit="return Checkmessage();" action="message.php?action=add" target="_self">
<table width="90%" cellpadding="2" cellspacing="1" bgcolor="#CCCCCC" align="center">
<tr>
<td width="20%" height="25" align="right" bgcolor="#FFFFFF">姓名</td>
<td width="70%" bgcolor="#FFFFFF"><input name="name" type="text" size="30" /></td>
<td bgcolor="#FFFFFF" style="color:#990000">*</td>
</tr>
<tr>
<td width="20%" height="25" align="right" bgcolor="#FFFFFF">电话</td>
<td width="70%" bgcolor="#FFFFFF"><input name="tel" type="text" size="30" /></td>
<td bgcolor="#FFFFFF" style="color:#990000"></td>
</tr>
<tr>
<td width="20%" height="25" align="right" bgcolor="#FFFFFF">Email</td>
<td width="70%" bgcolor="#FFFFFF"><input name="email" type="text" size="30" /></td>
<td bgcolor="#FFFFFF" style="color:#990000"></td>
</tr>
<tr>
<td width="20%" height="25" align="right" bgcolor="#FFFFFF">其他联系方式</td>
<td width="70%" bgcolor="#FFFFFF"><input name="contact" type="text" size="30" />（如QQ、MSN等）</td>
<td bgcolor="#FFFFFF" style="color:#990000"></td>
</tr>
<tr>
<td width="20%" height="25" align="right" bgcolor="#FFFFFF">留言内容</td>
<td width="70%" bgcolor="#FFFFFF"><textarea name="info" cols="50" rows="6"></textarea></td>
<td bgcolor="#FFFFFF" style="color:#990000">*</td>
</tr>
<tr><td colspan="3" bgcolor="#FFFFFF" align="center">
<input type="hidden" name="fromurl" value="$fromurl" />
<input type="hidden" name="ip" value="$ip" />
<input type="submit" name="Submit" value="提交留言" class="tj">
<input type="reset" name="Submit" value="重新填写" class="tj"></td></tr>
</table>
</form>
</div>
</div>
<div class="webright">
<!--
EOT;
require_once template('online'); 
echo <<<EOT
-->
</div>
</div>
<!--
EOT;
require_once template('foot'); 
?>