<!--<?php
$metlang=methtml_lang(' | ');
$metsearch=methtml_search(1);
$mettopnav=methtml_topnav(1,'|');
$metrightnav=methtml_classlist('1');
$met_online=methtml_online();
echo <<<EOT
-->
{$methtml_head}
<body>
<div class="head">
 <div class="head1">
    <div class="logo"><a href="$index_url" ><img src="$met_logo" alt="$met_alt" /></a></div>
    <div class="headright">
     <div class="headright1">{$methtml_now} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$methtml_sethome} | {$methtml_addfavorite} | {$metlang}</div>
     <div class="headright2"><b>$met_seo</b></div>
     <div class="headright2">{$metsearch}</div>
   </div>
 </div>
</div>
<div class="nav"><div class="nav1">{$mettopnav}</div></div>
{$methtml_flash}

<!--
EOT;
?>