<!--<?php
require_once template('head'); 
$metright=methtml_list('text','1','all','time','',$lang_maxwordtext,'red');
$metlist1=methtml_list('text','2','all','time','',$lang_maxwordtext1,'red','','1','0');
$metlist2=methtml_list('text','3','all','time','',$lang_maxwordtext1,'red','','1','0');
$metlist3=methtml_list('text','4','all','time','',$lang_maxwordtext1,'red','','1','0');
$metlinkimg=methtm_link('img','com');
$metlinktext=methtm_link('text','com');
echo <<<EOT
-->
<div class="web">
<div class="index_webleft">
<div class="nav_x">&nbsp;{$lang_AboutUs}</div>
<div class="index_content">
$index[content]
</div>
</div>
<div class="index_webright">
<div class="nav_x">&nbsp;{$class_index[1][name]}</div>
<div class="index_news_list">{$metright}</div>
</div>
</div>

<div class="web">

<div class="webindex1">
<div class="nav_x">&nbsp;{$class_index[2][name]}</div>
<div class="index_news_list">{$metlist1}</div>
</div>

<div class="webindex2">
<div class="nav_x">&nbsp;{$class_index[3][name]}</div>
<div class="index_news_list">{$metlist2}</div>
</div>

<div class="webindex3">
<div class="nav_x">&nbsp;{$class_index[4][name]}</div>
<div class="index_news_list">{$metright3}</div>
</div>

<!--
EOT;
if($index[link_ok]){
echo <<<EOT
-->
<div class="index_product">
<div class="nav_x">&nbsp;{$lang_FriendlyLink}</div>
<div class="index_link">
<div class="index_link_img">{$metlinkimg}</div>
<div class="index_link_text">{$metlinktext}</div>
</div>
</div>
<!--
EOT;
}
echo <<<EOT
-->
</div>
$met_online
<!--
EOT;
require_once template('foot'); 
?>