<!--<?php
require_once template('head'); 
$methits=methtml_hits('download');
$metdownload=methtml_showdownload();
echo <<<EOT
-->
<div class="web">
<div class="webleft">
<div class="nav_x">&nbsp;<a href='$index_url'>{$lang_home}</a> > $nav_x[name]</div>
<div class="content">
<h1>$download[title]</h1>
<div class="download_list_para">$metdownload</div>
</div>

<div class="content">
<div class="content">$download[content]</div>

<div class="hits">$methits</div>

</div>
</div>

<!--
EOT;
require_once template('rightlist');
echo <<<EOT
-->
</div>
<!--
EOT;
require_once template('foot'); 
?>