<!--<?php
require_once template('head'); 
$methits=methtml_hits('product');
$met_product=methtml_showproduct('all');
$met_productnext=methtml_prenextinfo();
echo <<<EOT
-->

<div class="web">
<div class="webleft">
<div class="nav_x">&nbsp;<a href='$index_url'>{$lang_home}</a> > $nav_x[name]</div>
<div class="content">
<h1>$product[title]</h1>
<div class="product_list">$met_product</div>
</div>
<div class="content">
<div class="content">$product[content]</div>
$met_productnext
<div class="hits">$methits</div>
</div>
</div>
<!--
EOT;
require_once template('rightlist');
echo <<<EOT
-->
</div>
<!--
EOT;
require_once template('foot'); 
?>