<!--<?php
$metlang=methtml_lang(' | ');
$mettopnav=methtml_topnav(1,'|');
$met_online=methtml_online();
echo <<<EOT
-->
{$methtml_head}
<body>
<div class="headtop"></div>
<div class="headtop1"></div>
<div class="bodyback">
<div class="head">
<div class="logo"><a href="$index_url"><img src="$met_logo" alt="$met_alt" /></a></div>
<div class="headright">
<div class="headright1">
{$methtml_now}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$methtml_sethome} | {$methtml_addfavorite} | {$metlang}
</div>
<div class="headright2"><b>$met_seo</b></div>
<div class="nav">$mettopnav</div>
</div>
</div>
<div class="flash">{$methtml_flash}</div>
<!--
EOT;
?>