<!--<?php
require_once template('head');
$index_news=methtml_list('','','all','time','news',$lang_newsnum,$lang_topcolor,'','1','0','1','1','1','1',''); 
$index_product=methtml_list('img','','com','time','product',$lang_productnum,'','','1','0','0','0','0','0','0');
$metlinkimg=methtm_link('img','com');
$metlinktext=methtm_link('text','com');
echo <<<EOT
-->
<div class="web">
<div class="index_webleft">
<div class="nav_x"><span>{$lang_AboutUs}</span></div>
<div class="index_content">$index[content]</div>
</div>
<div class="index_webright">
<div class="nav_x"><span>{$lang_News}</span></div>
$index_news
</div>
</div>
<div class="web">
<div class="index_product">
<div class="nav_x"><span>{$lang_RecommendedProducts}</span></div>

<div class="index_content">
$index_product
</div>
</div>
<!--
EOT;
if($index[link_ok]){
echo <<<EOT
-->
<div class="index_product">
<div class="nav_x"><span>{$lang_FriendlyLink}</span></div>
<div class="index_link">
<div class="index_link_img">$metlinkimg</div>
<div class="index_link_text">$metlinktext</div>
</div>
</div>
<!--
EOT;
}
echo <<<EOT
-->
$met_online
</div>
<!--
EOT;
require_once template('foot'); 
?>