<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<style type="text/css">
body {
	font-size: 12px; 
	font-family:"宋体";
	background-color:#FAFAFA;
	padding:10px; 
	line-height:18px;
	color:#5A5A5A;
}
a { color:#000099;}
strong{ color:#FF0000;}
b { color:#FF0000;}
p { margin:10px 0px 10px 0px;}
</style>
<body>
<p><strong>模板介绍：</strong><br />
  1、简介大气，全面支持MetInfo所有功能；<br />
  2、可以在语言包配置文件中修改底色；<br />
  3、2种不同风格的首页布局<br />
</p>
<p><strong>注意要点：</strong><br />
  1、Flash尺寸请设为890*150或1000*任意高度<br />
  2、系统缩略图建议设置为200*200<br />
  3、默认首页公司简介旁边的栏目显示所有文章栏目中的推荐信息<br>
  4、多文章栏目首页公司简介旁边的栏目显示【栏目标识】为1的栏目中的最新信息<br>
  5、多文章栏目首页中间横向3个栏目分别显示【栏目标识】为2、3、4的栏目中的最新信息<br>
  6、首页文章及产品标题最大字数可以在语言配置进行设置
  </p>
<p><strong>安装方法：</strong><br />
  1、将此文件中的所有文件上传到templates文件夹中，并放置于自定义的新文件夹中，如metinfo。<br />
  2、全新安装可以将文件夹中的config.inc.php文件覆盖安装程序根目录下的config文件中的config.inc.php文件，并设置flash参数，如网站已添加数据信息请直接在后台设置相关参数。<br />
  3、在管理后台的【界面风格】中点击【管理模板】，添加此新模板后，并在【界面风格】选择新增的模板即可。<br />
  4、添加完毕后，请按照注意要点设置相关参数。<br />
</p>
<p>本模板为metinfo企业网站管理系统专用配套模板，请先安装metinfo企业网站管理系统，下载地址：http://www.metinfo.cn<br />
</p>
</body>
</html>
