<!--<?php
require_once template('head'); 
$methits=methtml_hits('news');
$metnewslist=methtml_news('text','all','','','','1','0','1','1','1','0','1','1','8');
$methtml_prenextinfo=methtml_prenextinfo();
echo <<<EOT
-->
<div class="web">
<div class="webleft">
<div class="nav_x1"><span><a href='$index_url'>{$lang_home}</a> > $nav_x[name]</span></div>
<div class="content">
<h1>$news[title]</h1>
<div class="content">$news[content]</div>
<div class="hits">$methits</div>
<div class="prenext">$methtml_prenextinfo</div>
<div class="nav_x"><span>{$lang_Article}</span></div>
<div class="news_list">$metnewslist</div>

</div>
</div>

<!--
EOT;
require_once template('foot'); 
?>