<!--<?php 
echo <<<EOT
-->
{$methtml_head}
<link href="templates/met/css/style.css" rel="stylesheet" />
<body>
<div class="memberhead">
<div class="memberhead1">
<div class="memberheadlogo"><a href="$index_url" ><img src="$met_logo" alt="$met_alt" /></a></div>
<div class="memberheadtext"><a href="$index_url">{$lang_home}</a><font style="font-family:Arial, Helvetica, sans-serif">></font><a href="#">{$lang_cvtitle}</a></div>
</div>
</div>
<div class="web">
<script type="text/javascript">

function pressCaptcha(obj)//字母变大写
  {
    obj.value = obj.value.toUpperCase();
  }
</script>
$fdjs
<form  enctype="multipart/form-data" method="POST" onSubmit="return Checkcv();" name="myform" action="save.php?action=add" target="_self">
<input type="hidden" name="lang" value="$lang" />
<table cellpadding="2" cellspacing="2" border="0" class="table_cv">
		  <tr> 
            <td class="cv_text"><b>{$lang_memberPosition}:</b></td>
            <td colspan="2" class="cv_input">
			<select name="jobid" id="jobid">
			$selectjob
			</select>
			</td>
			<td class="cv_input" bgcolor="#FFFFFF" style="color:#990000">*</td>
		 </tr>
<!--
EOT;
foreach($cv_para as $key=>$val){
if($val[maxsize]==200 )
{
echo <<<EOT
-->
         <tr> 
            <td class="cv_text"><b>$val[mark]:</b></td>
            <td colspan="2" class="cv_input"><input name="$val[name]" type="text" class="input" size="40" maxlength="200"></td>
			<td class="cv_input" bgcolor="#FFFFFF" style="color:#990000">$val[wr_must]</td>
		 </tr>
<!--
EOT;
}else if($val[maxsize]==255)
{
echo <<<EOT
-->
			<tr> 
            <td class="cv_text"><b>$val[mark]:</b></td>
            <td colspan="2" class="cv_input"><input name="$val[name]" type='file' class="input" size="20" maxlength="200"></td>
			<td class="cv_input" bgcolor="#FFFFFF" style="color:#990000">$val[wr_must]</td>
			</tr>
<!--
EOT;
}
else
{
echo <<<EOT
-->
         <tr> 
            <td class="cv_text"><b>$val[mark]:</b></td>
            <td colspan="2"  class="cv_input"><textarea name="$val[name]" cols="60" rows="5"></textarea></td>
			<td class="cv_input" bgcolor="#FFFFFF" style="color:#990000">$val[wr_must]</td>
			</tr>
<!--
EOT;

}

}
echo <<<EOT
-->    
         <tr>    
         <td class="cv_text"><b>{$lang_memberImgCode}:</b></td>
         <td colspan="2" class="cv_input"><input name="code" onKeyUp="pressCaptcha(this)" type="text" class="inp" id="code" size="6" maxlength="8" style="width:50px" />
         <img align="absbottom" src="ajax.php?action=code"  onclick=this.src="ajax.php?action=code&"+Math.random() style="cursor: pointer;" title="{$lang_memberTip1}"/>
		</td>
		</tr>
		<tr> 
            <td class="cv_text"></td>
	      <td class="cv_submit"><input type="submit" name="Submit" value="{$lang_Submit}" class="tj" style="*padding-top:2px; *height:22px;"><input type="reset" name="Submit" value="{$lang_Reset}" class="tj" style="*padding-top:2px; *height:22px;"> </td>
        </tr>
		
</table>
</form>

</div>
<div class="memberfoot">
Powered by <a href="http://www.MetInfo.cn" target="_blank" title="{$lang_Info1}"><b>MetInfo</b></a> $metcms_v &copy;2008-$m_now_year <a href="http://www.MetInfo.cn" target="_blank" title="{$lang_Info3}">www.MetInfo.cn</a>
</div>


</body>
</html>
<!--
EOT;
?>