<!--<?php
$metfootnav=methtml_footnav(' | ');
$metrightnav=methtml_classlist('1');
if($classnow!=10001 and $class_list[$classnow][module]!=11 ){
echo <<<EOT
-->
<div class="webright">
<div class="nav_x1">$class1_info[name] </div>
<div class="navright">$metrightnav</div>
$met_online
</div>
</div>
<!--
EOT;
}
echo <<<EOT
-->
<div class="foot">
<div class="footnav">{$metfootnav}</div>
<div class="foottext">
{$methtml_foot}
Powered by <a href="http://www.MetInfo.cn" target="_blank" title="{$lang_Info1}"><b>MetInfo</b></a> $metcms_v &copy;2008-$m_now_year <a href="http://www.MetInfo.cn" target="_blank" title="{$lang_Info3}">www.MetInfo.cn</a>
</div>
</div>

</body>
</html>

<!--
EOT;
?>-->