<!--<?php
require_once template('head'); 
$indexnews1=methtml_list('','1','com','time','news','','','5','1','0','0','0','0','0','0');
$index_news2=methtml_list('','2','com','time','news','20','','','1','0','0','0','1','1','0');
$index_news3=methtml_list('','3','com','time','news','20','','','1','0','0','0','1','1','0');
$index_news4=methtml_list('','4','com','time','news','20','','','1','0','0','0','1','1','0');
$index_news5=methtml_list('','7','com','time','news','20','','','1','0','0','0','1','1','0');
$news_url1=$class_index[2][url];
$news_url2=$class_index[3][url];
$news_url3=$class_index[4][url];
$news_url4=$class_index[7][url];
$metlinktext=methtm_link('text','com');
echo <<<EOT
-->
 <div class="web">
<div class="flash">
{$methtml_flash}
</div>
<div class="flashright">
<div class="right_nav"><img src="$img_url/nav.gif" />{$lang_indexcontact}</div>
<div class="right_info_text" style="text-align:left; padding:0px 10px;">
$otherinfo[info10]
</div>
<!--
EOT;
foreach($online_list as $key=>$val){
echo <<<EOT
-->
<div class="qq1">
$val[name]&nbsp;
<!--
EOT;
if($val[qq]!=""){
echo <<<EOT
-->
<A href="tencent://message/?uin=$val[qq]&amp;Site=$met_webname&amp;Menu=yes" title='{$lang_Online}'><img src='$img_url/qq.gif' border=0 /></a>&nbsp;
<!--
EOT;
}
if($val[msn]!=""){
echo <<<EOT
-->
<a href="msnim:chat?contact=$val[msn]" target="blank" ><img src="$img_url/msn.gif" border="0" ></a>&nbsp;
<!--
EOT;
}
if($val[taobao]!=""){
echo <<<EOT
-->
<a target="_blank" href="http://amos.im.alisoft.com/msg.aw?v=2&uid=navylin&site=cntaobao&s=2&charset=utf-8" ><img border="0" src="http://amos.im.alisoft.com/online.aw?v=2&uid=$val[taobao]&site=cntaobao&s=2&charset=utf-8" alt="{$lang_wangwang}" /></a>
<!--
EOT;
}
echo <<<EOT
-->
</div>
<!--
EOT;
}
foreach($alibaba_list as $key=>$val){
echo <<<EOT
-->
<div class="alibaba1">
<a target=_blank href=http://amos1.sh1.china.alibaba.com/msg.atc?v=1&uid=$val[alibaba]><img border=0 src=http://amos1.sh1.china.alibaba.com/online.atc?v=1&uid=$val[alibaba]&s=1 alt='$val[name]'></a>
</div>
<!--
EOT;
}
foreach($skype_list as $key=>$val){
echo <<<EOT
-->
<div class="alibaba">
<a href="callto://$val[skype]"><img src="http://goodies.skype.com/graphics/skypeme_btn_brownish.gif" border="0"></a></div>
<!--
EOT;
}
$affname=$class_index[1][name];
echo <<<EOT
-->

</div>

</div>

<div class="web">
<div class="student">
<div class="student_img"><img src="$img_url/bignav.gif" /></div>
<div class="student_title">{$lang_BulletinBoard}</div>

<div class="student_text">
<Marquee  align="center" behavior="scroll"  direction="left" height="20" width="100%" vspace="2" loop="-1" scrollamount="3" scrolldelay="50" onMouseOut="this.start()" onMouseOver="this.stop()">
$indexnews1 
</marquee>
</div>

</div>
</div>

<div class="web">

<div class="index_middle">
<div class="right_nav"><div class="right_nav1"><img src="$img_url/nav.gif" />{$lang_productlist}</div><div class="right_nav2"><a href="$news_url5"><img src="$img_url/more.gif" /></a></div></div>
<!--
EOT;
$i=0;
foreach(methtml_getarray('6','com','time','') as $key=>$val){
$i++;
echo <<<EOT
-->
 <div class="index_product">
 <div class="index_product_img"><A href="$val[url]" target=_blank ><img src="$val[imgurls]"  border="0" alt="$val[title]"></A></div>
 <div class="index_product_title"><A href="$val[url]" target=_blank >$val[title]</A></div>
 <div class="index_product_text">$val[description]</div>
 </div>

<!--
EOT;
}
echo <<<EOT
-->	
</div>

<div class="index_left">
<div class="index_left1">
<div class="right_nav"><div class="right_nav1"><img src="$img_url/nav.gif" />{$lang_News1}</div><div class="right_nav2"><a href="$news_url1"><img src="$img_url/more.gif" /></a></div></div>
$index_news2
</div>

<div class="index_left1">
<div class="right_nav"><div class="right_nav1"><img src="$img_url/nav.gif" />{$lang_News2}</div><div class="right_nav2"><a href="$news_url2"><img src="$img_url/more.gif" /></a></div></div>
$index_news3
</div>

</div>

<div class="index_right">
<div class="right_nav"><div class="right_nav1"><img src="$img_url/nav.gif" />{$lang_News3}</div><div class="right_nav2"><a href="$news_url3"><img src="$img_url/more.gif" /></a></div></div>
$index_news4
</div>

<div class="index_right">
<div class="right_nav"><div class="right_nav1"><img src="$img_url/nav.gif" />{$lang_News4}</div><div class="right_nav2"><a href="$news_url4"><img src="$img_url/more.gif" /></a></div></div>
$index_news5

</div>

</div>
<!--
EOT;
if($index[link_ok]){
echo <<<EOT
-->
<div class="web">
<div class="link"><b>{$lang_FriendlyLink}：</b>
<div class="linksul">
{$metlinktext}
</div>
</div>
</div>
<!--
EOT;
}
echo <<<EOT
-->
$met_online
<!--
EOT;
require_once template('foot'); 
?>