<!--<?php
require_once template('head'); 
echo <<<EOT
-->
<div class="web">
<div class="nav">&nbsp;<img height=17 src="$img_url/main.gif" width=18 />
 {$lang_YouPosition}：<a href='$index_url'>{$lang_home}</a> > $nav_x[name]</div>
<div class="webleft">
<div class="content">
<!--
EOT;
foreach($job_list as $key=>$val){
echo <<<EOT
-->
<div class="job_list">
<div class="job_list_img"><img src="$img_url/list.gif" /></div>
<div class="job_list_title">
{$lang_Position}：<a href="$val[url]" target="_blank"><b>$val[position]</b></a>&nbsp;&nbsp;&nbsp;&nbsp;
{$lang_PersonNumber}：$val[count]&nbsp;&nbsp;&nbsp;
{$lang_WorkPlace}：$val[place]&nbsp;&nbsp;&nbsp;
{$lang_AddDate}：$val[addtime]&nbsp;&nbsp;&nbsp;
</div>
<div class="job_list_right"><a href="$val[url]" target="_blank">{$lang_Detail}>></a>&nbsp;|&nbsp;<a href="$val[cv]" onFocus="if(this.blur)this.blur();">{$lang_cv}</a></div>

</div>
<!--
EOT;
}
echo <<<EOT
-->
</div>
$page_list
</div>

<div class="webright">
$met_online
</div>
</div>
<!--
EOT;
require_once template('foot'); 
?>