<!--<?php
require_once template('head'); 
echo <<<EOT
-->
<div class="web">
<div class="nav">&nbsp;<img height=17 src="$img_url/main.gif" width=18 />
 {$lang_YouPosition}：<a href='$index_c_url'>{$lang_home}</a> > $navtitle</div>
<div class="webleft">
<div class="content">
<div class="message_line"><a href="$addlink_url">{$lang_ApplyLink}>></a></div>
</div>
<div class="content">
<div class="index_link_img">
<b>{$lang_PictureLink}：</b><br />
<!--
EOT;
foreach($link_img as $key=>$val){
echo <<<EOT
-->
<a href="$val[weburl]" target="_blank"><img src="$val[weblogo]" alt="$val[webname]" /></a>
<!--
EOT;
}
echo <<<EOT
-->
</div>
<br />
<div class="index_link_text">
<b>{$lang_TextLink}：</b><br />
<!--
EOT;
foreach($link_text as $key=>$val){
echo <<<EOT
-->
<a href="$val[weburl]" target="_blank" title="$val[c_info]">$val[webname]</a>
<!--
EOT;
}
echo <<<EOT
-->
</div>
</div>
</div>

<!--
EOT;
require_once template('foot'); 
?>