<!--<?php
require_once template('head'); 
echo <<<EOT
-->
<div class="web">
<div class="nav">&nbsp;<img height=17 src="$img_url/main.gif" width=18 />
 {$lang_YouPosition}：<a href='$index_url'>{$lang_home}</a> > $navtitle</div>
<div class="webleft">
<div class="content">
<div class="message_line"><a href="$addmessage_url">{$lang_SubmitInfo}>></a></div>
</div>
<div class="content">
<!--
EOT;
foreach($message_list as $key=>$val){
echo <<<EOT
-->
<div class="message_list">
<div class="message_list_line">[NO$val[id]]：<b>$val[name]</b>{$lang_Publish}$val[addtime]</div>
<div class="message_list_info"><b>{$lang_SubmitContent}</b>:$val[info]</div>
<div class="message_list_reinfo"><b>{$lang_Reply}</b>:$val[useinfo]</div>
</div>

<!--
EOT;
}
echo <<<EOT
-->
</div>
$page_list
</div>

<!--
EOT;
require_once template('foot'); 
?>