<!--<?php
require_once template('head'); 
echo <<<EOT
-->
<div class="web">
<div class="nav">&nbsp;<img height=17 src="$img_url/main.gif" width=18 />
{$lang_YouPosition}：<a href='$index_url'>{$lang_home}</a> > $nav_x[name]</div>
<div class="webleft">

<div class="content">
<!--
EOT;
foreach($news_list as $key=>$val){
echo <<<EOT
-->
<div class="newslist">
<img src="$img_url/list1.gif" />&nbsp;<a href="$val[url]" target="_blank">$val[title]</a>($val[updatetime])&lt;{$lang_Hits}<font>$val[hits]</font>&gt;
</div>
<!--
EOT;
}
echo <<<EOT
-->
</div>
$page_list
</div>

<div class="webright">
<div class="nav_x">&nbsp;<img src="$img_url/right.gif" />&nbsp;$class1_info[name]</div>
<div class="navright">$navlist_y1</div>
$met_online
</div>
</div>
<!--
EOT;
require_once template('foot'); 
?>