<!--<?php
require_once template('head'); 
$met_img=methtml_showimg('all');
$methits=methtml_hits('img');
$methtml_prenextinfo=methtml_prenextinfo();
echo <<<EOT
-->
<div class="web">
<div class="nav">&nbsp;<img height=17 src="$img_url/main.gif" width=18 />
 {$lang_YouPosition}：<a href='$index_url'>{$lang_home}</a> > $nav_x[name]</div>
<div class="webleft">
<div class="content">
<div class="product_list2">
$met_img
</div>
</div>
<div class="content">
<div class="content">$img[content]</div>

<div class="hits">$methits</div>
<div class="prenext">$methtml_prenextinfo</div>
</div>
</div>
<!--
EOT;
require_once template('foot'); 
?>