<!--<?php
echo <<<EOT
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="$show[e_description]">
<meta name="keywords" content="$show[e_keywords]">
<meta name="language" content="zh-CN">
<meta name="robots" content="all">
<meta name="GOOGLEBOT" content="all">
<meta name="author" content="$met_e_webname">
<meta name="copyright" content="Copyright 2008 -MetInfo">
<LINK href="$rooturl/favicon.ico" rel="shortcut icon">
<link rel="stylesheet" type="text/css" href="$css_url/e_metinfo.css">
<TITLE>$e_title_keywords--$met_e_webname</TITLE>
</head>
<body>
<div class="head">
<div class="head1">
<div class="logo"><a href="$index_e_url"><img src="$met_logo" alt="$met_e_alt" /></a></div>
<div class="headright">
<div class="headright1">
<script language="JavaScript">
today=new Date();
function initArray(){
this.length=initArray.arguments.length
for(var i=0;i<this.length;i++)
this[i+1]=initArray.arguments[i]  }
var d=new initArray(
" Sunday",
" Monday",
" Tuesday",
" Wednesday",
" Thursday",
" Friday",
" Saturday");
document.write(
"",
today.getFullYear(),"-",
today.getMonth()+1,"-",
today.getDate(),"",
d[today.getDay()+1],
"" ); 
</script>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a href="$index_c_url">Chinese</a>
</div>
<div class="headright2">
<b>$met_e_seo</b>
</div>
<div class="headright2">
<form method="POST" name="myform1" action="$searchurl"  target="_self">
<input type="text" name="e_searchword" size="20"/>
<select name="class1">
<option value="">All Web</option>
<!--
EOT;
foreach($nav_search as $key=>$val)
{
echo <<<EOT
-->
<option value="$val[id]">$val[e_name]</option>
<!--
EOT;
}
echo <<<EOT
-->
</select>
<input type="submit" name="Submit" value="search" class="searchgo" />
</form></div>
</div>
</div>
</div>
<div class="nav">
<div class="nav1">
<a href="$navurl?en=en">Home</a>|
<!--
EOT;
foreach($nav_list as $key=>$val){
echo <<<EOT
--><a href="$val[e_url]" $val[new_windows] title="$val[e_name]">$val[e_name]</a>|<!--
EOT;
}
echo <<<EOT
-->
</div>
</div>
<!--
EOT;
if($met_flash_type==0&&$met_flash_ok==1){
echo <<<EOT
-->
<div class="flash">
<script type="text/javascript">
<!--
var pic_width=$met_flash_x
var pic_height=$met_flash_y
var text_height=0
var swfpath = '$img_url'+'/focus.swf'
var pics='$met_e_flash_img'
var links='$met_flashurl'
var texts=''
document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="'+ pic_width +'" height="'+ pic_height +'">');
document.write('<param name="allowScriptAccess" value="sameDomain"><param name="movie" value="'+swfpath+'"><param name="quality" value="high"><param name="bgcolor" value="#ffffff">');
document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
document.write('<param name="FlashVars" value="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+pic_width+'&borderheight='+pic_height+'&textheight='+text_height+'">');
document.write('<embed src="'+swfpath+'" wmode="opaque" FlashVars="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+pic_width+'&borderheight='+pic_height+'&textheight='+text_height+'" menu="false" bgcolor="#ffffff" quality="high" width="'+ pic_width +'" height="'+ pic_height +'" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />');document.write('</object>');
//-->
</script>
</div>
<!--
EOT;
}
if($met_flash_type==1&&$met_flash_ok==1){
echo <<<EOT
-->
<div class="flash" id="flashd" style="background-image: url($met_e_flash_back); width:$met_flash_xpx; height:$met_flash_ypx;">
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="$met_flash_x" height="$met_flash_y">
            <param name="movie" value="$met_e_flash_url">
            <param name="quality" value="high">
            <param name="wmode" value="transparent" />
		 <embed src="$met_e_flash_url" width="$met_flash_x" height="$met_flash_y" quality="high" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent"></embed>
 </object>
 </div>
 <script type="text/javascript"> 
var Sys = {}; 
var ua = navigator.userAgent.toLowerCase(); 
var s; 
(s = ua.match(/msie ([\d.]+)/)) ? Sys.ie = s[1] : 
(s = ua.match(/firefox\/([\d.]+)/)) ? Sys.firefox = s[1] : 
(s = ua.match(/chrome\/([\d.]+)/)) ? Sys.chrome = s[1] : 
(s = ua.match(/opera.([\d.]+)/)) ? Sys.opera = s[1] : 
(s = ua.match(/version\/([\d.]+).*safari/)) ? Sys.safari = s[1] : 0; 
if (Sys.firefox){
var metflashx=$met_flash_x+3+'px';
var metflashy=$met_flash_y+3+'px';
document.getElementById('flashd').style.width=metflashx;
document.getElementById('flashd').style.height=metflashy;
}
</script>
<!--
EOT;
}
?>