<!--<?php
require_once template('e_head'); 
echo <<<EOT
-->
<div class="web">
<div class="webleft">
<div class="nav_x">&nbsp;<a href='$index_c_url'>Home</a> > $nav_x[e_name]</div>
<div class="content">
<!--
EOT;
foreach($product_list as $key=>$val){
echo <<<EOT
-->
<div class="product_list">
<div class="product_list_img"><a href="$val[e_url]" target="_blank"><img src="$val[imgurls]" /></a></div>
<div class="product_list_title"><a href="$val[e_url]" target="_blank">$val[e_title]</a></div>
<div class="product_list_para">
<!--
EOT;
foreach($product_para200 as $key=>$val1){
$para_no="e_".$val1[name];
echo <<<EOT
-->
$val1[e_mark]:$val[$para_no]<br />
<!--
EOT;
}
echo <<<EOT
-->
</div>
<div class="product_list_detail"><a href="$val[e_url]" target="_blank">Detail>></a></div>
</div>
<!--
EOT;
}
echo <<<EOT
-->
</div>
$e_page_list
</div>

<div class="webright">
<div class="nav_x">&nbsp;>>$class1_info[e_name]</div>
<div class="navright">$nav_e_list</div>
<!--
EOT;
require_once template('e_online'); 
echo <<<EOT
-->
</div>
</div>
<!--
EOT;
require_once template('e_foot'); 
?>