<!--<?php
require_once template('e_head'); 
echo <<<EOT
-->
<div class="web">
<div class="webleft">
<div class="nav_x">&nbsp;<a href='$index_e_url'>Home</a> > $nav_x[e_name]</div>
<div class="content">
<h1>$news[e_title]</h1>
<div class="content">$news[e_content]</div>

<div class="hits">Hits：<span><script language="javascript" src="../include/hits.php?type=news&id=$news[id]"></script></span>&nbsp; Update Time:$news[updatetime]&nbsp;【<a href='javascript:window.print()'>Print</a>】&nbsp;【<a href="javascript:self.close()">Close</a>】</div>
<div class="news_other">Correlation Article</div>
<!--
EOT;
$i=0;
foreach($news_list as $key=>$val){
$i=$i+1;
echo <<<EOT
-->
<div class="news_list">
<div class="news_list_img"><img src="$img_url/list.gif" /></div><div class="news_list_title"><a href="$val[e_url]" target="_blank">$val[e_title]</a>($val[updatetime])< Hits:<font>$val[hits]</font> ></div>
</div>
<!--
EOT;
if($i>=8)break;
}
echo <<<EOT
-->
</div>
</div>

<div class="webright">
<div class="nav_x">&nbsp;>>$class1_info[e_name]</div>
<div class="navright">$nav_e_list</div>
<!--
EOT;
require_once template('online'); 
echo <<<EOT
-->
</div>
</div>
<!--
EOT;
require_once template('foot'); 
?>