<!--<?php
require_once template('head'); 
echo <<<EOT
-->
<div class="web">
<div class="webleft">
<div class="nav_x">&nbsp;<a href='$index_c_url'>首页</a> > $nav_x[c_name]</div>
<div class="content">
<!--
EOT;
foreach($news_list as $key=>$val){
echo <<<EOT
-->
<div class="news_list">
<div class="news_list_img"><img src="$img_url/list.gif" /></div><div class="news_list_title"><a href="$val[c_url]" target="_blank">$val[c_title]</a>($val[updatetime])<阅读<font>$val[hits]</font>次></div>
</div>
<!--
EOT;
}
echo <<<EOT
-->
</div>
$c_page_list
</div>

<div class="webright">
<div class="nav_x">&nbsp;>>$class1_info[c_name]</div>
<div class="navright">$nav_c_list</div>
<!--
EOT;
require_once template('online'); 
echo <<<EOT
-->
</div>
</div>
<!--
EOT;
require_once template('foot'); 
?>