<!--<?php
if($met_flash_type==1&&$met_flash_ok==1){
echo <<<EOT
-->

<div class="web">
<div class="flash">

<script type="text/javascript">
var swf_width=1000;
var swf_height=150;
var files='$met_e_flash_img'; //图片
var links='$met_flashurl';
var texts='';
var swfpath = '$img_url'+'/bcastr.swf'
var AutoPlayTime=6; //间隔时间：单位是秒

document.write('<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="'+ swf_width +'" height="'+ swf_height +'">');
document.write('<param name="movie" value='+swfpath+'><param name="quality" value="high">');
document.write('<param name="menu" value="false"><param name=wmode value="opaque">');
document.write('<param name="FlashVars" value="bcastr_file='+files+'&bcastr_link='+links+'&bcastr_title='+texts+'&AutoPlayTime='+AutoPlayTime+'">');
document.write('<embed src='+swfpath+' wmode="opaque" FlashVars="bcastr_file='+files+'&bcastr_link='+links+'&bcastr_title='+texts+'&AutoPlayTime='+AutoPlayTime+'" menu="false" quality="high" width="'+ swf_width +'" height="'+ swf_height +'" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />'); document.write('</object>'); 

</script>
</div>
</div>
<!--
EOT;
}
if($met_flash_type==0&&$met_flash_ok==1){
echo <<<EOT
-->
<div class="web">
<div class="flash" style="background-image: url($met_e_flash_back); width:1000; height:150;">
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="1000" height="150">
            <param name="movie" value="$met_e_flash_url">
            <param name="quality" value="high">
            <param name="wmode" value="transparent" />
		 <embed src="$met_e_flash_url" width="1000" height="150" quality="high" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent"></embed>
 </object>
 </div>
 </div>
 <!--
EOT;
}
?>