<!--<?php
require_once template('head'); 
require_once template('flash'); 
echo <<<EOT
-->
$fdjs;
<div class="web">
<!--左边开始-->
<div class="web_left">
<div class="contact_left">

<!--
EOT;
require_once template('online'); 
echo <<<EOT
-->
</div>
</div>
<!--左边结束-->
<div class="rightcontent">
<div class="nav_left"><font>q</font>$navtitle</div>
<div class="content">

<form method="POST" name="myform" onSubmit="return Checkfeedback();" action="index.php?action=add" target="_self">
<table width="90%" cellpadding="2" cellspacing="1" bgcolor="#CCCCCC" align="center">
<!--
EOT;
foreach($fd_para as $key=>$val){
echo <<<EOT
-->
<tr>
<td width="20%" height="25" align="right" bgcolor="#FFFFFF">$val[c_name]</td>
<td width="70%" bgcolor="#FFFFFF">$val[c_input]</td>
<td bgcolor="#FFFFFF" style="color:#990000">$val[wr_must]</td>
</tr>
<!--
EOT;
}
echo <<<EOT
-->
<tr><td colspan="3" bgcolor="#FFFFFF" align="center">
<input type="hidden" name="fdtitle" value="$title" />
<input type="hidden" name="fromurl" value="$fromurl" />
<input type="hidden" name="ip" value="$ip" />
<input type="submit" name="Submit" value="提交信息" class="tj" style="width:70px">
<input type="reset" name="Submit" value="重新填写" class="tj" style="width:70px"></td></tr>
</table>
</form>
</div>
</div>

</div>
<!--
EOT;
require_once template('foot'); 
?>