<!--<?php
require_once template('head'); 
require_once template('flash'); 
echo <<<EOT
-->

<div class="web">
<!--左边开始-->
<div class="web_left">
<div class="contact_left">

<!--
EOT;
require_once template('online'); 
echo <<<EOT
-->
</div>
</div>
<!--左边结束-->
<div class="rightcontent">
<div class="nav_left"><font>q</font>$nav_x[c_name]</div>
<div class="content">
<h1>招聘职位：$job[c_position]</h1>
<div class="job_list_detail">
<b>招聘人数</b>:$job[count]<br />
<b>工作地点</b>:$job[c_place]<br />
<b>工资待遇</b>:$job[c_deal]<br />
<b>发布日期</b>:$job[addtime]<br />
<b>有效期</b>:$job[useful_life]<br />
</div>
<div class="content"><b>职位描述</b>：<br />$job[c_content]</div>

</div>
</div>

</div>
<!--
EOT;
require_once template('foot'); 
?>