*{ margin:0px; padding:0px;}
ul{ list-style:none;}
body{ font-size:12px; font-family:"宋体"; text-align:center; height:100%;}
img{ border:none;}
a{ text-decoration:none;}
A:hover { COLOR:#FF6600}

/*______________top_________________________________________*/
.top{ width:100%; height:65px;  overflow:hidden;  background:#f4f7fb;}
.top_admin{ color:#777777; position:absolute; right:200px; top:30px; height:30px; line-height:38px; }
.top_top img{ width:20px; height:16px; }
.top_bottom{ position:relative; overflow:hidden; height:65px;}
.top_left{ width:175px; height:64px; position:absolute; left:0px; top:0px; overflow:hidden; border-bottom:1px solid #119fcf;}
.top_left img{ width:170px; margin-top:5px; border:none;}
.top_right{ width:100%; height:65px; margin-left:170px;  overflow:hidden; position:relative;}
*+html .top_right{ margin-left:168px;}
.top_right_top{ width:100%; height:30px; }
.top_list{ height:30px;  }
.top_right ul{  }
.top_right ul li{ float:left; width:80px; height:30px;  background:url(li1bg.gif) no-repeat 0px 0px; margin-right:2px;}
.top_right ul li a{ display:block; text-align:center; height:30px; text-decoration:none; padding-top:12px; font-weight:bold; color:#40a0d7;}
.top_right ul li a:hover{ text-decoration:underline;}
.top_right_bottom{ width:100%; height:5px; background:#119fcf; font-size:0px; _margin-top:-12px;}
.li_ok{ background:url(libg.gif) no-repeat 0px 0px; color:#FFFFFF;}
.clicka{background:url(libg.gif) no-repeat 0px 0px; color:#FFFFFF;}
.clickb{ background:none;  color:#4a9ab3;}



/*______________left_________________________________________*/
.bottom table{ }
.bottom table td{ font-size:12px;}
.left{  background:#f4f7fb; text-align:left; height:auto !important; height:500px; *height:550px; min-height:500px; *min-height:550px; border-right:4px solid #119fcf; border-bottom:1px solid #119fcf; position:relative;}
.left_top{ width:100%; border-bottom:1px solid #119fcf; height:25px; overflow:auto; line-height:25px; text-align:center;}
.left_top a{ color:#666666; text-decoration:none;}
.left_top a:hover{ color:#0066FF; text-decoration:underline;}
.left_content{}
.left_u{ margin:0px auto; height:auto !important; min-height:426px; min-height:425px\9; *height:466px; *min-height:466px; }
.left_content ul{ margin-top:10px; }
.left_content ul.pt li{ height:27px; line-height:26px;  margin-bottom:1px; *margin-bottom:0px;}
.left_content ul.pt li a{ text-decoration:none; color:#777777; display:block;  padding-left:30px; }
.left_content ul.pt li a:hover{ background-color:#e7f6fc;}
.left_clicka{ background:url(left_li.gif) repeat-y right top;}
.left_clicka:hover{ background:none;}
.left_clickb{ background:none; border-top:1px solid #ffffff;}
.li_left_ok{background:url(left_li.gif) repeat-y 0px 0px; border:1px solid #c5edf9;}


.left_footer{ text-align:center; width:170px; padding:5px 0px 5px 0px; line-height:18px; border-top:1px dashed #CCCCCC;}
.left_footer{  font-family:Arial; color:#666666; position:relative; right:4px;}
.left_footer a{ color:#0099FF; text-decoration:none;}
.left_footer a:hover{ text-decoration:underline;}

/*___________栏目管理______________________________________________________*/
.list3{ width:160px; margin:0px auto;}
.lmgl li{ height:26px; line-height:26px; margin-bottom:5px; *margin-bottom:2px; padding:1px; border:1px solid #c5edf9; }
.lmgl li a{ display:block;  padding-left:30px; color:#1788c2; text-decoration:none; background:#e3f6fd url(li_bg1.gif) no-repeat 140px 8px; font-weight:bold;}
.lmgl li a:hover{  }

.lmgl span li { list-style-type:square; padding:0px; border:none; margin-bottom:-2px; margin-top:-3px;}
.lmgl span li a{ color:#666666; border:none; margin-bottom:0px; padding-left:50px; background:none; font-weight:normal;}
.lmgl span li a:hover{ color:#FF0000; text-decoration:underline;}



/*______________right_________________________________________*/
.iframe_main{width:100%; height:509px; *height:550px; overflow:auto;  border-bottom:1px solid #119fcf;  position:relative; right:2px; bgcolor="#FFFFFF"}

/*____________________基本配置__________________________________________________________*/
.table_list1{ border:1px solid #84d5fe; margin:10px auto; font-size:12px;}
.list1_title{ background:#279cd8; color:#FFFFFF; font-weight:bold; height:25px; line-height:25px; font-size:14px;}
.list1_title b{color:#FFE536;}
.table_list1 td.list1_text{ background:#e3f5ff; height:25px; line-height:25px; padding-right:5px; text-align:right; color:#333333; width:15%; font-size:12px;}
.table_list1 td.list1_input{ height:25px; line-height:25px; background:#fafdff; padding-left:5px; width:60%; font-size:12px; color:#666666; text-align:left;}
.table_list1 td.list1_input input{ margin-right:5px;  color:#444444;}
.table_list1 td.list1_input textarea{ color:#444444;}
.table_list1 td.list1_input option{color:#444444;}
.table_list1 td.list1_input span{ padding-left:5px; color:#666666; font-size:12px;}

.list1_submit{ text-align:left; padding-left:5px;  background:#fafdff;}
.list1_submit input{ margin-right:10px;}
.list1_text_title{ width:60%; color:#CC0000; font-weight:bold; background:#fafdff; height:20px; line-height:20px;}
.list1_text_title a{ color:#FF0000;}
.list1_text_title a:hover{ color:#ff0000;}

.list1_footer{ height:20px; line-height:20px;}
.list1_footer{ font-family:Arial; color:#666666;}
.list1_footer a{ color:#0099FF; text-decoration:none;}
.list1_footer a:hover{ text-decoration:underline;}

.list1_top{background:#279cd8; color:#FFFFFF; font-weight:bold; height:25px; line-height:25px; font-size:12px;}
.list1_content{background:#fafdff; color:#444444;}
.list1_content_titile{background:#e3f5ff; height:25px;}
.list1_content_i{background:#fafdff; text-align:left; padding-left:5px;}
.list1_content_i a{ color:#0066FF; text-decoration:none;}
.list1_content_i a:hover{ color:#FF0033; text-decoration:underline;}

.list1_content a{ color:#0066FF; text-decoration:none;}
.list1_content a:hover{ color:#FF0033; text-decoration:underline;}
.list1_content span{ padding:0px 2px; color:#0066FF;}

/*____________________内容管理__________________________________________________________*/
.div_top{ width:95%; margin:0px auto; padding:2px; border:1px solid #84d5fe; margin-top:20px;}
.div_title{background:#279cd8; color:#FFFFFF; font-weight:bold; height:25px; line-height:25px; font-size:14px; text-align:center; }
.div_content{ height:25px; line-height:25px; color:#0066FF; padding-left:5px;}
.div_content span{ color:#333333;}
.div_content a{ color:#0066FF; text-decoration:none; margin:0px 2px; font-weight:bold;}
.div_content1{ height:25px; line-height:25px; padding-left:5px; color:#FF0099;}
.div_content1 span{ color:#333333;}
.div_content1 a{color:#FF0099; margin:0px 2px; text-decoration:none;}
.div_content1 a:hover{ text-decoration:underline;}
.input_bottom{  height:25px; line-height:25px; background:#eff1f1;  color:#333333;}
.input_search{ color:#666666; padding-left:5px;}
.input_search span{ color:#000000;}
.input_search input{ margin-left:5px; margin-right:5px;}

/*___________________栏目管理_______________________________________________________*/
.list1_lm{ background:#1793d8; height:25px; line-height:25px; color:#ffffff;}
.list1_lm1 a,.list1_lm2 a,.list1_lm3 a{ padding:0px 3px; color:#333333; text-decoration:none;}
.list1_lm1 a:hover,.list1_lm2 a:hover{ text-decoration:underline;}
.list1_lm1{ height:25px; line-height:25px; background:#F9F9F9; color:#333333;}
.list1_lm11{height:25px; line-height:25px; background:#F9F9F9 url(table.gif) no-repeat 2px 7px; color:#333333; font-weight:bold; padding-left:15px;}
.list1_lm2{height:25px; line-height:25px; background:#E6E6E6; color:#444444;}
.list1_lm22{height:25px; line-height:25px; background:#E6E6E6 url(table1.gif) no-repeat 12px 7px; color:#0033FF; padding-left:25px;}
.list1_lm3{height:25px; line-height:25px; background:#BBBBBB; color:#ffffff;}
.list1_lm33{height:25px; line-height:25px; background:#BBBBBB url(table1.gif) no-repeat 22px 7px; color:#ffffff; padding-left:35px;}
span.list2 a{ color:#0033FF; text-decoration:none;}
span.list2 a:hover{ }
span.list3{ background:#000000;}
span.list8 a{ color:#FF0000; text-decoration:none;}
span.list8 a:hover{ color:#333333;}


span.span_index{ color:#444444 !important; font-size:12px; margin-right:30px; padding-left:0px !important;}
span.span_index a{ color:#3399FF;}
font.t6{ color:#FF0000; padding:0px 3px;}
font.t4{ color:#0099FF;}
.in{ font-weight:bold; font-size:12px !important;}


.sjk input{ margin:0px 5px;}
.au{ height:25px; line-height:25px; background:#e3f5ff; padding-left:5px; color:#333333; text-align:left;}
.au1{background:#1793d8; height:25px; line-height:25px; padding-left:10px;  text-align:left;}
.au a{ color:#0066FF; padding:0px 2px;}
.au_text{ color:#333333; padding-left:5px; line-height:20px;  text-align:left;}
.title_add{ color:#0066FF;}
.title_add:hover{ color:#FF0000;}
.list7{ color:#0099FF; text-decoration:none; font-weight:normal;}
.list7:hover{ text-decoration:underline;}
.list6{ text-decoration:none; color:#666666;}
.list6:hover{ text-decoration:underline;}
.list9 a:link{ color:#333333; text-decoration:none; font-weight:normal;}
.tj{ color:#333333;}
.editormenu{ color:#0066FF;} 


/*______login___________*/
.loginlang{ width:100%; font-family:Arial, Helvetica, sans-serif; background-color:#0295d2; height:20px;  margin:auto auto auto auto; padding:2px 0px 2px 0px; text-align:left; color:#FF9501; }
.loginlang b{color:#FFFFFF;}
.login{ width:500px; height:245px; background:url(login_bg.gif) no-repeat 0px 0px; margin:150px auto auto auto; border:1px solid #279cd8; }
.login_title{width:100%; height:45px; border-bottom:2px solid #EDEDED;  line-height:45px; font-size:14px; color:#FFFFFF; font-weight:bold;}
.login_img{ width:200px; height:145px; float:left; text-align:center;}
.login_img img{ border:0px; margin-top:30px; }
.login_img span a{ color:#FFC000; font-size:12px; list-style:none; font-weight:bold; text-decoration:none; }
.login_right{ width:290px; height:145px; float:right; }
.login_log{ width:100%; height:50px; font-weight:bold; font-size:12px; color:#ffffff; line-height:50px; margin-top:10px; width:220px;}
.login_text{ width:100%; height:30px; color:#ffffff; line-height:30px; text-align:left;}
.login_text img{ position:relative; bottom:5px; *bottom:1px;}
.login_text input{ width:150px; height:20px; }
.text_input input{ height:23px; }