<!--<?php
echo <<<EOT
-->

<div class="nav_right">$class1_info[c_name]</div>
<div class="product_list1">
<div id="button">
<ul>
<!--
EOT;
$i=$class1_info[id];
foreach($nav_list2[$i] as $key=>$val){
echo <<<EOT
-->

<li onmousedown="showhide($val[id])" ><a href="$val[c_url]">$val[c_name]</a></li>
<span id="$val[id]" style="padding-left:20px;display:none">
<!--
EOT;
$j=$val[id];
foreach($nav_list3[$j] as $key=>$val1){
echo <<<EOT
-->

<li><a href="$val1[c_url]">--$val1[c_name]</a></li>
<!--
EOT;
}
echo <<<EOT
-->

</span>
<!--
EOT;
}
echo <<<EOT
-->

</ul>
</div> 
<script type="text/javascript">
document.getElementById($class2).style.display="block";
function showhide(d)
{       
        var d1=document.getElementById(d);
        if(d1.style.display=="none")
        {
         d1.style.display="block";
        }
        else
        {
		d1.style.display="none";
        }
}

</script>
<!--
EOT;
?>