<!--<?php
require_once template('head'); 
require_once template('flash'); 
echo <<<EOT
-->

<div class="web">
<!--左边开始-->
<div class="web_left">
<!--
EOT;
require_once template('leftlist'); 
echo <<<EOT
-->
</div>
<div class="contact_left">

<!--
EOT;
require_once template('online'); 
echo <<<EOT
-->
</div>
</div>
<!--左边结束-->
<div class="rightcontent">
<div class="nav_left"><img src="$img_url/list1.gif" />$nav_x[c_name]</div>
<h1>$product[c_title]</h1>
<div class="content">
<div class="product_list2">
<div class="product_list_img"><a href="$product[imgurl]" target="_blank"><img src="$product[imgurls]" alt="查看大图" /></a></div>
<div class="product_list_para">
<!--
EOT;
foreach($product_para200 as $key=>$val1){
$para_no="c_".$val1[name];
echo <<<EOT
-->
$val1[c_mark]:$product[$para_no]<br />
<!--
EOT;
}
echo <<<EOT
-->
</div>
<div class="product_list_detail"><a href="../feedback/index.php?title=$product[c_title]" target="_blank">购买反馈>></a></div>
</div>
</div>
<div class="content">
<div class="content">$product[c_content]</div>

<div class="hits">点击数：<span><script language="javascript" src="../include/hits.php?type=product&id=$product[id]"></script></span>&nbsp; 更新时间:$product[updatetime]&nbsp;【<a href='javascript:window.print()'>打印此页</a>】&nbsp;【<a href="javascript:self.close()">关闭</a>】</div>

</div>
</div>
</div>
<!--
EOT;
require_once template('foot'); 
?>