<?php require_once('templates/header.htm'); ?>
<body>
<div class="body">
<div class="head">
<div class="logo"><img src="images/logosmall.gif" width="40" /></div>
<div class="headtext">MetInfo企业网站管理系统升级安装</div>
<div class="headright">第一步：阅读升级说明</div>
</div>
<div class="content">
<br>
  <p style="color:#FF0000"><b>升级前请先备份网站数据库！</b></p>
  <p><b>运行此升级包前请确认已经将升级文件全部上传至空间并替换V1.1的文件！</b></p>
  <p><b>V1.2升级说明：</b><br>
    1、修复了后台栏目删除的错误；<br>
    2、新增了首页栏目调用配置标识功能，使首页展示更加灵活；<br>
    3、新增了备用字段和备用图片字段功能，更有利于模板设计的灵活性；<br>
    4、新增了前台横向导航条超链接功能；<br>
    5、新增了模板配置导航和模板风格预览功能；</p>
  <p><b>使用协议：</b><br />
    1、个人学习或研究,可以免费使用本程序。如果是商业用途，请自觉购买商业版，否则我们会追究法律责任； <br />
    2、非商业版，在使用之时，请务必在网站底部保留 Powered by <a href="http://www.metinfo.cn" target="_blank">MetInfo</a> 的字样和链接，只有经过官方授权才可去除；<br />
    3、免费使用本程序，在使用过程中，出现任何不可预料的后果，官方不承担任何责任；<br />
    4、开发本系统花费了官方大量的精力，官方保留对系统的所有产权；</p>
  <p>官方网站： <a href="http://www.metinfo.cn" target="_blank">http://www.metinfo.cn</a>    购买咨询： QQ：426507856 MSN:navyok@hotmail.com<br />
</p>
<form name="myform" method="post" action="index.php?action=inspect" style="text-align:center;"><input type="submit" name="submit" class="btn2" value="我已仔细阅读以上协议并同意升级安装" /></form> 
</div>
</div>
<?php require_once('templates/footer.htm');?>